<% cache entry do %>
  <article class="entry entry--photo" role="main">
    <% entry.photos.each do |photo| %>
      <div class="entry__photo-container entry__photo-container--amp">
        <figure class="entry__figure">
          <%= amp_image_tag photo,
              'entry',
              alt: photo.alt_text,
              class: 'entry__photo' %>
        </figure>
      </div>
    <% end %>

    <div class="entry__body">
      <h1 class="entry__headline">
        <%= sanitize entry.plain_title %>
      </h1>
      <%= sanitize entry.formatted_body unless entry.body.blank? %>
    </div>

    <div class="entry__meta">
      <%= render partial: 'entries/entry/byline', object: entry, as: :entry %>
      <%= render partial: 'entries/entry/exif', object: entry.photos.first, as: :photo if entry.is_single_photo? %>
      <%= render partial: 'entries/entry/tags', object: entry.combined_tags, as: :tags %>
    </div>
  </article>
<% end %>
