<% cache entry do %>
  <article role="main" class="entry" data-controller="photo" data-photo-container-max-width="1680">
    <%= render partial: 'entries/entry/photo', collection: entry.photos, as: :photo %>
    <div class="entry__body">
      <h2 class="entry__headline">
        <%= sanitize entry.plain_title %>
      </h2>
      <%= sanitize entry.formatted_body unless entry.body.blank? %>
    </div>
    <aside class="entry__meta" aria-labelledby="entry-meta">
      <h2 id="entry-meta" class="sr-only">About <% if entry.is_photoset? %>these photos<% elsif entry.is_photo? %>this photo<% else %>this entry<% end %></h2>
      <%= render partial: 'entries/entry/byline', object: entry, as: :entry %>
      <%= render partial: 'entries/entry/exif', object: entry.photos.first, as: :photo if entry.is_single_photo? %>
      <%= render partial: 'entries/entry/tags', object: entry.combined_tags, as: :tags %>
    </aside>
  </article>
  <%= render partial: 'entries/entry/pagination', object: entry, as: :entry %>
<% end %>
