<% cache entry do %>
  <article role="main" class="entry" data-controller="photo" data-photo-container-max-width="1680">
    <%= render partial: 'entries/entry/photo', collection: @photos, as: :photo %>
    <div class="entry__body">
      <h2 class="entry__headline <%= 'entry__headline--no-body' if entry.body.blank? %>">
        <%= remove_widows(entry.plain_title).html_safe %>
      </h2>
      <%= entry.formatted_body unless entry.body.blank? %>
      <hr>
      <p>Did you like this photo? If so, please consider supporting me by <a target="_blank" rel="sponsored nofollow noopener" href="https://www.amazon.com/ref=as_li_ss_tl?ie=UTF8&linkCode=ll2&tag=allencompassingtrip-20&linkId=58a87fa67f923f504c8022fde5e86819&language=en_US">shopping at Amazon from this link</a> or buying something from my <a href="https://www.gesteves.com/books/photography/">list of recommended photography books</a>. I'll get a small commission from anything you buy during your visit, which helps me keep this website and some of my other projects running. Thanks!</p>
    </div>
    <aside class="entry__meta" aria-labelledby="entry-meta">
      <h2 id="entry-meta" class="sr-only">About <% if entry.is_photoset? %>these photos<% elsif entry.is_photo? %>this photo<% else %>this entry<% end %></h2>
      <%= render partial: 'entries/entry/byline', object: entry, as: :entry %>
      <%= render partial: 'entries/entry/exif', object: @photos.first, as: :photo if entry.is_single_photo? %>
      <%= render partial: 'entries/entry/tags', object: entry.combined_tags, as: :tags %>
    </aside>
  </article>
  <%= render partial: 'entries/entry/pagination', object: entry, as: :entry %>
<% end %>
