<p class="exif">
  <% if photo.taken_with.present? %>
    <span class="exif__field">
      <%= photo.taken_with %>
    </span>
  <% end %>

  <% unless photo.is_phone_camera? %>
    <% if photo.focal_length.present? %>
      <span class="exif__field"><%= photo.focal_length_with_unit %> <span class="exif__optional">focal length</span></span>
    <% end %>

    <% if photo.exposure.present? && photo.f_number.present? %>
      <span class="exif__field"><%= photo.formatted_exposure %> at <%= photo.formatted_aperture %></span>
    <% elsif photo.exposure.present? %>
      <span class="exif__field"><%= photo.formatted_exposure %></span>
    <% elsif photo.f_number.present? %>
      <span class="exif__field"><%= photo.formatted_aperture %></span>
    <% end %>

    <% if photo.iso.present? %>
      <span class="exif__field">ISO <%= photo.iso %></span>
    <% end %>
  <% end %>
</p>
