<% if photo.camera.present? %>
  <p class="exif">
    Photographed with <%= photo.camera.article %> <%= photo.camera.display_name %>
    <% if photo.lens.present? && !photo.camera.is_phone? %>
      + <%= photo.lens.display_name %>
    <% end %>
    <% if photo.film.present? %>
      on <%= photo.film.display_name %>
    <% end %>
  </p>
  <% if !photo.film.present? && !photo.camera.is_phone? %>
    <ul class="exif" aria-label="EXIF Data">
      <% if photo.focal_length.present? %>
        <li class="exif__field"><%= photo.focal_length_with_unit %> focal length</li>
      <% end %>
      <% if photo.exposure.present? && photo.f_number.present? %>
        <li class="exif__field"><%= photo.formatted_exposure %> at <%= photo.formatted_aperture %></li>
      <% elsif photo.exposure.present? %>
        <li class="exif__field"><%= photo.formatted_exposure %></li>
      <% elsif photo.f_number.present? %>
        <li class="exif__field"><%= photo.formatted_aperture %></li>
      <% end %>
      <% if photo.iso.present? %>
        <li class="exif__field">ISO <%= photo.iso %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
