<% cache [@photoblog, entry] do %>
  <% unless entry.is_published? %>
    <meta name="robots" content="noindex">
  <% end %>

  <% if entry.is_photo? %>
    <% photo = @photos.first %>
    <% meta_description = truncate(photo.alt_text, length: 200) %>
  <% else %>
    <% meta_description = truncate(entry.plain_body, length: 200) %>
  <% end %>
  <title><%= sanitize @page_title %></title>
  <meta name="description" content="<%= meta_description %>">

  <%# Facebook meta tags %>
  <meta property="og:title" content="<%= entry.plain_title %>">
  <meta property="og:description" content="<%= meta_description %>">
  <meta property="og:url" content="<%= entry.permalink_url %>">
  <meta property="og:type" content="Article">
  <meta property="og:site_name" content="<%= @photoblog.name %>">
  <meta property="og:locale" content="en_US">
  <% if entry.is_photo? %>
    <meta property="og:image" content="<%= photo.facebook_open_graph_url %>">
    <% if photo.alt_text.present? %>
      <meta name="og:image:alt" content="<%= photo.alt_text %>">
    <% end %>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
  <% end %>

  <%# Twitter meta tags %>
  <% if @photoblog.twitter.present? %>
    <% twitter_username = "@#{@photoblog.twitter.gsub(/^https:\/\/(www\.)?twitter.com\//, '')}" %>
    <meta name="twitter:site" content="<%= twitter_username %>">
    <meta name="twitter:creator" content="<%= twitter_username %>">
  <% end %>
  <meta name="twitter:title" content="<%= entry.plain_title %>">
  <meta name="twitter:description" content="<%= meta_description %>">
  <meta name="twitter:url" content="<%= entry.permalink_url %>">
  <% if entry.is_photo? %>
    <meta name="twitter:image" content="<%= photo.twitter_card_url %>">
    <% if photo.alt_text.present? %>
      <meta name="twitter:image:alt" content="<%= photo.alt_text %>">
    <% end %>
    <meta name="twitter:card" content="summary_large_image">
  <% else %>
    <% if @photoblog.touch_icon.attached? %>
      <meta name="twitter:image" content="<%= @photoblog.touch_icon_url(w: 192) %>">
    <% end %>
    <meta name="twitter:card" content="summary">
  <% end %>
  <%= auto_discovery_link_tag :atom, feed_url(format: 'atom'), title: @photoblog.name %>
  <link rel="alternate" type="application/json+oembed" href="<%= oembed_url + "?url=#{URI.encode entry.permalink_url}&format=json" %>">
  <link rel="alternate" type="text/xml+oembed" href="<%= oembed_url + "?url=#{URI.encode entry.permalink_url}&format=xml" %>">
  <link rel="canonical" href="<%= entry.permalink_url %>">
  <script type="application/ld+json">
    <%= sanitize render partial: 'entries/entry/schema.json.jbuilder', object: entry, as: :entry, locals: { meta_description: meta_description } %>
  </script>
<% end %>
