<nav class="pagination" aria-labelledby="pagination">
  <h2 id="pagination" class="sr-only">Pagination</h2>
  <span class="pagination__item">
    <% if entry.older.blank? %>
      <span class="pagination__link pagination__link--inactive"><%= inline_svg :angle_left, class_name: 'pagination__icon' %><%= t('views.pagination.previous').html_safe %></span>
    <% else %>
      <%= link_to entry.older.permalink_url, class: 'pagination__link' do %>
        <%= inline_svg :angle_left, class_name: 'pagination__icon' %><span><%= t('views.pagination.previous').html_safe %></span>
      <% end %>
    <% end %>
  </span>
  <span class="pagination__item">
    <% if entry.newer.blank? %>
      <span class="pagination__link pagination__link--inactive"><%= t('views.pagination.next').html_safe %><%= inline_svg :angle_right, class_name: 'pagination__icon' %></span>
    <% else %>
      <%= link_to entry.newer.permalink_url, class: 'pagination__link' do %>
        <span><%= t('views.pagination.next').html_safe %></span><%= inline_svg :angle_right, class_name: 'pagination__icon' %>
      <% end %>
    <% end %>
  </span>
</nav>

