<% cache entry do %>
  <article class="entry entry--photo" role="main" data-controller="photo" data-photo-container-max-width="1680">
    <% entry.photos.each do |photo| %>
      <div class="entry__photo-container entry__photo-container--zoom" style="<%= "#{css_aspect_ratio(photo)}#{css_gradient_stops(photo)}" %>">
        <figure class="entry__figure">
          <%= responsive_image_tag photo,
              'entry',
              { class: photo.width.present? && photo.height.present? ? 'entry__photo' : 'entry_photo entry__photo--relative',
                alt: photo.alt_text,
                'data-photo-width': photo.width,
                'data-photo-height': photo.height,
                'data-action': 'click->photo#zoom',
                'data-target': 'photo.photo' } %>
        </figure>
      </div>
    <% end %>

    <div class="entry__body">
      <h1 class="entry__headline">
        <%= sanitize entry.plain_title %>
      </h1>
      <%= sanitize entry.formatted_body unless entry.body.blank? %>
    </div>

    <div class="entry__meta">
      <%= render partial: 'entries/entry/byline', object: entry, as: :entry %>
      <%= render partial: 'entries/entry/exif', object: entry.photos.first, as: :photo if entry.is_single_photo? %>
      <%= render partial: 'entries/entry/tags', object: entry.combined_tags, as: :tags %>
    </div>
  </article>
<% end %>
