<% cache @photoblog do %>
  <title><%= sanitize @page_title %></title>
  <meta name="description" content="<%= truncate @photoblog.plain_about, length: 200 %>">
  <link rel="canonical" href="<%= about_url %>">

  <meta property="og:title" content="About <%= @photoblog.name %>">
  <% if @photoblog.logo.attached? %>
    <meta property="og:image" content="<%= @photoblog.logo_url(w: 1200, h: 630, fm: 'png', pad: 100, fit: 'fill', bg: 'fff') %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
  <% end %>
  <meta property="og:description" content="<%= truncate @photoblog.plain_about, length: 200 %>">
  <meta property="og:url" content="<%= about_url %>">
  <meta property="og:type" content="Website">
  <meta property="og:site_name" content="<%= @photoblog.name %>">
  <meta property="og:locale" content="en_US">

  <% if @photoblog.twitter.present? %>
    <meta name="twitter:site" content="@<%= @photoblog.twitter_handle %>">
    <meta name="twitter:creator" content="@<%= @photoblog.twitter_handle %>">
  <% end %>
  <meta name="twitter:title" content="About <%= @photoblog.name %>">
  <meta name="twitter:url" content="<%= about_url %>">
  <meta name="twitter:description" content="<%= truncate @photoblog.plain_about, length: 200 %>">
  <% if @photoblog.touch_icon.attached? %>
    <meta name="twitter:image" content="<%= @photoblog.touch_icon_url(w: 192) %>">
  <% end %>
  <meta name="twitter:card" content="summary">
  <%= auto_discovery_link_tag :atom, feed_url(format: 'atom'), title: @photoblog.name %>
<% end %>
