<% content_for :meta do %>
  <% cache "#{@app_version}/blog/about/meta/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
    <title>About <%= @photoblog.name %></title>
    <meta name="description" content="<%= truncate @photoblog.plain_about, length: 200 %>">
    <link rel="canonical" href="<%= about_url %>">

    <meta property="og:title" content="About <%= @photoblog.name %>">
    <meta property="og:image" content="<%= image_url 'cover.png' %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:description" content="<%= truncate @photoblog.plain_about, length: 200 %>">
    <meta property="og:url" content="<%= about_url %>">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="<%= @photoblog.name %>">
    <meta property="og:locale" content="en_US">

    <meta name="twitter:site" content="@gesteves">
    <meta name="twitter:creator" content="@gesteves">
    <meta name="twitter:title" content="About <%= @photoblog.name %>">
    <meta name="twitter:url" content="<%= about_url %>">
    <meta name="twitter:description" content="<%= truncate @photoblog.plain_about, length: 200 %>">
    <meta name="twitter:image" content="<%= image_url 'cover.png'  %>">
    <meta name="twitter:card" content="summary_large_image">
  <% end %>
<% end %>

<% cache "#{@app_version}/blog/about/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <%= stylesheet_link_tag 'components/entry', media: 'all' %>
  <article class="entry entry--text">
    <div class="entry__body">
      <h1 class="entry__headline">About <%= @photoblog.name %></h1>
      <%= sanitize @photoblog.formatted_about %>
    </div>
  </article>
<% end %>
