<% content_for :meta do %>
  <% cache "blog/about/meta/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
    <title>About <%= @photoblog.name %></title>
    <meta name="description" content="<%= truncate @photoblog.plain_about, length: 200 %>">
    <link rel="canonical" href="<%= about_url %>">

    <meta property="og:title" content="About <%= @photoblog.name %>">
    <meta property="og:image" content="<%= @photoblog.entries.photo_entries.published.first.photos.first.url(w: 1200, h: 628) %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:description" content="<%= truncate @photoblog.plain_about, length: 200 %>">
    <meta property="og:url" content="<%= about_url %>">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="<%= @photoblog.name %>">
    <meta property="og:locale" content="en_US">

    <% if @photoblog.twitter.present? %>
      <meta name="twitter:site" content="@<%= @photoblog.twitter.gsub(/^@/, '') %>">
      <meta name="twitter:creator" content="@<%= @photoblog.twitter.gsub(/^@/, '') %>">
    <% end %>
    <meta name="twitter:title" content="About <%= @photoblog.name %>">
    <meta name="twitter:url" content="<%= about_url %>">
    <meta name="twitter:description" content="<%= truncate @photoblog.plain_about, length: 200 %>">
    <meta name="twitter:card" content="summary">
  <% end %>
<% end %>

<% content_for :typekit do %>
  <%= render partial: 'partials/typekit', locals: { typekit_id: ENV['typekit_body_id'] } if ENV['typekit_body_id'].present? && @photoblog.about.present? %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'components/header', media: 'all' %>
  <%= stylesheet_link_tag 'components/entry', media: 'all' %>
  <%= stylesheet_link_tag 'components/elsewhere', media: 'all' %>
  <%= stylesheet_link_tag 'components/footer', media: 'all' %>
<% end %>

<% cache "blog/about/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <article class="entry entry--text">
    <div class="entry__body">
      <h1 class="entry__headline">About <%= @photoblog.name %></h1>
      <%= sanitize @photoblog.formatted_about %>
    </div>
  </article>
  <%= render partial: 'partials/elsewhere' %>
<% end %>
