<% content_for :head do %>
  <%= render partial: 'head', cached: true %>
<% end %>

<% content_for :typekit do %>
  <%= render partial: 'partials/typekit', locals: { typekit_id: ENV['typekit_body_id'] } if ENV['typekit_body_id'].present? && @photoblog.about.present? %>
<% end %>

<article class="entry entry--text">
  <div class="entry__body">
    <h1 class="entry__headline">About <%= @photoblog.name %></h1>
    <%= sanitize @photoblog.formatted_about %>
  </div>
</article>
<%= render partial: 'partials/elsewhere' %>
