<% cache "entry/#{entry.id}/#{entry.updated_at.to_i}" do %>
  <article class="entry <% if entry.is_text? %>entry--text<% else %>entry--photo<% end %>">
    <% entry.photos.each do |photo| %>
      <figure class="entry__photo">
        <%= responsive_image_tag photo,
            'entry',
            { class: "entry__image entry__image--fit", 'data-width-original': photo.width, 'data-height-original': photo.height } %>
        <% unless photo.caption.blank? %>
          <figcaption>
            <%= raw photo.formatted_caption %>
          </figcaption>
        <% end %>
      </figure>
    <% end %>

    <div class="entry__body">
      <h1 class="entry__headline">
        <% if entry.is_text? %>
          <%= link_to raw(entry.formatted_title), permalink_url(entry) %>
        <% else %>
          <%= raw(entry.formatted_title) %>
        <% end %>
      </h1>
      <%= raw(entry.formatted_body) unless entry.body.blank? %>
    </div>

    <div class="entry__meta">
      <p>
        <%= entry.user.name %>

        <% if entry.is_published? %>
          published
        <% elsif entry.is_queued? %>
          queued
        <% elsif entry.is_draft? %>
          drafted
        <% else %>
          updated
        <% end %>

        <% if entry.is_text? %>
          this article
        <% elsif entry.is_photoset? %>
          these photos
        <% elsif entry.is_photo? %>
          this photo
        <% end %>
        on
        <% if entry.is_published? %>
          <%= link_to entry.published_at.strftime('%B %-d, %Y'), permalink_url(entry) %>
        <% else %>
          <%= link_to entry.updated_at.strftime('%B %-d, %Y'), preview_admin_entry_url(entry) %>
        <% end %>
      </p>
      <%= render partial: 'entries/exif', object: entry.photos.first if entry.photos.count == 1 %>
      <%= render partial: 'entries/tags', object: entry.tags unless entry.tags.blank? %>
      <%= render partial: 'entries/share', object: entry if entry.is_photo? %>
    </div>
  </article>
<% end %>
