<% cache "entry/#{entry.id}/#{entry.updated_at.to_i}" do %>
  <article class="entry <% if entry.is_text? %>entry--text<% end %>">
    <% entry.photos.each do |photo| %>
      <figure class="entry__photo">
        <%= link_to permalink(entry) do %>
          <%= responsive_image_tag photo,
              photo_sizes,
              "(min-width: 1920px) 1920px, 100vw",
              { default_width: 1280, quality: photoblog.photo_quality },
              { class: "entry__image", 'data-height': photo.height } %>
        <% end %>
        <% unless photo.caption.blank? %>
          <figcaption>
            <%= raw entry.formatted_caption %>
          </figcaption>
        <% end %>
      </figure>
    <% end %>

    <div class="entry__body">
      <% if entry.is_text? %>
        <h1 class="entry__headline entry__headline--text"><%= link_to raw(entry.formatted_title), permalink(entry) %></h1>
      <% else %>
        <h1 class="entry__headline"><%= raw(entry.formatted_title) %></h1>
      <% end %>
      <%= raw(entry.formatted_body) unless entry.body.blank? %>
    </div>

    <div class="entry__meta">
      <div class="entry__info">
        <p>
          Published on <%= link_to entry.published_at.strftime('%B %-d, %Y'), permalink(entry) %>
          <%= render partial: 'exif', object: entry.photos.first if entry.photos.count == 1 %>
        </p>
      </div>

      <% unless entry.tags.blank? %>
        <p class="tags">
          <% entry.tags.each do |tag| %>
            <a href="#" rel="tag"><%= tag.name %></a>
          <% end %>
        </p>
      <% end %>
    </div>
  </article>
<% end %>
