<% lazy_load = !local_assigns[:lazy_load_start_index] || entry_counter >= lazy_load_start_index %>
<% cache "#{@app_version}/entry/list/lazy_load:#{lazy_load}/#{entry.id}/#{entry.updated_at.to_i}" do %>
  <li class="entry-list__item" role="article">
    <a class="entry-list__link <%= entry.is_photo? ? 'entry-list__link--photo' : 'entry-list__link--text' %>" href="<%= entry.permalink_url %>">
      <% if entry.is_photo? %>
        <figure class="entry-list__photo">
          <% if lazy_load %>
            <%= lazy_responsive_image_tag entry.photos.first,
                  'entry_list_item',
                  { class: 'entry-list__image', alt: entry.photos.first.caption.blank? ? entry.title : entry.photos.first.plain_caption } %>
          <% else %>
            <%= responsive_image_tag entry.photos.first,
                  'entry_list_item',
                  { class: 'entry-list__image', alt: entry.photos.first.caption.blank? ? entry.title : entry.photos.first.plain_caption } %>
          <% end %>
          <figcaption class="entry-list__photo-caption">
            <p class="entry-list__photo-title"><%= sanitize truncate(entry.plain_title, length: 80, separator: ' ', omission: '…', escape: false) %></p>
            <p class="entry-list__photo-meta">Published on <%= entry.published_at.strftime('%B %-d, %Y') %></p>
            <% if entry.is_photoset? %>
              <p class="entry-list__photo-meta"><%= pluralize(entry.photos_count, 'photo') %></p>
            <% else %>
              <% photo = entry.photos.first %>
              <p class="entry-list__photo-meta">
                <% if photo.make.present? && photo.model.present? %>
                  <span class="exif__field">
                    <%= photo.formatted_camera %>
                  </span>
                <% end %>
                <% if photo.film_make.present? && photo.film_type.present? %>
                  <span class="exif__field">
                    <%= photo.formatted_film %>
                  </span>
                <% end %>
                <% if photo.focal_length.present? %>
                  <span class="exif__field"><%= photo.focal_length %> mm</span>
                <% end %>
                <% if photo.exposure.present? %>
                  <span class="exif__field">
                    <%= exposure photo.exposure %>
                  </span>
                <% end %>
                <% if photo.f_number.present? %>
                  <span class="exif__field">
                    f/<%= aperture photo.f_number %>
                  </span>
                <% end %>
                <% if photo.iso.present? %>
                  <span class="exif__field">ISO <%= photo.iso %></span>
                <% end %>
              </p>
            <% end %>
          </figcaption>
        </figure>
      <% else %>
        <h2><%= entry.plain_title %></h2>
        <%= simple_format(truncate(entry.plain_body, length: 1200, omission: '…')) %>
      <% end %>
    </a>
  </li>
<% end %>
