<% cache "entry/pagination/#{@photoblog.id}/#{@photoblog.updated_at.to_i}/#{entry_pagination.id}/#{entry_pagination.updated_at.to_i}" do %>
  <nav class="pagination pagination--entry" role="navigation">
    <% if entry_pagination.newer.nil? %>
      <span class="pagination__arrow"><%= inline_svg 'chevron_left', 'pagination__icon' %></span>
    <% else %>
      <a href="<%= entry_pagination.newer.permalink_url %>" rel="prev" class="pagination__arrow">
        <%= inline_svg 'chevron_left', 'pagination__icon pagination__icon--active' %>
      </a>
    <% end %>
    <% unless entry_pagination.around.blank? %>
      <ol class="pagination__thumbnails">
        <%= render partial: 'entries/entry_pagination_thumbnail', collection: entry_pagination.around, locals: { active_id: entry_pagination.id } %>
      </ol>
    <% end %>
    <% if entry_pagination.older.nil? %>
      <span class="pagination__arrow"><%= inline_svg 'chevron_right', 'pagination__icon' %></span>
    <% else %>
      <a href="<%= entry_pagination.older.permalink_url %>" rel="next" class="pagination__arrow">
        <%= inline_svg 'chevron_right', 'pagination__icon pagination__icon--active' %>
      </a>
    <% end %>

  </nav>
<% end %>
