<li class="entry-list__item <%= 'entry-list__item--text' if entry_list_item.is_text? %>">
  <% if entry_list_item.is_photo? %>
    <a class="entry-list__link" href="<%= permalink_url(entry_list_item) %>">
      <figure class="entry-list__photo">
        <%= responsive_image_tag entry_list_item.photos.first,
                [300],
                '100vw',
                { quality: @photoblog.photo_quality, square: true },
                { class: 'entry-list__image' } %>
        <figcaption class="entry-list__photo-title">
          <%= raw entry_list_item.formatted_title %>
        </figcaption>
      </figure>
    </a>
  <% else %>
    <h2><%= link_to entry_list_item.formatted_title, permalink_url(entry_list_item) %></h2>
    <%= simple_format(truncate(entry_list_item.plain_body, length: 150, omission: '…')) %>
  <% end %>
</li>
