<% cache "entry/#{entry.id}/#{entry.updated_at.to_i}" do %>
  <article class="entry <% if entry.is_text? %>entry--text<% else %>entry--photo<% end %>">
    <% entry.photos.each do |photo| %>
      <figure class="entry__photo" <%= background_blur(photo) %>>
        <%= responsive_image_tag photo,
            'entry',
            { class: "entry__image entry__image--fit",
              alt: entry.photos.first.caption.blank? ? entry.title : entry.photos.first.plain_caption,
              'data-width-original': photo.width,
              'data-height-original': photo.height } %>
        <% unless photo.caption.blank? %>
          <figcaption>
            <%= raw photo.formatted_caption %>
          </figcaption>
        <% end %>
      </figure>
    <% end %>

    <div class="entry__body">
      <h1 class="entry__headline">
        <% if entry.is_text? %>
          <%= link_to raw(entry.formatted_title), permalink_url(entry) %>
        <% else %>
          <%= raw(entry.formatted_title) %>
        <% end %>
      </h1>
      <%= raw(entry.formatted_body) unless entry.body.blank? %>
    </div>

    <div class="entry__meta">
      <%= render partial: 'entries/byline', locals: { entry: entry } %>
      <%= render partial: 'entries/exif', locals: { photo: entry.photos.first } if entry.photos.count == 1 %>
      <%= render partial: 'entries/tags', object: entry.tags unless entry.tags.blank? %>
      <%= render partial: 'entries/share', locals: { entry: entry } if entry.is_photo? %>
    </div>
  </article>
<% end %>
