<% cache "entry/list_item/observe/#{local_assigns[:page_url] && observe && entry_counter == 0 ? page_url : false}/lazy-load/#{lazy_load}/square/#{square}/#{entry.id}/#{entry.updated_at.to_i}" do %>
  <% photo = entry.photos.first %>
  <% image_variant = square ? 'entry_list_square' : 'entry_list' %>
  <li class="entry-list__item" role="article" <%= entry_list_item_observer(page_url) if observe && entry_counter == 0 %>>
    <div class="entry-list__wrapper" style="<%= "#{intrinsic_ratio_padding(photo, { square: square })};#{image_placeholder(photo)}" %>">
      <a class="entry-list__link" href="<%= entry.permalink_url %>">
        <figure class="entry-list__photo">
          <% if lazy_load %>
            <%= lazy_responsive_image_tag photo,
                  image_variant,
                  { class: 'entry-list__image', alt: photo.alt_text, 'data-controller': 'lazy-load' } %>
            <noscript>
              <%= responsive_image_tag photo,
                    image_variant,
                    { class: 'entry-list__image', alt: photo.alt_text } %>
            </noscript>
          <% else %>
            <%= responsive_image_tag photo,
                  image_variant,
                  { class: 'entry-list__image', alt: photo.alt_text } %>
          <% end %>
          <%= render partial: 'entries/entry_list_item_caption', locals: { entry: entry, photo: photo } %>
        </figure>
      </a>
    </div>
  </li>
<% end %>
