<% cache "#{@app_version}/entry/pagination/#{@photoblog.id}/#{@photoblog.updated_at.to_i}/#{entry.id}/#{entry.updated_at.to_i}" do %>
  <%= stylesheet_link_tag 'components/pagination', media: 'all' %>
  <nav class="pagination" role="navigation">
    <span class="pagination__link">
      <% if entry.newer.nil? %>
        <span class="pagination__prev"><%= t('views.entry_pagination.next').html_safe %></span>
      <% else %>
        <%= link_to t('views.entry_pagination.next').html_safe, entry.newer.permalink_url, rel: 'prev', class: 'pagination__prev' %>
      <% end %>
    </span>

    <span class="pagination__link pagination__link--next">
      <% if entry.older.nil? %>
        <span class="pagination__next"><%= t('views.entry_pagination.previous').html_safe %></span>
      <% else %>
        <%= link_to t('views.entry_pagination.previous').html_safe, entry.older.permalink_url, rel: 'next', class: 'pagination__next' %>
      <% end %>
    </span>
  </nav>
<% end %>
