<% cache "entry/#{entry.id}/#{entry.updated_at.to_i}" do %>
  <article class="entry <% if entry.is_text? %>entry--text<% else %>entry--photo<% end %>">
    <% entry.photos.each do |photo| %>
      <figure class="entry__photo">
        <%= responsive_image_tag photo,
            'entry',
            { class: "entry__image entry__image--fit", 'data-width-original': photo.width, 'data-height-original': photo.height } %>
        <% unless photo.caption.blank? %>
          <figcaption>
            <%= raw photo.formatted_caption %>
          </figcaption>
        <% end %>
      </figure>
    <% end %>

    <div class="entry__body">
      <h1 class="entry__headline">
        <% if entry.is_text? %>
          <%= link_to raw(entry.formatted_title), permalink_url(entry) %>
        <% else %>
          <%= raw(entry.formatted_title) %>
        <% end %>
      </h1>
      <%= raw(entry.formatted_body) unless entry.body.blank? %>
    </div>

    <div class="entry__meta">
      <div class="entry__info">
        <p>
          <% if entry.is_published? %>
            Published on <%= link_to entry.published_at.strftime('%B %-d, %Y'), permalink_url(entry) %>
          <% elsif entry.is_queued? %>
            Queued <abbr title="<%= entry.updated_at.strftime('%A, %B %-d, %Y at %-l:%M %P %Z') %>"><%= time_ago_in_words(entry.updated_at) %> ago</abbr>
          <% elsif entry.is_draft? %>
            Drafted <abbr title="<%= entry.updated_at.strftime('%A, %B %-d, %Y at %-l:%M %P %Z') %>"><%= time_ago_in_words(entry.updated_at) %> ago</abbr>
          <% else %>
            Last updated <%= time_ago_in_words(entry.updated_at) %> ago
          <% end %>
          <%= render partial: 'entries/exif', object: entry.photos.first if entry.photos.count == 1 %>
        </p>
      </div>

      <% unless entry.tags.blank? %>
        <p class="tags">
          <% entry.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag.slug), { rel: 'tag' } %>
          <% end %>
        </p>
      <% end %>
    </div>

    <% if entry.is_photo? %>
      <div class="share">
        <a data-social-share href="<%= facebook_share_url entry %>" class="share__link" title="Share on Facebook">
          <%= inline_svg 'facebook', 'share__icon' %>
        </a>
        <a data-social-share href="<%= pinterest_share_url entry %>" class="share__link" title="Share on Pinterest">
          <%= inline_svg 'pinterest', 'share__icon' %>
        </a>
        <a data-social-share href="<%= tumblr_share_url entry %>" class="share__link" title="Share on Tumblr">
          <%= inline_svg 'tumblr', 'share__icon' %>
        </a>
        <a data-social-share href="<%= twitter_share_url entry %>" class="share__link" title="Share on Twitter">
          <%= inline_svg 'twitter', 'share__icon' %>
        </a>
      </div>
    <% end %>
  </article>
<% end %>
