<% cache "entry/#{entry.id}/#{entry.updated_at.to_i}" do %>
  <article class="entry <% if entry.is_text? %>entry--text<% else %>entry--photo<% end %>" role="main">
    <% entry.photos.each do |photo| %>
      <div class="entry__photo-container" <%= intrinsic_ratio_width photo %>>
        <figure class="entry__figure" <%= intrinsic_ratio_padding photo %>>
          <%= responsive_image_tag photo,
              'entry',
              { class: "entry__photo",
                alt: photo.alt_text,
                'data-width-original': photo.width,
                'data-height-original': photo.height } %>
        </figure>
      </div>
    <% end %>

    <div class="entry__body">
      <h1 class="entry__headline">
        <% if entry.is_text? %>
          <%= link_to sanitize(entry.plain_title), entry.permalink_url %>
        <% else %>
          <%= sanitize entry.plain_title %>
        <% end %>
      </h1>
      <%= sanitize entry.formatted_body unless entry.body.blank? %>
    </div>

    <div class="entry__meta">
      <%= render partial: 'entries/byline', object: entry, as: :entry %>
      <%= render partial: 'entries/exif', object: entry.photos.first, as: :photo if entry.is_single_photo? %>
      <%= render partial: 'entries/tags', object: entry.combined_tags %>
    </div>
  </article>
<% end %>
