<span class="exif">
  <% unless exif.make.blank? || exif.model.blank? %><span class="exif__field" data-field-name="Camera"><%= exif.model %></span><% end %>
  <% unless exif.film_make.blank? || exif.film_type.blank? %><span class="exif__field" data-field-name="Film"><%= exif.film_type %></span><% end %>
  <% unless exif.exposure.blank? %><span class="exif__field" data-field-name="Exposure"><%= exif.exposure %></span><% end %>
  <% unless exif.f_number.blank? %><span class="exif__field" data-field-name="Aperture"><%= exif.f_number %></span><% end %>
  <% unless exif.iso.blank? %><span class="exif__field" data-field-name="ISO"><%= exif.iso %></span><% end %>
</span>
