<p class="exif">
  <% unless photo.make.blank? || photo.model.blank? %>
    <span class="exif__field">
      Taken with <%= article photo.make %> <%= camera photo.make, photo.model %>
      <% unless photo.film_make.blank? || photo.film_type.blank? %>
        on <%= film photo.film_make, photo.film_type %>
      <% end %>
    </span>
  <% end %>
  <% unless photo.focal_length.blank? %>
    <span class="exif__field"><%= photo.focal_length %> mm focal length</span>
  <% end %>
  <% unless photo.exposure.blank? && photo.f_number.blank? %>
    <span class="exif__field">
      <% unless photo.exposure.blank? %>
        <%= exposure photo.exposure %>
      <% end %>
      <% unless photo.f_number.blank? %>
        at f/<%= aperture photo.f_number %>
      <% end %>
    </span>
  <% end %>
  <% unless photo.iso.blank? %>
    <span class="exif__field">ISO <%= photo.iso %></span>
  <% end %>
</p>
