<div class="share">
  <a data-social-share="Facebook" href="<%= facebook_share_url entry %>" class="share__link" title="Share on Facebook">
    <%= inline_svg 'facebook', 'share__icon' %>
  </a>
  <a data-social-share="Pinterest" href="<%= pinterest_share_url entry %>" class="share__link" title="Share on Pinterest">
    <%= inline_svg 'pinterest', 'share__icon' %>
  </a>
  <a data-social-share="Tumblr" href="<%= tumblr_share_url entry %>" class="share__link" title="Share on Tumblr">
    <%= inline_svg 'tumblr', 'share__icon' %>
  </a>
  <a data-social-share="Twitter" href="<%= twitter_share_url entry %>" class="share__link" title="Share on Twitter">
    <%= inline_svg 'twitter', 'share__icon' %>
  </a>
</div>
