<div class="share">
  <a data-social-share href="<%= facebook_share_url share %>" class="share__link" title="Share on Facebook">
    <%= inline_svg 'facebook', 'share__icon' %>
  </a>
  <a data-social-share href="<%= pinterest_share_url share %>" class="share__link" title="Share on Pinterest">
    <%= inline_svg 'pinterest', 'share__icon' %>
  </a>
  <a data-social-share href="<%= tumblr_share_url share %>" class="share__link" title="Share on Tumblr">
    <%= inline_svg 'tumblr', 'share__icon' %>
  </a>
  <a data-social-share href="<%= twitter_share_url share %>" class="share__link" title="Share on Twitter">
    <%= inline_svg 'twitter', 'share__icon' %>
  </a>
</div>
