<% content_for :meta do %>
  <% cache "entries/meta/page/#{@page}/count/#{@count}/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
    <title><%= @photoblog.name %><%= sanitize " · Page #{@page}" unless @page.nil? || @page == 1 %></title>
    <meta name="description" content="<%= Sanitize.fragment(@photoblog.description) %>">
    <link rel="canonical" href="<%= @page == 1 ? entries_url(page: nil) : entries_url(page: @page) %>">

    <meta property="og:title" content="<%= @photoblog.name %>">
    <meta property="og:image" content="<%= @entries.first.photos.first.url(w: 1200, h: 628) %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:description" content="<%= Sanitize.fragment(@photoblog.description) %>">
    <meta property="og:url" content="<%= @page == 1 ? entries_url(page: nil) : entries_url(page: @page) %>">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="<%= @photoblog.name %>">
    <meta property="og:locale" content="en_US">

    <% if @photoblog.twitter.present? %>
      <meta name="twitter:site" content="@<%= @photoblog.twitter.gsub(/^@/, '') %>">
      <meta name="twitter:creator" content="@<%= @photoblog.twitter.gsub(/^@/, '') %>">
    <% end %>
    <meta name="twitter:title" content="<%= @photoblog.name %>">
    <meta name="twitter:url" content="<%= @page == 1 ? entries_url(page: nil) : entries_url(page: @page) %>">
    <meta name="twitter:description" content="<%= Sanitize.fragment(@photoblog.description) %>">
    <meta name="twitter:card" content="summary">
    <%= auto_discovery_link_tag :atom, feed_url(format: 'atom', page: nil), title: @photoblog.name %>
    <%= auto_discovery_link_tag :atom, feed_url(format: 'json', page: nil), title: @photoblog.name, type: 'application/json' %>
    <link rel="alternate" type="application/vnd.api+json" href="<%= @page == 1 ? entries_url(page: nil) : entries_url(page: @page) %>" %>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'application/infinite_scroll', defer: true %>
  <%= javascript_include_tag 'application', defer: true %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'components/header', media: 'all' %>
  <%= stylesheet_link_tag 'components/footer', media: 'all' %>
  <%= stylesheet_link_tag 'components/entry_list', media: 'all' %>
  <%= stylesheet_link_tag 'components/pagination', media: 'all' %>
  <%= stylesheet_link_tag 'components/loading', media: 'all' %>
  <%= stylesheet_link_tag 'components/footer', media: 'all' %>
<% end %>

<% cache "entries/page/#{@page}/count/#{@count}/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <ol class="entry-list" role="main" data-base-url="<%= entries_url(page: nil).sub(/\/$/, '') %>" data-current-page="<%= @page %>">
    <%= render partial: 'entries/entry_list_item', collection: @entries, as: :entry, locals: { page_url: @page == 1 ? entries_url(page: nil) : entries_url(page: @page) } %>
  </ol>
  <%= paginate @entries %>
  <%= render 'partials/loading' %>
<% end %>
