<% content_for :head do %>
  <% cache "entries/head/page/#{@page}/count/#{@count}/#{@photoblog.cache_key}" do %>
    <% if @page > 1 %>
      <meta name="robots" content="noindex">
    <% end %>
    <title><%= @photoblog.name %><%= sanitize " · Page #{@page}" unless @page.nil? || @page == 1 %></title>
    <meta name="description" content="<%= Sanitize.fragment(@photoblog.description) %>">
    <link rel="canonical" href="<%= @page == 1 ? entries_url(page: nil) : entries_url(page: @page) %>">

    <meta property="og:title" content="<%= @photoblog.name %>">
    <% if @photoblog.logo.attached? %>
      <meta property="og:image" content="<%= @photoblog.logo_url(w: 1200, h: 628, fm: 'png', pad: 50, fit: 'fill', bg: 'fff') %>">
    <% else %>
      <meta property="og:image" content="<%= @entries.first.photos.first.url(w: 1200, h: 628) %>">
    <% end %>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:description" content="<%= Sanitize.fragment(@photoblog.description) %>">
    <meta property="og:url" content="<%= @page == 1 ? entries_url(page: nil) : entries_url(page: @page) %>">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="<%= @photoblog.name %>">
    <meta property="og:locale" content="en_US">

    <% if @photoblog.twitter.present? %>
      <meta name="twitter:site" content="@<%= @photoblog.twitter.gsub(/^https:\/\/(www\.)?twitter.com\//, '') %>">
      <meta name="twitter:creator" content="@<%= @photoblog.twitter.gsub(/^https:\/\/(www\.)?twitter.com\//, '') %>">
    <% end %>
    <meta name="twitter:title" content="<%= @photoblog.name %>">
    <meta name="twitter:url" content="<%= @page == 1 ? entries_url(page: nil) : entries_url(page: @page) %>">
    <meta name="twitter:description" content="<%= Sanitize.fragment(@photoblog.description) %>">
    <% if @photoblog.touch_icon.attached? %>
      <meta name="twitter:image" content="<%= @photoblog.touch_icon_url(w: 192) %>">
    <% end %>
    <meta name="twitter:card" content="summary">
    <%= auto_discovery_link_tag :atom, feed_url(format: 'atom', page: nil), title: @photoblog.name %>
    <%= auto_discovery_link_tag :atom, feed_url(format: 'json', page: nil), title: @photoblog.name, type: 'application/json' %>
    <link rel="alternate" type="application/vnd.api+json" href="<%= @page == 1 ? entries_url(page: nil) : entries_url(page: @page) %>" %>
  <% end %>
<% end %>

<% cache "entries/page/#{@page}/count/#{@count}/#{@photoblog.cache_key}" do %>
  <div data-controller="infinite-scroll" data-infinite-scroll-base-url="<%= entries_url(page: nil).sub(/\/$/, '') %>" data-infinite-scroll-current-page="<%= @page %>">
    <ol class="entry-list" role="main" data-target="infinite-scroll.container" data-controller="grid">
      <%= render partial: 'entries/entry_list_item',
          collection: @entries,
          as: :entry,
          locals: {
            page_url: @page == 1 ? entries_url(page: nil) : entries_url(page: @page),
            lazy_load: false,
            image_variant: 'entry_list'
          } %>
    </ol>
    <%= paginate @entries, target: 'infinite-scroll.paginator' %>
    <%= render partial: 'partials/loading', locals: { target: 'infinite-scroll.spinner' } %>
  </div>
<% end %>
