<!DOCTYPE html>
<html ⚡ lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="theme-color" content="#BF0222">
    <link href="<%= image_path 'icon-192.png' %>" rel="icon" sizes="192x192">
    <link href="<%= image_path 'icon-180.png' %>" rel="apple-touch-icon" sizes="180x180">
    <link href="<%= image_path 'icon-152.png' %>" rel="apple-touch-icon" sizes="152x152">
    <link href="<%= image_path 'icon-120.png' %>" rel="apple-touch-icon" sizes="120x120">
    <link href="<%= image_path 'icon-76.png' %>" rel="apple-touch-icon" sizes="76x76">
    <link href="<%= image_path "favicon.png" %>" rel="icon" type="image/png">
    <%= render partial: 'entries/entry_meta.html.erb', locals: { entry: @entry } %>
    <style amp-custom>
      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      }

      article, aside, details, figcaption, figure,
      footer, header, hgroup, menu, nav, section {
      display: block;
      }

      body {
      line-height: 1;
      }

      ol, ul {
      list-style: none;
      }

      blockquote, q {
      quotes: none;
      }

      blockquote:before, blockquote:after,
      q:before, q:after {
      content: '';
      content: none;
      }

      table {
      border-collapse: collapse;
      border-spacing: 0;
      }

      .entry {
      margin: 24px auto;
      max-width: 1440px;
      width: 100%;
      }
      @media (min-width: 840px) {
      .entry {
        margin: 72px auto;
      }
      }

      .entry__body {
      margin: 0 auto;
      max-width: 840px;
      padding: 24px 20px;
      }
      @media (min-width: 840px) {
      .entry__body {
        padding: 36px 90px;
      }
      }

      .entry__headline {
      font-family: 'kepler-std-display', 'Georgia', serif;
      -webkit-font-feature-settings: 'liga', 'clig';
              font-feature-settings: 'liga', 'clig';
      font-size: 20px;
      -webkit-font-variant-ligatures: common-ligatures;
              font-variant-ligatures: common-ligatures;
      line-height: 1.2;
      margin: 1.2rem 0;
      }
      @media (min-width: 840px) {
      .entry__headline {
        font-size: 28px;
        line-height: 1.28571;
        margin: 1.28571rem 0;
      }
      }

      .entry__meta {
      border-bottom: 4px solid #EEE;
      border-top: 1px solid #EEE;
      margin: 0 auto;
      max-width: 660px;
      padding: 24px 20px;
      }
      .entry__meta p {
      color: #666;
      font-size: 14px;
      font-style: italic;
      font-weight: 300;
      line-height: 1.71429;
      margin: 0;
      text-align: center;
      }
      @media (min-width: 840px) {
      .entry__meta p {
        font-size: 16px;
        line-height: 2.25;
      }
      }
      .entry__meta a:link,
      .entry__meta a:visited {
      color: #666;
      }
      .entry__meta a:hover,
      .entry__meta a:active {
      color: #BF0222;
      text-decoration: none;
      }
      @media (min-width: 840px) {
      .entry__meta {
        padding: 36px 0;
      }
      }

      .entry__photo {
      font-size: 0;
      margin: 0 0 24px;
      max-width: 100vw;
      padding: 0;
      position: relative;
      text-align: center;
      width: 100%;
      }
      .entry__photo a {
      display: inline-block;
      font-size: 0;
      margin: 0;
      padding: 0;
      }
      @media (min-width: 840px) {
      .entry__photo {
        margin: 0 0 36px;
      }
      }

      .entry__image {
      background-color: #EEE;
      display: inline-block;
      max-width: 100%;
      position: relative;
      width: auto;
      z-index: 1;
      }

      .entry--photo __body {
      border-top: 1px solid #EEE;
      }

      .entry__image--fit {
      max-height: 100vh;
      }

      .entry__image--zoomable {
      cursor: -webkit-zoom-out;
      cursor: zoom-out;
      }

      .entry__image--fit.entry__image--zoomable {
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
      }

      .entry--text .entry__body {
      padding-top: 0;
      }

      .entry--photo .entry__body {
      border-top: 4px solid #EEE;
      padding-top: 24px;
      }
      @media (min-width: 840px) {
      .entry--photo .entry__body {
        padding-top: 36px;
      }
      }

      .entry__related {
      border-top: 4px solid #EEE;
      font-family: 'kepler-std-display', 'Georgia', serif;
      -webkit-font-feature-settings: 'liga', 'clig';
              font-feature-settings: 'liga', 'clig';
      font-size: 18px;
      -webkit-font-variant-ligatures: common-ligatures;
              font-variant-ligatures: common-ligatures;
      line-height: 1.33333;
      margin: 0 auto;
      max-width: 840px;
      padding: 24px 20px;
      text-align: center;
      }
      @media (min-width: 840px) {
      .entry__related {
        font-size: 24px;
        line-height: 1.5;
        padding: 36px 90px;
      }
      }

      .entry__embed {
      margin: 12px 0;
      }
      @media (min-width: 840px) {
      .entry__embed {
        margin: 18px 0;
      }
      }

      .entry__embed--youtube {
      position: relative;
      }
      .entry__embed--youtube::before {
      content: '';
      display: block;
      padding-top: 56.25%;
      width: 100%;
      }
      .entry__embed--youtube > * {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      }

      .entry__body p,
      .entry__body ul,
      .entry__body ol,
      .entry__body dl {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      margin: 1.5rem 0;
      }
      @media (min-width: 840px) {
      .entry__body p,
      .entry__body ul,
      .entry__body ol,
      .entry__body dl {
        font-size: 20px;
        line-height: 1.8;
        margin: 1.8rem 0;
      }
      }
      .entry__body h2,
      .entry__body h3,
      .entry__body h4,
      .entry__body h5,
      .entry__body h6 {
      font-family: 'kepler-std-display', 'Georgia', serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.33333;
      margin: 1.33333rem 0;
      }
      @media (min-width: 840px) {
      .entry__body h2,
      .entry__body h3,
      .entry__body h4,
      .entry__body h5,
      .entry__body h6 {
        font-size: 28px;
        line-height: 1.28571;
        margin: 1.28571rem 0;
      }
      }
      .entry__body p {
      margin: 1.5rem 0 0;
      }
      @media (min-width: 840px) {
      .entry__body p {
        margin: 1.8rem 0 0;
      }
      }
      .entry__body p + p {
      margin-top: 0;
      text-indent: 24px;
      }
      @media (min-width: 840px) {
      .entry__body p + p {
        text-indent: 36px;
      }
      }
      .entry__body ul,
      .entry__body ol {
      padding: 0;
      }
      .entry__body ul li {
      list-style-type: disc;
      }
      .entry__body ol li {
      list-style-type: decimal;
      }
      .entry__body cite,
      .entry__body em,
      .entry__body i {
      font-style: italic;
      font-weight: 300;
      }
      .entry__body strong,
      .entry__body b {
      font-style: normal;
      font-weight: bold;
      }
      .entry__body small {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71429;
      }
      @media (min-width: 840px) {
      .entry__body small {
        font-size: 16px;
        line-height: 2.25;
      }
      }
      .entry__body q:before {
      content: '\201c';
      }
      .entry__body q q:before {
      content: '\2018';
      }
      .entry__body q:after {
      content: '\201d';
      }
      .entry__body q q:after {
      content: '\2019';
      }
      .entry__body blockquote {
      color: #666;
      font-style: italic;
      font-weight: 300;
      margin: 0 1.5rem;
      padding-left: 5px;
      position: relative;
      }
      .entry__body .entry__disclaimer {
      color: #666;
      font-size: 12px;
      font-weight: 300;
      line-height: 2;
      margin: 2rem 0;
      }
      @media (min-width: 840px) {
      .entry__body .entry__disclaimer {
        font-size: 15px;
        line-height: 2.4;
        margin: 2.4rem 0;
      }
      }

      .footer {
      margin: 48px auto;
      max-width: 960px;
      padding: 0 20px;
      width: 100%;
      }
      .footer p {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71429;
      margin: 0;
      text-align: center;
      }
      @media (min-width: 840px) {
      .footer p {
        font-size: 16px;
        line-height: 2.25;
      }
      }
      @media (min-width: 840px) {
      .footer {
        margin: 72px auto;
        padding: 0;
      }
      }

      .tags [rel="tag"] {
      margin-right: 4px;
      text-transform: lowercase;
      white-space: nowrap;
      }
      .tags [rel="tag"]::before {
      content: '#';
      }
      .tags [rel="tag"]:link, .tags [rel="tag"]:visited {
      color: #666;
      }
      .tags [rel="tag"]:hover, .tags [rel="tag"]:active {
      color: #BF0222;
      }

      .exif {
      color: #666;
      }

      .exif__field {
      white-space: nowrap;
      }
      .exif__field::after {
      content: ' • ';
      margin-right: 2px;
      }
      .exif__field:last-of-type::after {
      content: none;
      }

      * {
      box-sizing: border-box;
      }

      html {
      background-color: #FFF;
      color: #444;
      font-family: 'kepler-std', 'Georgia', serif;
      font-size: 62.5%;
      font-weight: 300;
      }

      a:link,
      a:visited {
      color: #BF0222;
      text-decoration: none;
      }

      a:hover,
      a:active {
      color: #BF0222;
      text-decoration: underline;
      }

      .header {
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      margin: 24px auto;
      max-width: 1440px;
      width: 100%;
      }
      @media (min-width: 840px) {
      .header {
        margin: 72px auto;
      }
      }

      .header__link {
      display: block;
      margin: 0 auto 12px;
      max-width: 320px;
      width: 50vw;
      }
      .header__link:hover path, .header__link:active path {
      fill: #BF0222;
      }
      @media (min-width: 600px) {
      .header__link {
        width: 33vw;
      }
      }
      @media (min-width: 840px) {
      .header__link {
        margin: 0 auto;
        padding: 0 20px;
      }
      }
      @media (min-width: 1440px) {
      .header__link {
        max-width: 360px;
      }
      }
      @media (min-width: 1920px) {
      .header__link {
        max-width: 420px;
      }
      }
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  </head>
  <body>
    <header class="header">
      <a href="/" class="header__link">
        <%= render partial: 'partials/allencompassingtrip.svg.erb', locals: { classes: 'header__icon' } %>
      </a>
    </header>
    <article class="entry <% if @entry.is_text? %>entry--text<% else %>entry--photo<% end %>">
      <% @entry.photos.each do |photo| %>
        <figure class="entry__photo">
          <%= amp_image_tag photo,
              'entry',
              { alt: photo.caption.blank? ? @entry.title : photo.plain_caption, width: photo.width, height: photo.height } %>
          <% unless photo.caption.blank? %>
            <figcaption>
              <%= raw photo.formatted_caption %>
            </figcaption>
          <% end %>
        </figure>
      <% end %>

      <div class="entry__body">
        <h1 class="entry__headline">
          <% if @entry.is_text? %>
            <%= link_to raw(@entry.plain_title), @entry.permalink_url %>
          <% else %>
            <%= raw(@entry.plain_title) %>
          <% end %>
        </h1>
        <%= raw(@entry.formatted_body) unless @entry.body.blank? %>
      </div>

      <div class="entry__meta">
        <%= render partial: 'entries/byline.html.erb', locals: { entry: @entry } %>
        <%= render partial: 'entries/exif.html.erb', locals: { photo: @entry.photos.first } if @entry.photos.count == 1 %>
        <%= render partial: 'entries/tags.html.erb', object: @entry.tags unless @entry.tags.blank? %>
      </div>
    </article>
    <%= render partial: 'entries/entry_pagination.html.erb', object: @entry %>

    <footer class="footer">
        <p>&copy; 2009-<%= Time.now.strftime('%Y') %> <a href="http://www.gesteves.com" rel="me">Guillermo Esteves</a>. <a href="/">View the full site</a>.</p>
    </footer>

    <amp-analytics type="googleanalytics" id="analytics">
    <script type="application/json">
    {
      "vars": {
        "account": "<%= ENV['analytics_id'] %>"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
    </amp-analytics>
  </body>
</html>
