<% content_for :meta do %>
  <% cache "entries/meta/tagged/#{@tag_slug}/page/#{@page}/count/#{@count}/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
    <title><%= sanitize "#{@tags.first.name} · #{@photoblog.name}" %><%= sanitize " · Page #{@page}" unless @page.nil? || @page == 1 %></title>
    <meta name="description" content="<%= number_with_delimiter @tags.first.taggings_count %> photos tagged “<%= @tags.first.name %>” on <%= @photoblog.name %>.">
    <link rel="canonical" href="<%= @page == 1 ? tag_url(tag: @tags.first.slug, page: nil) : tag_url(@tags.first.slug, @page) %>">

    <meta property="og:title" content="<%= sanitize "#{@tags.first.name} · #{@photoblog.name}" %>">
    <meta property="og:image" content="<%= @entries.first.photos.first.url(w: 1200, h: 628) %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:description" content="<%= number_with_delimiter @tags.first.taggings_count %> photos tagged “<%= @tags.first.name %>” on <%= @photoblog.name %>.">
    <meta property="og:url" content="<%= @page == 1 ? tag_url(tag: @tags.first.slug, page: nil) : tag_url(@tags.first.slug, @page) %>">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="<%= @photoblog.name %>">
    <meta property="og:locale" content="en_US">

    <% if @photoblog.twitter.present? %>
      <meta name="twitter:site" content="@<%= @photoblog.twitter.gsub(/^@/, '') %>">
      <meta name="twitter:creator" content="@<%= @photoblog.twitter.gsub(/^@/, '') %>">
    <% end %>
    <meta name="twitter:title" content="<%= sanitize "#{@tags.first.name} · #{@photoblog.name}" %>">
    <meta name="twitter:url" content="<%= @page == 1 ? tag_url(tag: @tags.first.slug, page: nil) : tag_url(@tags.first.slug, @page) %>">
    <meta name="twitter:description" content="<%= number_with_delimiter @tags.first.taggings_count %> photos tagged “<%= @tags.first.name %>” on <%= @photoblog.name %>.">
    <meta name="twitter:card" content="summary">
    <%= auto_discovery_link_tag :atom, tag_feed_url(format: 'atom', page: nil), title: sanitize("#{@tags.first.name} · #{@photoblog.name}") %>
    <%= auto_discovery_link_tag :atom, tag_feed_url(format: 'json', page: nil), title: sanitize("#{@tags.first.name} · #{@photoblog.name}"), type: 'application/json' %>
    <link rel="alternate" type="application/vnd.api+json" href="<%= @page == 1 ? tag_url(@tags.first.slug, page: nil) : tag_url(tag: @tags.first.slug, page: @page) %>" %>
  <% end %>
<% end %>

<% content_for :inline_css do %>
  <% cache "#{@app_version}/entries/styles" do %>
    <style><%= inline_asset 'entry_list.css' %></style>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'application/infinite_scroll', defer: true %>
  <%= javascript_include_tag 'application', defer: true %>
<% end %>

<% cache "entries/tagged/#{@tag_slug}/page/#{@page}/count/#{@count}/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <ol class="entry-list" role="main" data-base-url="<%= tag_url(tag: @tag_slug, page: nil) %>" data-current-page="<%= @page %>">
    <%= render partial: 'entries/entry_list_item', collection: @entries, as: :entry, locals: { page_url: @page == 1 ? tag_url(tag: @tags.first.slug, page: nil) : tag_url(@tags.first.slug, @page) }  %>
  </ol>
  <%= paginate @entries %>
<% end %>
