<% content_for :head do %>
  <% cache [@photoblog, @tag_slug, @page, @count, :head] do %>
    <meta name="robots" content="noindex">
    <title><%= sanitize @page_title %></title>
    <meta name="description" content="<%= number_with_delimiter @tags.first.taggings_count %> photos tagged “<%= @tags.first.name %>” on <%= @photoblog.name %>.">
    <link rel="canonical" href="<%= @page == 1 ? tag_url(tag: @tag_slug, page: nil) : tag_url(@tag_slug, @page) %>">

    <meta property="og:title" content="<%= sanitize "#{@tags.first.name} – #{@photoblog.name}" %>">
    <% if @photoblog.logo.present? %>
      <meta property="og:image" content="<%= @photoblog.logo_url(w: 1200, h: 628, fm: 'png', pad: 50, fit: 'fill', bg: 'fff') %>">
    <% else %>
      <meta property="og:image" content="<%= @entries.first.photos.first.url(w: 1200, h: 628) %>">
    <% end %>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:description" content="<%= number_with_delimiter @tags.first.taggings_count %> photos tagged “<%= @tags.first.name %>” on <%= @photoblog.name %>.">
    <meta property="og:url" content="<%= @page == 1 ? tag_url(tag: @tag_slug, page: nil) : tag_url(@tag_slug, @page) %>">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="<%= @photoblog.name %>">
    <meta property="og:locale" content="en_US">

    <% if @photoblog.twitter.present? %>
      <meta name="twitter:site" content="@<%= @photoblog.twitter.gsub(/^https:\/\/(www\.)?twitter.com\//, '') %>">
      <meta name="twitter:creator" content="@<%= @photoblog.twitter.gsub(/^https:\/\/(www\.)?twitter.com\//, '') %>">
    <% end %>
    <meta name="twitter:title" content="<%= sanitize "#{@tags.first.name} – #{@photoblog.name}" %>">
    <meta name="twitter:url" content="<%= @page == 1 ? tag_url(tag: @tag_slug, page: nil) : tag_url(@tag_slug, @page) %>">
    <meta name="twitter:description" content="<%= number_with_delimiter @tags.first.taggings_count %> photos tagged “<%= @tags.first.name %>” on <%= @photoblog.name %>.">
    <% if @photoblog.touch_icon.attached? %>
      <meta name="twitter:image" content="<%= @photoblog.touch_icon_url(w: 192) %>">
    <% end %>
    <meta name="twitter:card" content="summary">
    <%= auto_discovery_link_tag :atom, tag_feed_url(format: 'atom', tag: @tag_slug), title: sanitize("#{@tags.first.name} – #{@photoblog.name}") %>
  <% end %>
<% end %>

<main data-controller="infinite-scroll" data-infinite-scroll-base-url="<%= tag_url(tag: @tag_slug, page: nil) %>" data-infinite-scroll-current-page="<%= @page %>">
  <h2 id="entry-list-heading" class="sr-only">Entries tagged “<%= @tags.first.name %>”</h2>
  <ol class="entry-list" data-target="infinite-scroll.container" data-controller="grid" aria-busy="false" aria-labelledby="entry-list-heading" aria-live="polite">
    <%= render partial: 'entries/list/entry', collection: @entries, as: :entry, locals: { page_url: @page == 1 ? tag_url(tag: @tag_slug, page: nil) : tag_url(@tag_slug, @page) }, cached: true  %>
  </ol>
  <%= paginate @entries, target: 'infinite-scroll.paginator' %>
  <%= render partial: 'partials/loading', locals: { target: 'infinite-scroll.spinner' } %>
</main>
