<% content_for :meta do %>
  <% cache "#{@app_version}/entries/meta/tagged/#{@tag_slug}/#{@page}/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
    <title><%= sanitize "Entries tagged “#{@tags.first.name}” &middot; #{@photoblog.name}" %><%= sanitize " &middot Page #{@page}" unless @page.nil? || @page == 1 %></title>
    <meta name="description" content="<%= Sanitize.fragment(@photoblog.description) %>">
    <link rel="canonical" href="<%= tag_url(@tags.first.slug) %>">

    <meta property="og:title" content="<%= sanitize "Entries tagged “#{@tags.first.name}” &middot; #{@photoblog.name}" %>">
    <meta property="og:image" content="<%= image_url 'cover.png' %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:description" content="<%= Sanitize.fragment(@photoblog.description) %>">
    <meta property="og:url" content="<%= @page.nil? || @page == 1 ? tag_url(@tags.first.slug) : tag_url(@tags.first.slug, @page) %>">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="<%= @photoblog.name %>">
    <meta property="og:locale" content="en_US">

    <meta name="twitter:site" content="@gesteves">
    <meta name="twitter:creator" content="@gesteves">
    <meta name="twitter:title" content="<%= sanitize "Entries tagged “#{@tags.first.name}” &middot; #{@photoblog.name}" %>">
    <meta name="twitter:url" content="<%= @page.nil? || @page == 1 ? tag_url(@tags.first.slug) : tag_url(@tags.first.slug, @page) %>">
    <meta name="twitter:description" content="<%= Sanitize.fragment(@photoblog.description) %>">
    <meta name="twitter:card" content="summary">
    <%= auto_discovery_link_tag :atom, tag_url(format: 'atom'), title: "#{@photoblog.name} - Entries tagged “#{@tags.first.name}”" %>
    <link rel="alternate" type="application/vnd.api+json" href="<%= @page == 1 ? tag_url(@tags.first.slug) : tag_url(tag: @tags.first.slug, page: @page) %>" %>
  <% end %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'base', media: 'all' %>
  <%= stylesheet_link_tag 'components/header', media: 'all' %>
  <%= stylesheet_link_tag 'components/follow', media: 'all' %>
  <%= stylesheet_link_tag 'components/entry_list', media: 'all' %>
  <%= stylesheet_link_tag 'components/pagination', media: 'all' %>
  <%= stylesheet_link_tag 'components/footer', media: 'all' %>
<% end %>

<% cache "#{@app_version}/entries/tagged/#{@tag_slug}/#{@page}/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <%= stylesheet_link_tag 'components/entry_list', media: 'all' %>
  <ol class="entry-list" role="main">
    <%= render partial: 'entries/entry_list_item', collection: @entries, as: :entry, locals: { lazy_load_start_index: 12 } %>
  </ol>
  <%= paginate @entries %>
<% end %>
