<figcaption class="entry-list__photo-caption">
  <p class="entry-list__photo-title"><%= sanitize truncate(entry.plain_title, length: 80, separator: ' ', omission: '…', escape: false) %></p>
  <p class="entry-list__photo-meta">Published on <%= entry.published_at.strftime('%B %-d, %Y') %></p>
  <% if entry.is_photoset? %>
    <p class="entry-list__photo-meta"><%= entry.photos_count %> photos</p>
  <% elsif photo.camera.present? %>
    <p class="entry-list__photo-meta">
      <span class="exif__field"><%= photo.camera.display_name %></span>
      <% if photo.film.present? %>
        <span class="exif__field"><%= photo.film.display_name %></span>
      <% elsif !photo.is_phone_photo? %>
        <% if photo.lens.present? %>
          <span class="exif__field"><%= photo.lens.display_name %></span>
        <% elsif photo.focal_length.present? %>
          <span class="exif__field"><%= photo.focal_length_with_unit %></span>
        <% end %>
        <% if photo.exposure.present? %>
          <span class="exif__field"><%= photo.formatted_exposure %></span>
        <% end %>
        <% if photo.f_number.present? %>
          <span class="exif__field"><%= photo.formatted_aperture %></span>
        <% end %>
        <% if photo.iso.present? %>
          <span class="exif__field">ISO <%= photo.iso %></span>
        <% end %>
      <% end %>
    </p>
  <% end %>
</figcaption>

