<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <title>Map &middot; <%= @photoblog.name %></title>
  <meta name="description" content="<%= @photoblog.name %> photos, mapped.">
  <link rel="canonical" href="<%= map_url %>">

  <meta property="og:title" content="<%= @photoblog.name %>">
  <meta property="og:image" content="<%= image_url 'cover.png' %>">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">
  <meta property="og:description" content="<%= @photoblog.name %> photos, mapped.">
  <meta property="og:url" content="<%= map_url %>">
  <meta property="og:type" content="Website">
  <meta property="og:site_name" content="<%= @photoblog.name %>">
  <meta property="og:locale" content="en_US">

  <% if Rails.application.config.social.twitter.enabled == true %>
    <meta name="twitter:site" content="<%= Rails.application.config.social.twitter_handle %>">
    <meta name="twitter:creator" content="<%= Rails.application.config.social.twitter_handle %>">
  <% end %>
  <meta name="twitter:title" content="<%= @photoblog.name %>">
  <meta name="twitter:url" content="<%= map_url %>">
  <meta name="twitter:description" content="<%= @photoblog.name %> photos, mapped.">
  <meta name="twitter:image" content="<%= image_url 'cover.png'  %>">
  <meta name="twitter:card" content="summary_large_image">
  <link href="https://api.tiles.mapbox.com" rel="preconnect">
  <link href="https://api.mapbox.com" rel="preconnect">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', async: true %>
  <script src="https://use.typekit.net/vtp0iqq.js" onload="try{Typekit.load({async:true});}catch(e){}" async></script>
  <%= render partial: 'partials/analytics' if Rails.env.production? && ENV['analytics_id'].present? %>
</head>
<body>
  <%= render partial: 'partials/icons.svg.erb' %>
  <%= render partial: 'partials/header.html.erb', locals: { additional_classes: 'header--map' } %>
  <div id="map" class="map"></div>
  <div class="map__loading js-loading">
    <%= inline_svg 'spinner', 'map__loading-spinner' %>
  </div>
</body>
</html>
