<% content_for :meta do %>
  <% cache "maps/meta/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
    <title>Map · <%= @photoblog.name %></title>
    <meta name="description" content="<%= @photoblog.name %> photos, mapped.">
    <link rel="canonical" href="<%= map_url %>">

    <meta property="og:title" content="<%= @photoblog.name %>">
    <meta property="og:image" content="<%= @photoblog.entries.photo_entries.published.first.photos.first.url(w: 1200, h: 628) %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:description" content="<%= @photoblog.name %> photos, mapped.">
    <meta property="og:url" content="<%= map_url %>">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="<%= @photoblog.name %>">
    <meta property="og:locale" content="en_US">
    <% if @photoblog.twitter.present? %>
      <meta name="twitter:site" content="@<%= @photoblog.twitter.gsub(/^@/, '') %>">
      <meta name="twitter:creator" content="@<%= @photoblog.twitter.gsub(/^@/, '') %>">
    <% end %>
    <meta name="twitter:title" content="<%= @photoblog.name %>">
    <meta name="twitter:url" content="<%= map_url %>">
    <meta name="twitter:description" content="<%= @photoblog.name %> photos, mapped.">
    <meta name="twitter:card" content="summary">
    <link rel="preconnect" href="https://a.tiles.mapbox.com" crossorigin>
    <link rel="preconnect" href="https://b.tiles.mapbox.com" crossorigin>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js', defer: true %>
  <%= javascript_include_tag 'vendor/map', defer: true %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css', media: 'all' %>
<% end %>

<div data-controller="map" data-map-api-token="<%= ENV['mapbox_api_token'] %>" data-map-markers-url="<%= map_markers_path(format: 'json') %>">
  <div id="map" class="map" role="main" data-target="map.container"></div>
  <div class="map__loading" data-target="map.spinner">
    <%= inline_svg 'spinner', 'map__loading-spinner' %>
  </div>
</div>
