<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <title>Map &middot; <%= @photoblog.name %></title>
  <meta name="description" content="<%= @photoblog.name %> photos, mapped.">
  <link rel="canonical" href="<%= map_url %>">

  <meta property="og:title" content="<%= @photoblog.name %>">
  <meta property="og:image" content="<%= image_url 'cover.png' %>">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">
  <meta property="og:description" content="<%= @photoblog.name %> photos, mapped.">
  <meta property="og:url" content="<%= map_url %>">
  <meta property="og:type" content="Website">
  <meta property="og:site_name" content="<%= @photoblog.name %>">
  <meta property="og:locale" content="en_US">

  <meta name="twitter:site" content="@gesteves">
  <meta name="twitter:creator" content="@gesteves">
  <meta name="twitter:title" content="<%= @photoblog.name %>">
  <meta name="twitter:url" content="<%= map_url %>">
  <meta name="twitter:description" content="<%= @photoblog.name %> photos, mapped.">
  <meta name="twitter:image" content="<%= image_url 'cover.png'  %>">
  <meta name="twitter:card" content="summary_large_image">
  <%= stylesheet_link_tag 'base', media: 'all' %>
  <%= stylesheet_link_tag 'components/header', media: 'all' %>
  <%= stylesheet_link_tag 'components/map-header', media: 'all' %>
  <%= stylesheet_link_tag 'components/entry_list', media: 'all' %>
  <%= stylesheet_link_tag 'components/follow', media: 'all' %>
  <%= stylesheet_link_tag 'components/map', media: 'all' %>
  <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.4.0/mapbox.css" media="all">
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css" media="all">
  <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css" media="all">
  <%= javascript_include_tag 'application/map', async: true %>
  <%= javascript_include_tag "https://use.typekit.net/#{ENV['typekit_id']}.js", async: true, onload: 'try{Typekit.load({async:true})}catch(e){}' if ENV['typekit_id'].present? %>
  <%= render partial: 'partials/analytics' if Rails.env.production? && ENV['analytics_id'].present? %>
</head>
<body>
  <%= render partial: 'partials/header.html.erb', locals: { is_map: true } %>
  <div id="map" class="map" role="main"></div>
  <div class="map__loading js-loading">
    <%= inline_svg 'spinner', 'map__loading-spinner' %>
  </div>
</body>
</html>
