<div class="field is-horizontal" data-controller="tag-autocomplete">
  <div class="field-label is-normal">
    <%= f.label :tag_list, 'Entry tags', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_field :tag_list, value: @tag_customization.tag_list.to_s, autocomplete: 'off', required: true, placeholder: 'A list of tags, separated by commas…', class: 'input', 'data-target': 'tag-autocomplete.tags' %>
      </div>
      <p class="help">Settings will apply to entries tagged with all of these tags.</p>
    </div>
  </div>
  <%= render partial: 'admin/shared/tag_datalists', locals: { tags: @tags } %>
</div>

<hr class="hr">
<h2 class="subtitle is-size-5-mobile">Instagram</h2>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :instagram_hashtags, 'Hashtags', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_area :instagram_hashtags, placeholder: 'Enter hashtags, one per line…', class: 'textarea', rows: 10 %>
        <p class="help">Entries will be shared on Instagram using a random selection of these hashtags. Note that Instagram has a limit of 30 hashtags per post, so not all of them may get used.</p>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :instagram_location_name, 'Location name', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_field :instagram_location_name, placeholder: 'e.g. Jackson, Wyoming', class: 'input' %>
        <p class="help">Name of the location, for display purposes. If left blank, will use the tags at the top.</p>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :instagram_location_id, 'Location ID', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_field :instagram_location_id, placeholder: 'Enter a Facebook Page ID, e.g. 130250293656242', class: 'input' %>
        <p class="help">This is the <a href="https://www.labnol.org/internet/find-facebook-page-id-profile/6909/">ID of the Facebook page</a> associated with the location.</p>
      </div>
    </div>
  </div>
</div>

<hr class="hr">
<h2 class="subtitle is-size-5-mobile">Flickr</h2>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :flickr_groups, 'Groups', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_area :flickr_groups, placeholder: 'Enter Flickr group URLs, one per line…', class: 'textarea', rows: 10 %>
        <p class="help">Entries shared on Flickr will be added to these groups. Note that Flickr has a limit of 30 groups per photo (60 for Pro users), so not all them may be used. Group limits may also apply.</p>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :flickr_albums, 'Albums', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_area :flickr_albums, placeholder: 'Enter Flickr album URLs, one per line…', class: 'textarea', rows: 10 %>
        <p class="help">Entries shared on Flickr will be added to these albums.</p>
      </div>
    </div>
  </div>
</div>

<hr class="hr">
<h2 class="subtitle is-size-5-mobile">Tumblr</h2>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :tumblr_tags, 'Tags', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_area :tumblr_tags, placeholder: 'Enter tags, one per line…', class: 'textarea', rows: 10 %>
        <p class="help">Entries will be shared on Tumblr using these tags, in addition to their existing tags.</p>
      </div>
    </div>
  </div>
</div>

<hr class="hr">

<div class="field is-horizontal">
  <div class="field-label">
  </div>
  <div class="field-body">
    <div class="field">
      <div class="buttons is-right">
        <%= link_to 'Cancel', admin_tag_customizations_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button' %>
        <%= f.submit 'Save changes', class: 'button is-success' %>
      </div>
    </div>
  </div>
</div>
