<tr>
<td>
  <div class="tags">
    <% tag_customization.tags.sort{ |a,b| a.name <=> b.name }.each do |t| %>
      <%= link_to t.name, admin_tagged_entries_path(t.slug), class: 'tag is-link' %>
    <% end %>
  </div>
</td>
<td>
  <div class="tags">
    <% tag_customization.instagram_hashtags.split("\n").sort.each do |t| %>
      <%= link_to t.strip, "https://www.instagram.com/explore/tags/#{t.gsub('#', '').strip}/", class: 'tag' %><br>
    <% end %>
  </div>
</td>
<td>
  <%= link_to_if tag_customization.instagram_location_id.present?, tag_customization.instagram_location_id, "https://www.facebook.com/#{tag_customization.instagram_location_id}/", class: 'tag' %>
</td>
<td>
  <div class="tags">
    <% tag_customization.flickr_groups.split("\n").sort.each do |g| %>
      <%= link_to g.strip.split('/').last, g, class: 'tag' %><br>
    <% end %>
  </div>
</td>
<td>
  <div class="buttons is-pulled-right">
    <%= link_to 'Edit', edit_admin_tag_customization_path(tag_customization.id), class: 'button is-small', 'data-action': 'click->tag#edit' %>
    <%= link_to 'Delete', admin_tag_customization_path(tag_customization.id), method: :delete, data: { confirm: 'Are you absolutely sure you want to delete it forever? This can’t be undone!' }, class: 'button is-danger is-small', 'data-action': 'click->tag#delete' %>
  </div>
</td>
</tr>
