
<% @photos.each do |p| %>
  <div class="photo">
    <%= responsive_image_tag p, 'admin_edit' %>
    <%= form_for([:admin, p], html: { class: 'photo__form' }) do |f| %>
      <%= f.text_area :caption, placeholder: 'Write the caption of the photo here…', class: 'photo__input form__input form__input--textarea' %>
      <%= f.submit 'Save changes', class: 'button button--success' %>
    <% end %>
  </div>
<% end %>

<%= paginate @photos %>
