<% cache "entry/amp/#{@entry.cache_key}" do %>
  <article class="entry entry--photo" role="main">
    <% @photos.each do |photo| %>
      <div class="entry__photo-container">
        <figure class="entry__figure">
          <%= amp_image_tag photo,
              'entry',
              alt: photo.alt_text %>
        </figure>
      </div>
    <% end %>

    <div class="entry__body">
      <h1 class="entry__headline">
        <%= sanitize @entry.plain_title %>
      </h1>
      <%= sanitize @entry.formatted_body unless @entry.body.blank? %>
    </div>

    <div class="entry__meta">
      <%= render partial: 'entries/byline' %>
      <%= render partial: 'entries/exif', object: @photos.first, as: :photo if @entry.is_single_photo? %>
      <%= render partial: 'entries/tags', object: @entry.combined_tags %>
    </div>
  </article>
<% end %>
