<% cache @photoblog do %>
  <aside class="elsewhere" role="complementary">
    <h2 class="elsewhere__heading">Follow <i><%= @photoblog.name %></i></h2>
    <ul class="elsewhere__list">
      <% if @photoblog.facebook.present? %>
        <li class="elsewhere__item"><a href="<%= @photoblog.facebook %>" rel="me" title="Like on Facebook"><%= inline_svg 'facebook', 'elsewhere__icon' %><span class="elsewhere__label">Facebook</span></a></li>
      <% end %>
      <li class="elsewhere__item"><a href="<%= feed_url %>" title="Subscribe to Feed"><%= inline_svg 'feed', 'elsewhere__icon' %><span class="elsewhere__label">Feed</span></a></li>
      <% if @photoblog.flickr.present? %>
        <li class="elsewhere__item"><a href="<%= @photoblog.flickr %>" rel="me" title="Follow on Flickr"><%= inline_svg 'flickr', 'elsewhere__icon' %><span class="elsewhere__label">Flickr</span></a></li>
      <% end %>
      <% if @photoblog.instagram.present? %>
        <li class="elsewhere__item"><a href="<%= @photoblog.instagram %>" rel="me" title="Follow on Instagram"><%= inline_svg 'instagram', 'elsewhere__icon' %><span class="elsewhere__label">Instagram</span></a></li>
      <% end %>
      <% if @photoblog.twitter.present? %>
        <li class="elsewhere__item"><a href="<%= @photoblog.twitter %>" rel="me" title="Follow on Twitter"><%= inline_svg 'twitter', 'elsewhere__icon' %><span class="elsewhere__label">Twitter</span></a></li>
      <% end %>
    </ul>
  </aside>
<% end %>
