<div class="follow">
  <a href="<%= about_path %>" class="follow__link tooltip" title="About <%= @photoblog.name %>"><%= inline_svg 'about', 'follow__icon' %></a>
  <% if ENV['mapbox_api_token'].present? %>
    <a href="<%= map_path(trailing_slash: true)  %>" class="follow__link tooltip" title="Map"><%= inline_svg 'map', 'follow__icon' %></a>
  <% end %>
  <% if @photoblog.has_search? %>
    <a href="<%= search_path %>" class="follow__link tooltip" title="Search <%= @photoblog.name %>"><%= inline_svg 'search', 'follow__icon' %></a>
  <% end %>
  <a href="<%= feed_path(format: 'atom', page: nil) %>" class="follow__link tooltip" title="Subscribe to Feed"><%= inline_svg 'feed', 'follow__icon' %></a>
  <% if @photoblog.email.present? %>
    <a href="mailto:<%= @photoblog.email %>" class="follow__link tooltip" title="Contact email"><%= inline_svg 'email', 'follow__icon' %></a>
  <% end %>
  <% if @photoblog.facebook.present? %>
    <a href="<%= @photoblog.facebook %>" class="follow__link tooltip" rel="me" title="Like on Facebook"><%= inline_svg 'facebook', 'follow__icon' %></a>
  <% end %>
  <% if @photoblog.instagram.present? %>
    <a href="<%= @photoblog.instagram %>" class="follow__link tooltip" rel="me" title="Follow on Instagram"><%= inline_svg 'instagram', 'follow__icon' %></a>
  <% end %>
  <% if @photoblog.tumblr.present? %>
    <a href="<%= @photoblog.tumblr %>" class="follow__link tooltip" rel="me" title="Follow on Tumblr"><%= inline_svg 'tumblr', 'follow__icon' %></a>
  <% end %>
  <% if @photoblog.twitter.present? %>
    <a href="<%= @photoblog.twitter %>" class="follow__link tooltip" rel="me" title="Follow on Twitter"><%= inline_svg 'twitter', 'follow__icon' %></a>
  <% end %>
</div>
