<div class="follow">
  <%= link_to about_url, class: 'follow__link tooltip', title: "About #{@photoblog.name}" do %>
    <%= inline_svg 'about', 'follow__icon' %>
  <% end %>
  <% if @photoblog.has_search? %>
    <%= link_to search_url, class: 'follow__link tooltip', title: "Search #{@photoblog.name}" do %>
      <%= inline_svg 'search', 'follow__icon' %>
    <% end %>
  <% end %>
  <%= link_to feed_url(format: 'atom', page: nil), class: 'follow__link tooltip', title: 'Subscribe to Feed' do %>
    <%= inline_svg 'feed', 'follow__icon' %>
  <% end %>
  <% if @photoblog.email.present? %>
    <%= link_to "mailto:#{@photoblog.email}", class: 'follow__link tooltip', title: 'Contact by email' do %>
      <%= inline_svg 'email', 'follow__icon' %>
    <% end %>
  <% end %>
  <% if @photoblog.facebook.present? %>
    <%= link_to @photoblog.facebook, class: 'follow__link tooltip', title: 'Like on Facebook' do %>
      <%= inline_svg 'facebook', 'follow__icon' %>
    <% end %>
  <% end %>
  <% if @photoblog.flickr.present? %>
    <%= link_to @photoblog.flickr, class: 'follow__link tooltip', title: 'Follow on Flickr' do %>
      <%= inline_svg 'flickr', 'follow__icon' %>
    <% end %>
  <% end %>
  <% if @photoblog.instagram.present? %>
    <%= link_to @photoblog.instagram, class: 'follow__link tooltip', title: 'Follow on Instagram' do %>
      <%= inline_svg 'instagram', 'follow__icon' %>
    <% end %>
  <% end %>
  <% if @photoblog.tumblr.present? %>
    <%= link_to @photoblog.tumblr, class: 'follow__link tooltip', title: 'Follow on Tumblr' do %>
      <%= inline_svg 'tumblr', 'follow__icon' %>
    <% end %>
  <% end %>
  <% if @photoblog.twitter.present? %>
    <%= link_to @photoblog.twitter, class: 'follow__link tooltip', title: 'Follow on Twitter' do %>
      <%= inline_svg 'twitter', 'follow__icon' %>
    <% end %>
  <% end %>
</div>
