<div class="follow">
  <a href="<%= about_path %>" class="follow__link" title="About <%= @photoblog.name %>"><%= inline_svg 'about', 'follow__icon' %></a>
  <% if ENV['mapbox_api_token'].present? %>
    <a href="<%= map_path(trailing_slash: true)  %>" class="follow__link" title="Map"><%= inline_svg 'map', 'follow__icon' %></a>
  <% end %>
  <a href="<%= feed_path %>" class="follow__link" title="Subscribe to Feed"><%= inline_svg 'feed', 'follow__icon' %></a>
  <% if @photoblog.email.present? %>
    <a href="mailto:<%= @photoblog.email %>" class="follow__link" title="Contact"><%= inline_svg 'email', 'follow__icon' %></a>
  <% end %>
  <% if @photoblog.instagram.present? %>
    <a href="https://www.instagram.com/<%= @photoblog.instagram %>/" class="follow__link" rel="me" title="Follow on Instagram"><%= inline_svg 'instagram', 'follow__icon' %></a>
  <% end %>
  <% if @photoblog.tumblr.present? %>
    <a href="https://<%= @photoblog.tumblr %>.tumblr.com" class="follow__link" rel="me" title="Follow on Tumblr"><%= inline_svg 'tumblr', 'follow__icon' %></a>
  <% end %>
  <% if @photoblog.twitter.present? %>
    <a href="https://twitter.com/<%= @photoblog.twitter.gsub(/^@/, '') %>" class="follow__link" rel="me" title="Follow on Twitter"><%= inline_svg 'twitter', 'follow__icon' %></a>
  <% end %>
</div>
