<% link_class = local_assigns[:has_tooltips] && has_tooltips ? 'follow__link tooltip' : 'follow__link' %>
<div class="follow">
  <%= link_to about_path, class: link_class, title: "About #{@photoblog.name}" do %>
    <%= inline_svg 'about', 'follow__icon' %>
  <% end %>
  <% if ENV['mapbox_api_token'].present? %>
    <%= link_to map_path(trailing_slash: true), class: link_class, title: 'Map' do %>
      <%= inline_svg 'map', 'follow__icon' %>
    <% end %>
  <% end %>
  <% if @photoblog.has_search? %>
    <%= link_to search_path, class: link_class, title: "Search #{@photoblog.name}" do %>
      <%= inline_svg 'search', 'follow__icon' %>
    <% end %>
  <% end %>
  <%= link_to feed_path(format: 'atom', page: nil), class: link_class, title: 'Subscribe to Feed' do %>
    <%= inline_svg 'feed', 'follow__icon' %>
  <% end %>
  <% if @photoblog.email.present? %>
    <%= link_to "mailto:#{@photoblog.email}", class: link_class, title: 'Contact by email' do %>
      <%= inline_svg 'email', 'follow__icon' %>
    <% end %>
  <% end %>
  <% if @photoblog.facebook.present? %>
    <%= link_to @photoblog.facebook, class: link_class, title: 'Like on Facebook' do %>
      <%= inline_svg 'facebook', 'follow__icon' %>
    <% end %>
  <% end %>
  <% if @photoblog.instagram.present? %>
    <%= link_to @photoblog.instagram, class: link_class, title: 'Follow on Instagram' do %>
      <%= inline_svg 'instagram', 'follow__icon' %>
    <% end %>
  <% end %>
  <% if @photoblog.tumblr.present? %>
    <%= link_to @photoblog.tumblr, class: link_class, title: 'Follow on Tumblr' do %>
      <%= inline_svg 'tumblr', 'follow__icon' %>
    <% end %>
  <% end %>
  <% if @photoblog.twitter.present? %>
    <%= link_to @photoblog.twitter, class: link_class, title: 'Follow on Twitter' do %>
      <%= inline_svg 'twitter', 'follow__icon' %>
    <% end %>
  <% end %>
</div>
