<% cache @photoblog do %>
  <footer class="footer">
    <p>&copy; <%= Time.current.strftime('%Y') %> <%= @photoblog.copyright %></p>
    <ul class="footer__links">
      <li><%= link_to 'Home', root_url %></li>
      <li><%= link_to 'About', about_url %></li>
      <% if @photoblog.show_search? && @photoblog.has_search? %>
        <li><%= link_to 'Search', search_url %></li>
      <% end %>
      <li><%= link_to 'Feed', feed_url(format: 'atom', page: nil) %></li>
      <% if @photoblog.email.present? %>
        <li><a href="mailto:<%= @photoblog.email %>">Contact</a></li>
      <% end %>
      <li><a href="#top">Back to top</a></li>
    </ul>
  </footer>
  <%= render partial: 'partials/analytics_body' %>
<% end %>
