<footer class="footer <%= additional_classes if local_assigns[:additional_classes] %>" role="contentinfo">
  <% cache "blog/copyright/#{Time.now.strftime('%Y')}/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
    <p>
      &copy; <%= Photo.oldest.try(:taken_at).try(:strftime, '%Y') %>-<%= Time.now.strftime('%Y') %> <%= sanitize @photoblog.copyright %>
      <span class="footer__links">
        <%= link_to 'Home', root_path %> 路
        <%= link_to 'About', about_path %> 路
        <%= link_to 'Map', map_path(trailing_slash: true) %> 路
        <%= link_to 'Feed', feed_path %>
        <% if @photoblog.email.present? %>
          路 <a href="mailto:<%= @photoblog.email %>">Contact</a>
        <% end %>
      </span>
    </p>
  <% end %>
</footer>
