<% cache @photoblog do %>
  <footer class="footer" role="contentinfo">
    <p>
        &copy; <%= Photo.oldest&.taken_at&.strftime('%Y') %>-<%= Time.current.strftime('%Y') %> <%= sanitize @photoblog.copyright %>
      <span class="footer__links">
        <%= link_to 'Home', root_url %> 路
        <%= link_to 'About', about_url %> 路
        <% if @photoblog.has_search? %>
          <%= link_to 'Search', search_url %> 路
        <% end %>
        <%= link_to 'Feed', feed_url(format: 'atom', page: nil) %>
        <% if @photoblog.email.present? %>
          路 <a href="mailto:<%= @photoblog.email %>">Contact</a>
        <% end %>
      </span>
    </p>
  </footer>
<% end %>
