<%= stylesheet_link_tag 'components/header', media: 'all' %>
<%= stylesheet_link_tag 'components/map-header', media: 'all' if local_assigns[:is_map] %>
<header role="banner" class="header <%= 'header--map' if local_assigns[:is_map] %>">
  <div class="header__section">
    <p class="header__tagline"><%= sanitize @photoblog.description %></p>
  </div>
  <a href="/" class="header__link">
    <%= render partial: 'partials/allencompassingtrip.svg.erb', locals: { classes: 'header__icon' } %>
  </a>
  <div class="header__section">
    <%= render partial: 'partials/follow.html.erb' %>
  </div>
</header>
