<% cache @photoblog do %>
  <header class="header">67
    <a href="/" class="header__link" id="header-logo">
      <h1 aria-label="<%= @photoblog.name %>">
        <% if @photoblog.header_logo_svg.present? %>
          <%= @photoblog.header_logo_svg.html_safe %>
        <% else %>
          <%= @photoblog.name %>
        <% end %>
      </h1>
    </a>
    <div class="header__section">
      <p class="header__tagline"><%= sanitize @photoblog.tag_line %></p>
    </div>
    <div class="header__section">
      <%= render partial: 'partials/follow.html.erb' %>
    </div>
  </header>
<% end %>
