<%= form_for([:admin, @park]) do |f| %>
  <% if @park.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>Welp, the changes couldn't be saved.</p>
        <button class="delete"></button>
      </div>
      <div class="message-body">
        <% @park.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </article>
  <% end %>

  <h1 class="title is-size-5-mobile">Editing national park</h1>
  <hr class="hr">

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :display_name, 'Display name', class: 'label' %></div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :display_name, class: 'input', required: true, autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :code, 'Park code', class: 'label' %></div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :code, class: 'input is-static', readonly: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :full_name, 'Official name', class: 'label' %></div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :full_name, class: 'input is-static', readonly: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :short_name, 'Short name', class: 'label' %></div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :short_name, class: 'input is-static', readonly: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :designation, 'Designation', class: 'label' %></div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :designation, class: 'input is-static', readonly: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :url, 'URL', class: 'label' %></div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :url, class: 'input is-static', readonly: true %>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">

  <div class="buttons is-right">
    <%= f.submit 'Save changes', class: 'button is-success' %>
  </div>
<% end %>
