<% cache entry do %>
  <item>
    <guid isPermaLink="true"><%= entry.permalink_url(ref: 'Feed') %></guid>
    <pubDate><%= entry.published_at.utc.rfc822 %></pubDate>
    <link><%= entry.permalink_url(ref: 'Feed') %></link>
    <title><%= entry.plain_title %></title>
    <description>
      <%= html_escape render(partial: 'entries/feed/feed_entry_body', formats: :html, object: entry, as: :entry).to_str %>
    </description>
    <% if entry.is_photo?%>
      <webfeeds:featuredImage url="<%= entry.photos.first.url(width: 2560, format: 'jpeg') %>" type="image/jpg" width="2560" height="<%= entry.photos.first.height_from_width(2560) %>"/>
    <% end %>
    <% entry.photos.each do |photo| %>
      <media:content url="<%= photo.url(width: 1280, format: 'jpeg') %>" />
    <% end %>
    <% if entry.is_photo? %>
      <category term="photography" label="Photography" />
    <% else %>
      <category term="text" label="Text" />
    <% end %>
    <% entry.combined_tags.sort_by { |t| t.name }.each do |tag| %>
      <category term="<%= tag.slug %>" label="<%= tag.name %>" />
    <% end %>
  </item>
<% end %>
