<% cache entry do %>
  <entry>
    <id><%= atom_tag(entry.permalink_url, entry.modified_at) %></id>
    <published><%= entry.published_at.utc.strftime('%FT%TZ') %></published>
    <updated><%= entry.modified_at.utc.strftime('%FT%TZ') %></updated>
    <link rel="alternate" type="text/html" href="<%= entry.permalink_url(ref: 'Feed') %>"/>
    <title><%= entry.plain_title %></title>
    <content type="html">
      <%= html_escape render(partial: 'entries/feed/feed_entry_body', formats: :html, object: entry, as: :entry).to_str %>
    </content>
    <% if entry.is_photo?%>
      <webfeeds:featuredImage url="<%= entry.photos.first.url(width: 2560, format: 'jpeg') %>" type="image/jpg" width="2560" height="<%= entry.photos.first.height_from_width(2560) %>"/>
    <% end %>
    <% entry.photos.each do |photo| %>
      <media:content url="<%= photo.url(width: 1280, format: 'jpeg') %>" />
    <% end %>
    <author>
      <name><%= entry.user.name %></name>
    </author>
    <% if entry.is_photo? %>
      <category term="photography" label="Photography" />
    <% else %>
      <category term="text" label="Text" />
    <% end %>
    <% entry.combined_tags.sort_by { |t| t.name }.each do |tag| %>
      <category term="<%= tag.slug %>" label="<%= tag.name %>" />
    <% end %>
  </entry>
<% end %>
