<% if photo.camera.present? %>
  <hr>
  <p>
    Photographed with <%= photo.camera.article %> <%= photo.camera.display_name %>
    <% if photo.lens.present? && !photo.camera.is_phone? %>
      + <%= photo.lens.display_name %>
    <% end %>
    <% if photo.film.present? %>
      on <%= photo.film.display_name %>
    <% end %>
  <% if !photo.film.present? && !photo.camera.is_phone? %>
     · <%= exif_for_feeds(photo) %>
  <% end %>
  </p>
<% end %>
