<% content_for :meta do %>
  <title>About <%= @photoblog.name %></title>
  <meta name="description" content="<%= @photoblog.name %> is my photoblog, where I publish my photos to document my life and travel. I try to post one new photo every day around noon, eastern time.">
  <link rel="canonical" href="<%= about_url %>">

  <meta property="og:title" content="About <%= @photoblog.name %>">
  <meta property="og:image" content="<%= image_url 'cover.png' %>">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">
  <meta property="og:description" content="<%= @photoblog.name %> is my photoblog, where I publish my photos to document my life and travel. I try to post one new photo every day around noon, eastern time.">
  <meta property="og:url" content="<%= about_url %>">
  <meta property="og:type" content="Website">
  <meta property="og:site_name" content="<%= @photoblog.name %>">
  <meta property="og:locale" content="en_US">

  <meta name="twitter:site" content="@gesteves">
  <meta name="twitter:creator" content="@gesteves">
  <meta name="twitter:title" content="About <%= @photoblog.name %>">
  <meta name="twitter:url" content="<%= about_url %>">
  <meta name="twitter:description" content="<%= @photoblog.name %> is my photoblog, where I publish my photos to document my life and travel. I try to post one new photo every day around noon, eastern time.">
  <meta name="twitter:image" content="<%= image_url 'cover.png'  %>">
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<article class="entry entry--text">

  <div class="entry__body">
    <h1 class="entry__headline">
      About <%= @photoblog.name %>
    </h1>
    <blockquote>
      <p>“The world’s big and I want to have a good look at it before it gets dark.”</p>
      <p>—John Muir</p>
    </blockquote>
    <p>I’m <a href="http://www.gesteves.com" rel="me">Guillermo Esteves</a>, a web developer and photographer from Washington, DC. <cite>All-Encompassing Trip</cite> is my photoblog, where I publish my photos to document my life and travel. I try to post one new photo every day around noon, eastern time.</p>

    <h2>Prints</h2>
    <p>Prints are available upon request; if you’re interested, hit me up via <a href="mailto:contact@allencompassingtrip.com">email</a> letting me know which photos you’re interested in, and we’ll discuss options and prices. Please note that not every photo is available for purchase.</p>

    <h2>Elsewhere on the web</h2>
    <p>You can follow me on <a href="https://twitter.com/gesteves" rel="me">Twitter</a>, <a href="http://gesteves.tumblr.com" rel="me">Tumblr</a>, <a href="https://www.instagram.com/gesteves/" rel="me">Instagram</a>, <a href="https://www.flickr.com/photos/gesteves/" rel="me">Flickr</a>, and <a href="https://500px.com/gesteves" rel="me">500px</a>. You can also subscribe to this site via <a href="<%= entries_url(page: 1, format: 'atom') %>">RSS</a> or <a href="https://apple.news/TOUnOh13VRX2x8_VPMwaMbQ">Apple News</a>, and get notifications in <%= link_to 'Slack', slack_url %> when new photos are published.</p>

  </div>
</article>
