<% content_for :meta do %>
  <title><%= @errors.first[:message] %> · <%= @photoblog.name %></title>
<% end %>

<% content_for :typekit do %>
  <%= render partial: 'partials/typekit', locals: { typekit_id: ENV['typekit_body_id'] } if ENV['typekit_body_id'].present? %>
<% end %>

<div class="error" role="main">
  <h1 class="error__hed"><%= @errors.first[:status] %></h1>
  <h2 class="error__dek"><%= @errors.first[:message] %>.</h2>
</div>
