<% content_for :meta do %>
  <title><%= @errors.first[:message] %> &middot; <%= @photoblog.name %></title>
<% end %>

<%= stylesheet_link_tag 'components/error', media: 'all' %>
<div class="error" role="main">
  <h1 class="error__hed"><%= @errors.first[:status] %></h1>
  <h2 class="error__dek"><%= @errors.first[:message] %>.</h2>
</div>
