<% cache @photoblog do %>

  <div class="level is-mobile">
    <div class="level-left">
      <div>
        <h1 class="title is-size-5-mobile">Queue schedule</h1>
        <h2 class="subtitle is-size-6-mobile">
          <% if @photoblog.publish_schedules_count == 0 %>
            Publishing is paused</h2>
          <% elsif @photoblog.publish_schedules_count == 1 %>
            Publishing once a day
          <% elsif @photoblog.publish_schedules_count == 2 %>
            Publishing twice a day
          <% else %>
            Publishing <%= pluralize_with_delimiter 'time', @photoblog.publish_schedules_count %> a day
          <% end %>
        </h2>
      </div>
    </div>
    <div class="level-right">
      <% if @queued_entries > 0 %>
        <div class="level-item">
          <a href="<%= admin_entries_queued_organize_path %>" class="button is-small">
            <span class="icon is-small">
              <i class="fas fa-sort"></i>
            </span>
            <span>Organize</span>
          </a>
        </div>
      <% end %>
    </div>
  </div>

  <hr class="hr">

  <%= form_for([:admin, @new_schedule]) do |f| %>
    <% hours = ([*0..23] - @schedules.map(&:hour)).map { |h| [pretty_hour(h), h]} %>
    <div class="field has-addons">
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <%= f.select :hour, options_for_select(hours) %>
        </div>
      </div>
      <div class="control">
        <%= f.submit 'Add to schedule', class: 'button' %>
      </div>
    </div>
    <p class="help">The current time zone is <%= Time.zone.name %>.</p>
  <% end %>

  <% if @schedules.present? %>
    <hr class="hr">
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
        <th>Time</th>
        <th class="has-text-right-desktop">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'schedule', collection: @schedules %>
      </tbody>
    </table>
  <% end %>

  <nav class="navbar is-fixed-bottom has-shadow">
    <div class="container">
      <div class="navbar-menu is-active">
        <div class="navbar-start">
          <div class="navbar-item">
            <a href="<%= queued_admin_entries_path %>" class="button is-small">
              <span class="icon is-small">
                <i class="fas fa-long-arrow-alt-left"></i>
              </span>
              <span>Go back</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
<% end %>
