<% cache photo do %>
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left crop__label">
          <div class="tags has-addons">
            <span class="tag">Focal Point</span>
          </div>
        </div>
        <div class="media-content">
          <div class="focal-point__image-container" data-controller="focal-point" data-focal-point-endpoint-value=<%= focal_point_admin_entry_photo_url(entry_id: @entry.id, id: photo.id, format: 'json') %> data-focal-point-photo-id="<%= photo.id %>" data-focal-point-focal-x-value="<%= photo.focal_x %>" data-focal-point-focal-y-value="<%= photo.focal_y %>">
            <%= image_tag photo.url(w: 1200),
              width: 1200,
              height: photo.height_from_width(1200),
              class: 'focal-point__thumbnail',
              'data-focal-point-target': 'thumbnail',
              'data-action': 'click->focal-point#setFocalPoint load->focal-point#showFocalPoint' %>
              <div class="is-hidden focal-point__focal-marker focal-point__focal-marker--always-visible" data-focal-point-target="focalMarker"></div>
          </div>
        </div>
      </div>

      <%= render partial: 'crop', locals: { photo: photo, name: 'Square', aspect_ratio: 1 }%>
      <%= render partial: 'crop', locals: { photo: photo, name: 'Twitter', aspect_ratio: 600.0/1200.0 }%>
      <%= render partial: 'crop', locals: { photo: photo, name: 'Facebook', aspect_ratio: 630.0/1200.0 }%>
    </div>
  </div>
<% end %>
