<div class="media">
  <div class="media-left crop__label">
    <h3 class="title is-size-6"><%= name %></h3>
  </div>
  <% crop = photo.crop(aspect_ratio) %>
  <div class="media-content" data-controller="cropper" data-cropper-endpoint-value=<%= create_or_update_admin_entry_photo_crops_url(entry_id: @entry.id, photo_id: photo.id, format: 'json') %> data-cropper-aspect-ratio-value="<%= aspect_ratio %>" data-cropper-crop-x-value="<%= crop&.x %>" data-cropper-crop-y-value="<%= crop&.y %>" data-cropper-crop-width-value="<%= crop&.width %>" data-cropper-crop-height-value="<%= crop&.height %>" data-cropper-focal-x-value="<%= photo.focal_x %>" data-cropper-focal-y-value="<%= photo.focal_y %>">
    <%= image_tag photo.url(width: 2000),
      width: 2000,
      height: photo.height_from_width(2000),
      'data-cropper-target': 'photo',
      'data-action': 'load->cropper#initializeCropper' %>
  </div>
</div>
