<hr class="hr">
<div class="media">
  <div class="media-left crop__label">
    <div class="tags has-addons">
      <span class="tag">1:1</span>
    </div>
  </div>
  <div class="media-content">
    <%= image_tag photo.url(w: 1200, square: true), width: 1200, height: 1200 %>
  </div>
</div>

<div class="media">
  <div class="media-left crop__label">
    <div class="tags has-addons">
      <span class="tag">Facebook</span>
    </div>
  </div>
  <div class="media-content">
    <div class="social-media-card social-media-card--facebook">
      <%= image_tag photo.facebook_card_url, width: 1200, height: 630 %>
      <div class="social-media-card__caption">
        <div class="social-media-card__site"><%= ENV['domain']&.sub('www.', '') || 'example.com' %></div>
        <div class="social-media-card__title"><%= @entry.title %></div>
      </div>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-left crop__label">
    <div class="tags has-addons">
      <span class="tag">Twitter</span>
    </div>
  </div>
  <div class="media-content">
    <div class="social-media-card social-media-card--twitter">
      <%= image_tag photo.twitter_card_url, width: 1200, height: 600 %>
      <div class="social-media-card__caption">
        <div class="social-media-card__title"><%= @entry.title %></div>
        <div class="social-media-card__subtitle"><%= photo.alt_text %></div>
        <div class="social-media-card__site"><%= ENV['domain']&.sub('www.', '') || 'example.com' %></div>
      </div>
    </div>
  </div>
</div>

<div class="media">
  <div class="media-left crop__label">
    <div class="tags has-addons">
      <span class="tag">Twitter Banner</span>
    </div>
  </div>
  <div class="media-content">
    <div class="social-media-card">
      <%= image_tag photo.twitter_banner_url, width: 1500, height: 500 %>
    </div>
  </div>
</div>
