<% if @entry.errors.any? %>
  <article class="message is-danger">
    <div class="message-header">
      <p>Welp, the entry couldn't be saved.</p>
      <button class="delete"></button>
    </div>
    <div class="message-body">
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  </article>
  <hr class="hr">
<% end %>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :slug, 'Permalink', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field has-addons">
      <div class="control is-hidden-mobile">
        <a class="button is-static">
          <%= permalink_preview(@entry) %>
        </a>
      </div>
      <div class="control is-expanded">
        <%= f.text_field :slug, autocomplete: 'on', placeholder: 'optional-url-slug', class: 'input' %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :title, 'Title', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_field :title, required: true, autocomplete: 'on', placeholder: 'The title of the entry…', class: 'input' %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :body, 'Body', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_area :body, placeholder: 'The content of the entry…', class: 'textarea', rows: 10 %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal" data-controller="tag-autocomplete">
  <div class="field-label is-normal">
    <%= f.label :tag_list, 'Tags', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_field :tag_list, value: @entry.tag_list.to_s, autocomplete: 'off', placeholder: 'A list of tags, separated by commas…', class: 'input', 'data-target': 'tag-autocomplete.tags' %>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/shared/tag_datalists', locals: { tags: @tags } %>
</div>

<div class="field is-horizontal" data-controller="tag-autocomplete">
  <div class="field-label is-normal">
    <%= f.label :instagram_location_list, 'Location', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_field :instagram_location_list, value: @entry.instagram_location_list.to_s, autocomplete: 'off', placeholder: 'A list of tags, separated by commas…', class: 'input', 'data-target': 'tag-autocomplete.tags' %>
      </div>
    </div>
  </div>
  <%= render partial: 'admin/shared/tag_datalists', locals: { tags: @tags } %>
</div>
