<hr class="hr">
<h2 class="subtitle is-size-5-mobile">Sharing</h2>

<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :post_to_flickr, 'Share on Flickr', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div class="tabs is-toggle is-small" data-controller="radio-tab">
          <ul>
            <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
              <a>
                Yes
              </a>
            </li>
            <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
              <a>
                No
              </a>
            </li>
          </ul>
          <%= f.hidden_field :post_to_flickr, 'data-radio-tab-target': 'field' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :post_to_flickr_groups, 'Share on Flickr groups', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div class="tabs is-toggle is-small" data-controller="radio-tab">
          <ul>
            <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
              <a>
                Yes
              </a>
            </li>
            <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
              <a>
                No
              </a>
            </li>
          </ul>
          <%= f.hidden_field :post_to_flickr_groups, 'data-radio-tab-target': 'field' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :post_to_instagram, 'Share on Instagram', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div class="tabs is-toggle is-small" data-controller="radio-tab">
          <ul>
            <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
              <a>
                Yes
              </a>
            </li>
            <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
              <a>
                No
              </a>
            </li>
          </ul>
          <%= f.hidden_field :post_to_instagram, 'data-radio-tab-target': 'field' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
  </div>
  <div class="field-body">
    <div class="field" data-controller="character-counter">
      <div class="control is-expanded">
        <%= f.text_area :instagram_text, placeholder: 'Instagram caption…', class: 'textarea', maxlength: 2000, 'data-character-counter-target': 'input', 'data-action': 'input->character-counter#updateCharacterCount' %>
      </div>
      <p class="help"><span data-character-counter-target="characterCount">0</span>/2000</p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :post_to_mastodon, 'Share on Mastodon', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div class="tabs is-toggle is-small" data-controller="radio-tab">
          <ul>
            <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
              <a>
                Yes
              </a>
            </li>
            <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
              <a>
                No
              </a>
            </li>
          </ul>
          <%= f.hidden_field :post_to_mastodon, 'data-radio-tab-target': 'field' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
  </div>
  <div class="field-body">
    <div class="field" data-controller="character-counter">
      <div class="control is-expanded">
        <%= f.text_area :mastodon_text, placeholder: 'Mastodon caption…', class: 'textarea', maxlength: 200, 'data-character-counter-target': 'input', 'data-action': 'input->character-counter#updateCharacterCount' %>
      </div>
      <p class="help"><span data-character-counter-target="characterCount">0</span>/200</p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :post_to_bluesky, 'Share on Bluesky', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div class="tabs is-toggle is-small" data-controller="radio-tab">
          <ul>
            <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
              <a>
                Yes
              </a>
            </li>
            <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
              <a>
                No
              </a>
            </li>
          </ul>
          <%= f.hidden_field :post_to_bluesky, 'data-radio-tab-target': 'field' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
  </div>
  <div class="field-body">
    <div class="field" data-controller="character-counter">
      <div class="control is-expanded">
        <%= f.text_area :bluesky_text, placeholder: 'Bluesky caption…', class: 'textarea', maxlength: 200, 'data-character-counter-target': 'input', 'data-action': 'input->character-counter#updateCharacterCount' %>
      </div>
      <p class="help"><span data-character-counter-target="characterCount">0</span>/200</p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :post_to_tumblr, 'Share on Tumblr', class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div class="tabs is-toggle is-small" data-controller="radio-tab">
          <ul>
            <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
              <a>
                Yes
              </a>
            </li>
            <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
              <a>
                No
              </a>
            </li>
          </ul>
          <%= f.hidden_field :post_to_tumblr, 'data-radio-tab-target': 'field' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label">
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control is-expanded">
        <%= f.text_area :tumblr_text, placeholder: 'Tumblr caption…', class: 'textarea' %>
      </div>
    </div>
  </div>
</div>
