<% if @entry.errors.any? %>
  <div class="flash flash--danger">
    <h2>Welp, the entry couldn't be saved.</h2>
    <ul>
    <% @entry.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form__inline">
  <%= f.label :slug, "http://#{@photoblog.domain}/123/", class: 'form__label form__label--slug' %>
  <%= f.text_field :slug, autocomplete: 'on', placeholder: 'your-optional-url-slug', class: 'form__input form__input--small' %>
</div>

<%= f.text_field :title, required: true, autocomplete: 'on', placeholder: 'Title', class: 'form__input' %>
<%= f.text_area :body, placeholder: 'Your text here…', class: 'form__input form__input--textarea' %>
<%= f.text_field :tag_list, value: @entry.tag_list.to_s, autocomplete: 'off', placeholder: 'Tags (comma-separated)', class: 'form__input form__input--small js-tags-multiple' %>
