<li class="entry" <% if entry.is_queued? %>data-position="<%= entry.position %>"<% end %>>
  <% if entry.is_photo? %>
    <a class="entry__link" href="<%= entry.is_published? ? entry.permalink_url : preview_entry_path(entry.preview_hash) %>" <% if entry.is_photo? %>style="<%= "#{intrinsic_ratio_padding(entry.photos.first)};#{image_placeholder(entry.photos.first)}" %>"<% end %>>
      <%= lazy_responsive_image_tag entry.photos.first, 'admin_entry', { class: 'entry__thumb', alt: entry.photos.first.alt_text } %>
    </a>
  <% end %>
  <div class="entry__content <% if entry.is_text? %>entry__content--text<% end %>">
    <h2><%= sanitize(entry.plain_title) %></h2>
    <%= sanitize(entry.formatted_body) unless entry.body.blank? %>
  </div>
  <div class="entry__meta">
    <div>
      <% entry.combined_tags.each do |t| %>
        <span class="entry__tag"><%= link_to t.name, admin_tagged_entries_path(t.slug) %></span>
      <% end %>
    </div>
    <% if entry.is_queued? && action_name != 'search' %>
      <div class="entry__timestamp">
        Queued for <%= entry.publish_date_for_queued.strftime('%A, %B %-d, %Y') %>
      </div>
    <% end %>
    <div class="entry__meta-bottom">
      <% if entry.is_published? %>
        <div class="entry__timestamp">
          <%= link_to "Published #{entry.published_at.strftime('%A, %B %-d, %Y')}", entry.permalink_url %>
        </div>
      <% elsif entry.is_queued? && action_name == 'search' %>
        <div class="entry__timestamp">
          Queued for <%= entry.publish_date_for_queued.strftime('%A, %B %-d, %Y') %>
        </div>
      <% elsif entry.is_queued? && action_name == 'queued' %>
        <div class="entry__actions entry__actions--queue">
          <%= link_to 'Move to top', top_admin_entry_path(entry.id), method: :post, data: { queue: 'top' } %>
          <%= link_to 'Move up', up_admin_entry_path(entry.id), method: :post, data: { queue: 'up' } %>
          <%= link_to 'Move down', down_admin_entry_path(entry.id), method: :post, data: { queue: 'down' } %>
          <%= link_to 'Move to bottom', bottom_admin_entry_path(entry.id), method: :post, data: { queue: 'bottom' } %>
        </div>
      <% end %>
      <div class="entry__actions">
        <% if entry.is_photo? %>
          <%= link_to 'Share', share_admin_entry_path(entry) %>
          ·
        <% end %>
        <%= link_to 'Edit', edit_admin_entry_path(entry) %> ·
        <%= link_to 'More', more_admin_entry_path(entry.id) %>
      </div>
    </div>
  </div>
</li>
