<div class="dropdown is-right" data-controller="dropdown">
  <div class="dropdown-trigger">
    <button class="button" data-action="click->dropdown#toggle">
      <span>Actions</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content">
      <%= link_to icon('Edit', 'fas fa-edit'), edit_admin_entry_path(entry), class: 'dropdown-item' %>
      <% if entry.is_photo? %>
        <%= link_to icon('Share', 'fas fa-share-square'), share_admin_entry_path(entry), class: 'dropdown-item', 'data-controller': 'modal', 'data-action': 'click->modal#open' %>
      <% end %>
      <% if entry.is_photo? %>
        <%= link_to icon('Crops', 'fas fa-crop'), crops_admin_entry_path(entry), class: 'dropdown-item', 'data-controller': 'modal', 'data-action': 'click->modal#open' %>
      <% end %>
      <% if entry.is_photo? && !entry.is_photoset? %>
        <%= link_to icon('Download original', 'fas fa-download'), entry.photos.first.image.service_url(disposition: :attachment), class: 'dropdown-item' %>
      <% end %>
      <% if entry.is_photo? %>
        <%= link_to icon('Prints', 'fas fa-print'), prints_admin_entry_path(entry), class: 'dropdown-item', 'data-controller': 'modal', 'data-action': 'click->modal#open' %>
      <% end %>
      <hr class="dropdown-divider">
      <%= link_to icon('Clear from caches', 'fas fa-eraser'), flush_caches_admin_entry_path(entry.id), remote: true, method: :post, data: { confirm: "This will clear this entry from CDN and make any changes publicly visible right away. Do you want to proceed?" }, class: 'dropdown-item' %>
      <%= link_to icon('Refresh metadata', 'fas fa-sync'), refresh_metadata_admin_entry_path(entry.id), remote: true, method: :post, data: { confirm: 'This will refresh the entry’s metadata and update its tags. Do you want to proceed?' }, class: 'dropdown-item' %>
      <hr class="dropdown-divider">
      <% if entry.is_queued? %>
        <%= link_to icon('Send to drafts', 'fas fa-folder-open'), draft_admin_entry_path(entry), method: :patch, data: { confirm: 'Are you sure you want to send this entry to the drafts? It will lose its place in the queue.' }, class: 'dropdown-item' %>
      <% elsif entry.is_draft? %>
        <%= link_to icon('Send to queue', 'fas fa-clock'), queue_admin_entry_path(entry), method: :patch, data: { confirm: 'Are you sure you want to send this entry to the queue?' }, class: 'dropdown-item' %>
      <% end %>
      <% if !entry.is_published? %>
        <%= link_to icon('Publish it!', 'fas fa-rocket'), publish_admin_entry_path(entry), method: :patch, data: { confirm: 'Are you sure you want to publish this entry? This can’t be undone!' }, class: 'dropdown-item has-text-danger' %>
        <hr class="dropdown-divider">
      <% end %>
      <%= link_to icon('Delete it forever', 'fas fa-trash-alt'), admin_entry_path(entry.id), method: :delete, data: { confirm: 'Are you absolutely sure you want to delete it forever? This can’t be undone!' }, class: 'dropdown-item has-text-danger' %>
    </div>
  </div>
</div>
