<div class="card">
  <% if entry.is_photo? %>
    <div class="card-image">
      <a class="image" href="<%= entry.is_published? ? entry.permalink_url : preview_entry_path(entry.preview_hash) %>">
        <%= responsive_image_tag entry.photos.first, 'admin_entry', { alt: entry.photos.first.alt_text } %>
      </a>
    </div>
  <% end %>
  <div class="card-content">
    <h1 class="title is-size-5"><%= sanitize(entry.plain_title) %></h1>
    <h2 class="subtitle is-size-7 has-text-grey">
      <% if entry.is_published? %>
          Published <%= entry.published_at.strftime('%A, %B %-d, %Y') %>
      <% elsif entry.is_queued? %>
          Queued for <%= entry.publish_date_for_queued.strftime('%A, %B %-d, %Y') %>
      <% end %>
    </h2>
    <div class="content">
      <%= sanitize(entry.formatted_body) unless entry.body.blank? %>
    </div>

    <div class="tags">
      <% entry.combined_tags.each do |t| %>
        <%= link_to t.name, admin_tagged_entries_path(t.slug), class: 'tag' %>
      <% end %>
    </div>

    <div class="dropdown is-up" data-controller="dropdown">
      <div class="dropdown-trigger">
        <button class="button" data-action="click->dropdown#toggle">
          <span>Actions</span>
          <span class="icon is-small">
            <i class="fas fa-angle-up" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-content">
          <% if entry.is_queued? && action_name == 'queued' %>
            <%= link_to 'Move to top', top_admin_entry_path(entry.id), method: :post, data: { queue: 'top' }, class: 'dropdown-item' %>
            <%= link_to 'Move up', up_admin_entry_path(entry.id), method: :post, data: { queue: 'up' }, class: 'dropdown-item' %>
            <%= link_to 'Move down', down_admin_entry_path(entry.id), method: :post, data: { queue: 'down' }, class: 'dropdown-item' %>
            <%= link_to 'Move to bottom', bottom_admin_entry_path(entry.id), method: :post, data: { queue: 'bottom' }, class: 'dropdown-item' %>
            <hr class="dropdown-divider">
          <% end %>
          <%= link_to 'Edit', edit_admin_entry_path(entry), class: 'dropdown-item' %>
          <% if entry.is_photo? %>
            <%= link_to 'Share', share_admin_entry_path(entry), class: 'dropdown-item' %>
          <% end %>
          <hr class="dropdown-divider">
          <%= link_to 'Purge entry from cache', invalidate_admin_entry_path(entry.id), method: :post, class: 'dropdown-item' %>
          <% if entry.show_in_map? %><%= link_to 'Update location data', geotag_admin_entry_path(entry.id), method: :post, class: 'dropdown-item' %><% end %>
          <%= link_to 'Update annotation data', annotate_admin_entry_path(entry.id), method: :post, class: 'dropdown-item' %>
          <%= link_to 'Update palette data', palette_admin_entry_path(entry.id), method: :post, class: 'dropdown-item' %>
          <hr class="dropdown-divider">
          <% if entry.is_queued? %>
            <%= link_to 'Send to drafts', draft_admin_entry_path(entry), method: :patch, data: { confirm: 'Are you sure you want to send this entry to the drafts?' }, class: 'dropdown-item' %>
          <% elsif entry.is_draft? %>
            <%= link_to 'Send to queue', queue_admin_entry_path(entry), method: :patch, data: { confirm: 'Are you sure you want to send this entry to the queue?' }, class: 'dropdown-item' %>
          <% end %>
          <%= link_to 'Publish!', publish_admin_entry_path(entry), method: :patch, data: { confirm: 'Are you sure you want to publish this entry? This can’t be undone!' }, class: 'dropdown-item has-text-danger' %>
          <hr class="dropdown-divider">
          <%= link_to 'Delete forever!', admin_entry_path(entry.id), method: :delete, data: { confirm: 'Are you absolutely sure you want to delete it? it really can’t be undone!' }, class: 'dropdown-item has-text-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
