<%= form_for([:admin, @entry]) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this admin_entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Slug<br/><%= f.text_field :slug %></p>
  <p>Title<br/><%= f.text_field :title %></p>

  <%= f.text_area :body %>

  <% if include_status_option %>
    <%= f.select :status, options_for_select(['queued', 'draft', 'published']) %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
