<%= fields_for :entry, @entry do |f| %>
  <%= f.fields_for :photos, child_index: "#{(Time.now.to_f * 1000).to_i}#{i}" do |p| %>
    <div class="form__photo" data-controller="entry-form-photo" data-entry-form-photo-empty="1">
      <div class="form__fields form__fields--initial" data-target="entry-form-photo.fields">
        <%= p.url_field :source_url, placeholder: 'Paste a URL', autocomplete: 'off', class: 'form__input form__input--url', 'data-action': 'keyup->entry-form-photo#addFromUrl' %>
        <div class="button" data-action="click->entry-form-photo#triggerFileInput">
          Upload a file
          <%= p.file_field :source_file, accept: '.jpg,.jpeg', class: 'form__input form__input--file', 'data-target': 'entry-form-photo.fileinput','data-action': 'click->entry-form-photo#stopPropagation change->entry-form-photo#addFromFile' %>
        </div>
        <%= link_to 'Close', '#', class: 'button button--danger', 'data-action': 'click->entry-form-photo#delete' %>
      </div>
      <div class="form__fields form__fields--hidden" data-target="entry-form-photo.fields">
        <div class="form__photo-thumb">
          <img class="form__photo-img" data-target="entry-form-photo.thumbnail" data-action="click->entry-form-photo#setFocalPoint" />
          <div class="form__photo-focal-point" data-target="entry-form-photo.focalmarker"></div>
        </div>
        <div class="form__photo-fields">
          <%= p.text_area :caption, placeholder: 'Write a caption for this photo…', class: 'form__input form__input--caption' %>
          <%= link_to 'Remove', '#', class: 'button button--danger form__photo-delete', 'data-action': 'click->entry-form-photo#delete' %>
          <%= p.hidden_field :position, 'data-target': 'entry-form-photo.position' %>
          <%= p.hidden_field :focal_x, 'data-target': 'entry-form-photo.focalx' %>
          <%= p.hidden_field :focal_y, 'data-target': 'entry-form-photo.focaly' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
