<div class="modal is-active"  data-controller="modal">
  <div class="modal-background" data-action="click->modal#close"></div>
  <div class="modal-card">
    <%= form_with url: bluesky_admin_entry_path(@entry.id), method: :post, local: false, html: { 'data-action': 'ajax:success->modal#close' } do |form| %>
    <header class="modal-card-head">
      <h1 class="modal-card-title">Share on Bluesky</h1>
      <button class="delete" data-action="click->modal#close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <div class="field" data-controller="character-counter">
          <div class="control is-expanded">
            <%= form.text_area :text, value: @text.html_safe, placeholder: 'Your Bluesky caption…', maxlength: 300, required: true, class: 'textarea', rows: 8, 'data-character-counter-target': 'input', 'data-action': 'input->character-counter#updateCharacterCount' %>
          </div>
          <p class="help"><span data-character-counter-target="characterCount">0</span>/300
          <% if @entry.last_shared_on_bluesky_at.present? %>
            – <span class="<%= bluesky_share_warning_class(@entry) %>">Last shared <%= time_ago_in_words(@entry.last_shared_on_bluesky_at) %> ago</span>
          <% else %>
            – Never shared on Bluesky
          <% end %>
          </p>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="field is-grouped">
        <p class="control">
          <%= form.submit "Share", class: 'button is-success' %>
        </p>
        <p class="control">
          <button class="button is-light" data-action="click->modal#close">Cancel</button>
        </p>
      </div>
    </footer>
    <% end %>
  </div>
</div>
