<% cache "admin/delete/entry/#{@entry.id}/#{@entry.updated_at.to_i}" do %>
  <div class="entry">
    <% if @entry.is_photo? %>
      <a class="entry__link" href="<%= @entry.is_published? ? @entry.permalink_url : preview_entry_path(@entry.preview_hash) %>" <%= intrinsic_ratio_padding(@entry.photos.first) if @entry.is_photo? %>>
        <%= lazy_responsive_image_tag @entry.photos.first, 'admin_entry', { class: 'entry__thumb' } %>
      </a>
    <% end %>
    <div class="entry__content <% if @entry.is_text? %>entry__content--text<% end %>">
      <h2><%= sanitize(@entry.plain_title) %></h2>
    </div>
    <div class="entry__meta">
      <div>
        <% @entry.combined_tags.each do |t| %>
          <span class="entry__tag"><%= link_to t.name, admin_tagged_entries_path(t.slug) %></span>
        <% end %>
      </div>
      <% if @entry.is_queued? %>
        <div class="entry__timestamp">
          Queued for <%= publish_date_for_queued(@entry) %>
        </div>
      <% end %>
      <div class="entry__meta-bottom">
        <div class="entry__actions entry__actions--right">
          <span class="entry__delete">Are you sure you want to delete this entry?</span> <%= button_to 'Delete', admin_entry_path(@entry.id), method: :delete, data: { confirm: 'Are you absolutely sure you want to delete it? This can’t be undone!' }, class: 'button button--danger' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
