<% content_for :nav do %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: nil } %>
<% end %>

<%= form_for([:admin, @entry], html: { multipart: true, class: 'admin-form' }) do |f| %>
  
  <%= render partial: 'entry_fields', locals: { f: f } %>

  <div class="admin-form__photos">
    <ol class="admin-form__photos-list">
      <%= f.fields_for :photos, child_index: Time.now.to_i do |p| %>
        <div class="admin-form__photo">
          <div class="admin-form__fields">
            <%= responsive_image_tag p.object, [300, 600, 900], "300px", { default_width: 600, quality: photoblog.photo_quality }, { class: "admin-form__photo-thumb" } %>
            <div class="admin-form__photo-fields">
              <%= p.text_area :caption, placeholder: 'Write the caption of the photo here…', class: 'admin-form__input admin-form__input--caption' %>
              <%= link_to 'Delete', '#', class: 'button button--danger admin-form__photo-delete' %>
              <%= p.hidden_field :id %>
              <%= p.hidden_field :position %>
              <%= p.hidden_field :_destroy %>
            </div>
          </div>
        </div>
      <% end %>
    </ol>
    <%= link_to 'Add photo', '#', class: 'button button--default' %>
  </div>

  <div class="admin-form__actions">
    <div class="admin-form__buttons">
      <% if @entry.is_draft? %>
        <%= link_to 'Cancel', drafts_admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button button--danger' %>
      <% elsif @entry.is_queued? %>
        <%= link_to 'Cancel', queued_admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button button--danger' %>
      <% else %>
        <%= link_to 'Cancel', admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button button--danger' %>
      <% end %>
    </div>
    <div class="admin-form__buttons admin-form__buttons--safe">
    <%= f.submit 'Save changes', class: 'button button--success' %>
    </div>
  </div>
<% end %>
