<h1 class="title is-size-5-mobile">Editing entry</h1>
<h2 class="subtitle is-size-6-mobile"><%= @entry.plain_title %></h2>
<hr class="hr">

<%= form_for([:admin, @entry], html: { multipart: true, 'data-controller': 'entry-form sluggifier', 'data-entry-form-photo-endpoint-value': photo_admin_entries_path, 'data-action': 'submit->entry-form#submit' }) do |f| %>

<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :photos, 'Photos', class: 'label' %>
    <a href="#" class="button" data-action="click->entry-form#addPhoto">
      <span class="icon">
        <i class="fas fa-plus-circle"></i>
      </span>
    </a>
  </div>
  <div class="field-body">
    <div class="field is-extended">
      <div data-entry-form-target="photos">
        <%= f.fields_for :photos do |p| %>
          <div class="draggable-source" data-controller="photo-form" data-photo-form-empty-value="false">
            <div class="card" data-photo-form-target="fields">
              <div class="card-image image is-clipped image-container">
                <%= responsive_image_tag(
                  photo: p.object,
                  srcset: @srcset,
                  sizes: @sizes,
                  html_options: {
                    class: 'placeholder',
                    style: css_placeholder_background(p.object),
                    'data-action': 'load->placeholder#removeBackground',
                    'data-photo-form-target': 'thumbnail',
                    'data-controller': 'placeholder'
                  }) %>
              </div>
              <div class="card-content">
                <div class="media photo-form">
                  <div class="media-content">
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <%= p.label :alt_text, 'Alt text', class: 'label' %>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control is-expanded">
                            <%= p.text_field :alt_text, placeholder: 'Write alt text for this photo…', class: 'input' %>
                            <%= p.hidden_field :id %>
                            <%= p.hidden_field :position, 'data-position': '' %>
                            <%= p.hidden_field :_destroy, 'data-photo-form-target': 'destroy' %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="hr">
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <%= p.label :location, 'Location', class: 'label' %>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control is-expanded">
                            <%= p.text_field :location, placeholder: 'The place where this photo was made…', class: 'input' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-content"></div>
                  <div class="media-right photo-form__controls">
                    <span class="icon is-small has-text-grey-light draggable-handle">
                      <i class="fas fa-sort"></i>
                    </span>
                    <a class="delete" data-action="click->photo-form#delete"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <%= render partial: 'entry_fields', locals: { f: f } %>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Sharing</h2>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_flickr, 'Share on Flickr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_flickr, 'data-radio-tab-target': 'field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_flickr_groups, 'Share on Flickr groups', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_flickr_groups, 'data-radio-tab-target': 'field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_instagram, 'Share on Instagram', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_instagram, 'data-radio-tab-target': 'field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field" data-controller="character-counter">
        <div class="control is-expanded">
          <%= f.text_area :instagram_text, placeholder: 'Instagram caption…', class: 'textarea', maxlength: 2200, 'data-character-counter-target': 'input', 'data-action': 'input->character-counter#updateCharacterCount' %>
        </div>
        <p class="help"><span data-character-counter-target="characterCount">0</span>/2200 | This will be used in the Instagram caption, along with the title and image metadata (if empty, the existing body will be used.)</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_mastodon, 'Share on Mastodon', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_mastodon, 'data-radio-tab-target': 'field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field" data-controller="character-counter">
        <div class="control is-expanded">
          <%= f.text_area :mastodon_text, placeholder: 'Mastodon caption…', class: 'textarea', maxlength: 400, 'data-character-counter-target': 'input', 'data-action': 'input->character-counter#updateCharacterCount' %>
        </div>
        <p class="help"><span data-character-counter-target="characterCount">0</span>/400 | This will be used in the Mastodon text, along with the title and permalink (if empty, only the title and permalink will be used.)</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_tumblr, 'Share on Tumblr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_tumblr, 'data-radio-tab-target': 'field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Other options</h2>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :content_warning, 'Content warning', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :content_warning, placeholder: 'Content warning for this entry…', class: 'input' %>
        </div>
        <p class="help">Writing a content warning will mark this entry as sensitive in various places.</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :show_location, 'Show location', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :show_location, 'data-radio-tab-target': 'field' %>
          </div>
        </div>
        <p class="help">Turning this off also prevents the entry from being automatically tagged with location names.</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :hide_from_search_engines, 'Hide from search engines', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :hide_from_search_engines, 'data-radio-tab-target': 'field' %>
          </div>
        </div>
        <p class="help">Prevents Google, Bing, and other search engines from indexing this entry.</p>
      </div>
    </div>
  </div>

  <hr class="hr">
  <div class="buttons is-right">
    <%= f.submit 'Save changes', class: 'button is-success' %>
  </div>
<% end %>
