<h1 class="title is-size-5-mobile">Editing entry</h1>
<h2 class="subtitle is-size-6-mobile"><%= @entry.plain_title %></h2>
<hr class="hr">

<%= form_for([:admin, @entry], html: { multipart: true, 'data-controller': 'entry-form sluggifier', 'data-entry-form-photo-endpoint-value': photo_admin_entries_path, 'data-action': 'submit->entry-form#submit' }) do |f| %>

<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :photos, 'Photos', class: 'label' %>
    <a href="#" class="button" data-action="click->entry-form#addPhoto">
      <span class="icon">
        <i class="fas fa-plus-circle"></i>
      </span>
    </a>
  </div>
  <div class="field-body">
    <div class="field is-extended">
      <div data-entry-form-target="photos">
        <%= f.fields_for :photos do |p| %>
          <div class="draggable-source" data-controller="photo-form" data-photo-form-empty-value="false">
            <div class="card" data-photo-form-target="fields">
              <div class="card-image image is-clipped image-container">
                <%= responsive_image_tag(
                  photo: p.object,
                  srcset: @srcset,
                  sizes: @sizes,
                  html_options: {
                    class: 'placeholder',
                    style: css_placeholder_background(p.object),
                    'data-action': 'load->placeholder#removeBackground',
                    'data-photo-form-target': 'thumbnail',
                    'data-controller': 'placeholder'
                  }) %>
              </div>
              <div class="card-content">
                <div class="media photo-form">
                  <div class="media-content">
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <%= p.label :alt_text, 'Alt text', class: 'label' %>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control is-expanded">
                            <%= p.text_field :alt_text, placeholder: 'Write alt text for this photo…', class: 'input' %>
                            <%= p.hidden_field :id %>
                            <%= p.hidden_field :position, 'data-position': '' %>
                            <%= p.hidden_field :_destroy, 'data-photo-form-target': 'destroy' %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="hr">
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <%= p.label :location, 'Location', class: 'label' %>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <div class="control is-expanded">
                            <%= p.text_field :location, placeholder: 'The place where this photo was made…', class: 'input' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-content"></div>
                  <div class="media-right photo-form__controls">
                    <span class="icon is-small has-text-grey-light draggable-handle">
                      <i class="fas fa-sort"></i>
                    </span>
                    <a class="delete" data-action="click->photo-form#delete"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <%= render partial: 'entry_fields', locals: { f: f } %>
  <%= render partial: 'entry_sharing', locals: { f: f } %>
  <%= render partial: 'entry_options', locals: { f: f } %>

  <hr class="hr">
  <div class="buttons is-right">
    <%= f.submit 'Save changes', class: 'button is-success' %>
  </div>
<% end %>
