<% content_for :nav do %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: nil } %>
<% end %>

<%= form_for([:admin, @entry], html: { multipart: true, class: 'form' }) do |f| %>

  <%= render partial: 'entry_fields', locals: { f: f } %>

  <div class="form__photos">
    <ol class="form__photos-list">
      <%= f.fields_for :photos do |p| %>
        <div class="form__photo">
          <div class="form__fields">
            <div class="form__photo-thumb">
              <%= responsive_image_tag p.object, 'admin_edit' %>
            </div>
            <div class="form__photo-fields">
              <%= p.text_area :caption, placeholder: 'Write the caption of the photo here…', class: 'form__input form__input--caption' %>
              <%= link_to 'Remove', '#', class: 'button button--danger form__photo-delete js-photo-delete' %>
              <%= p.hidden_field :id %>
              <%= p.hidden_field :position, class: 'js-photo-position' %>
              <%= p.hidden_field :_destroy, class: 'js-photo-destroy' %>
            </div>
          </div>
        </div>
      <% end %>
    </ol>
    <%= link_to 'Add photo', '#', class: 'button button--default js-photo-add' %>
  </div>

  <% unless @entry.is_published? %>
    <div class="form__options">
      <h2>Sharing options</h2>
      <%= f.label :post_to_tumblr, class: 'form__label form__label--checkbox' do %><%= f.check_box(:post_to_tumblr) %> Post to Tumblr<% end %>
      <%= f.label :post_to_twitter, class: 'form__label form__label--checkbox' do %>
        <%= f.check_box(:post_to_twitter) %> Post to Twitter
      <% end %>
      <%= f.text_area :tweet_text, placeholder: 'Your tweet here…', maxlength: 90, class: 'form__input form__input--textarea form__input--short' %>
    </div>
  <% end %>

  <div class="form__actions">
    <div class="form__buttons">
      <% if @entry.is_draft? %>
        <%= link_to 'Cancel', drafts_admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button button--danger' %>
      <% elsif @entry.is_queued? %>
        <%= link_to 'Cancel', queued_admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button button--danger' %>
      <% else %>
        <%= link_to 'Cancel', admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button button--danger' %>
      <% end %>
    </div>
    <div class="form__buttons form__buttons--safe">
    <%= f.submit 'Save changes', class: 'button button--success' %>
    </div>
  </div>
<% end %>

<%= render partial: 'tag_datalists', locals: { tags: @tags } %>
