<% content_for :meta do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<h1 class="title is-size-5-mobile">Editing entry</h1>
<hr class="hr">

<%= form_for([:admin, @entry], html: { multipart: true, 'data-controller': 'entry-form', 'data-entry-form-photo-endpoint': photo_admin_entries_path, 'data-action': 'submit->entry-form#submit' }) do |f| %>

<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :photos, 'Photos', class: 'label' %>
    <a href="#" class="button" data-action="click->entry-form#addPhoto">
      <span class="icon">
        <i class="fas fa-plus-circle"></i>
      </span>
    </a>
  </div>
  <div class="field-body">
    <div class="field is-extended">
      <div data-target="entry-form.photos">
        <%= f.fields_for :photos do |p| %>
          <div class="box draggable-source" data-controller="photo-form" data-photo-form-empty="0" data-photo-form-focal-x="<%= p.object.focal_x %>" data-photo-form-focal-y="<%= p.object.focal_y %>">
            <div class="media photo-form" data-target="photo-form.fields">
              <div class="media-left photo-form__photo-container">
                <%= responsive_image_tag p.object, 'admin_edit', { class: 'photo-form__thumbnail', 'data-action': 'click->photo-form#setFocalPoint load->photo-form#showFocalPoint', 'data-target': 'photo-form.thumbnail' } %>
                <span class="icon is-large has-text-danger is-hidden photo-form__focal-marker" data-target="photo-form.focalMarker">
                  <i class="far fa-3x fa-circle"></i>
                </span>
              </div>
              <div class="media-content photo-form__form-container">
                <div class="field is-grouped is-grouped-multiline">
                  <div class="control is-expanded">
                    <%= p.text_area :caption, placeholder: 'Write a caption for this photo…', class: 'textarea' %>
                    <%= p.hidden_field :id %>
                    <%= p.hidden_field :position, 'data-position': '' %>
                    <%= p.hidden_field :_destroy, 'data-target': 'photo-form.destroy' %>
                    <%= p.hidden_field :focal_x, 'data-target': 'photo-form.focalX' %>
                    <%= p.hidden_field :focal_y, 'data-target': 'photo-form.focalY' %>
                  </div>
                </div>
              </div>
              <div class="media-right photo-form__controls">
                <a class="delete" data-action="click->photo-form#delete"></a>
                <span class="icon is-small has-text-grey-light draggable-handle">
                  <i class="fas fa-arrows-alt-v"></i>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <%= render partial: 'entry_fields', locals: { f: f } %>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Entry options</h2>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :show_in_map, 'Show in map', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.check_box :show_in_map %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :invalidate_cloudfront, 'Clear cache', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.check_box :invalidate_cloudfront, { checked: false } %>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Sharing options</h2>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_facebook, 'Share on Facebook', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.check_box :post_to_facebook %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_flickr, 'Share on Flickr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.check_box :post_to_flickr %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_pinterest, 'Share on Pinterest', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.check_box :post_to_pinterest %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_tumblr, 'Share on Tumblr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.check_box :post_to_tumblr %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_twitter, 'Share on Twitter', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.check_box :post_to_twitter %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :tweet_text, placeholder: 'Your tweet…', maxlength: 230, class: 'textarea' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_instagram, 'Share on Instagram', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.check_box :post_to_instagram %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :instagram_text, placeholder: 'Your Instagram caption…', maxlength: 230, class: 'textarea' %>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">
  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="buttons is-right">
          <% if @entry.is_draft? %>
            <%= link_to 'Cancel', drafts_admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button' %>
          <% elsif @entry.is_queued? %>
            <%= link_to 'Cancel', queued_admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button' %>
          <% else %>
            <%= link_to 'Cancel', admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button' %>
          <% end %>

          <%= f.submit 'Save changes', class: 'button is-success' %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'tag_datalists', locals: { tags: @tags } %>
<% end %>
