<% content_for :nav do %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: nil } %>
<% end %>

<%= form_for([:admin, @entry], html: { multipart: true, class: 'form', 'data-controller': 'entry-form', 'data-entry-form-photo-endpoint': photo_admin_entries_path, 'data-action': 'submit->entry-form#submit' }) do |f| %>

  <div class="form__photos">
    <ol class="form__photos-list" data-target="entry-form.photos">
      <%= f.fields_for :photos do |p| %>
        <li class="form__photo draggable-source" data-controller="entry-form-photo" data-entry-form-photo-empty="0" data-entry-form-photo-focal-x="<%= p.object.focal_x %>" data-entry-form-photo-focal-y="<%= p.object.focal_y %>">
          <div class="form__fields" data-target="entry-form-photo.fields">
            <div class="form__drag draggable-handle">
              <%= inline_svg 'drag', 'form__drag-icon' %>
            </div>
            <div class="form__photo-thumb">
              <%= responsive_image_tag p.object, 'admin_edit', { class: 'form__photo-img', 'data-action': 'click->entry-form-photo#setFocalPoint load->entry-form-photo#showFocalPoint', 'data-target': 'entry-form-photo.thumbnail' } %>
              <div class="form__photo-focal-point" data-target="entry-form-photo.focalmarker"></div>
            </div>
            <div class="form__photo-fields" data-target="entry-form-photo.fields">
              <%= p.text_area :caption, placeholder: 'Write the caption of the photo here…', class: 'form__input form__input--caption' %>
              <%= link_to 'Remove', '#', class: 'button button--danger form__photo-delete', 'data-action': 'click->entry-form-photo#delete' %>
              <%= p.hidden_field :id %>
              <%= p.hidden_field :position, 'data-position': '' %>
              <%= p.hidden_field :_destroy, 'data-target': 'entry-form-photo.destroy' %>
              <%= p.hidden_field :focal_x, 'data-target': 'entry-form-photo.focalx' %>
              <%= p.hidden_field :focal_y, 'data-target': 'entry-form-photo.focaly' %>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
    <%= link_to 'Add photo', '#', class: 'button button--default', 'data-action': 'click->entry-form#addPhoto' %>
  </div>

  <%= render partial: 'entry_fields', locals: { f: f } %>

  <div class="form__options">
    <h2>Entry options</h2>
    <%= f.label :show_in_map, class: 'form__label form__label--checkbox' do %><%= f.check_box :show_in_map %> Show in map<% end %>
    <%= f.label :invalidate_cloudfront, class: 'form__label form__label--checkbox' do %><%= f.check_box :invalidate_cloudfront, { checked: false } %> Send CloudFront invalidation request<% end %>
    <% if !@entry.is_published? %>
      <h2>Sharing options</h2>
      <%= f.label :post_to_facebook, class: 'form__label form__label--checkbox' do %><%= f.check_box :post_to_facebook %> Post to Facebook<% end %>
      <%= f.label :post_to_flickr, class: 'form__label form__label--checkbox' do %><%= f.check_box :post_to_flickr %> Post to Flickr<% end %>
      <%= f.label :post_to_instagram, class: 'form__label form__label--checkbox' do %><%= f.check_box :post_to_instagram %> Post to Instagram<% end %>
      <%= f.label :post_to_pinterest, class: 'form__label form__label--checkbox' do %><%= f.check_box :post_to_pinterest %> Post to Pinterest<% end %>
      <%= f.label :post_to_tumblr, class: 'form__label form__label--checkbox' do %><%= f.check_box :post_to_tumblr %> Post to Tumblr<% end %>
      <%= f.label :post_to_twitter, class: 'form__label form__label--checkbox' do %>
        <%= f.check_box(:post_to_twitter) %> Post to Twitter
      <% end %>
      <%= f.text_area :tweet_text, placeholder: 'Your tweet here…', maxlength: 230, class: 'form__input form__input--textarea form__input--short' %>
    <% end %>
  </div>

  <div class="form__actions">
    <div class="form__buttons">
      <% if @entry.is_draft? %>
        <%= link_to 'Cancel', drafts_admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button button--danger' %>
      <% elsif @entry.is_queued? %>
        <%= link_to 'Cancel', queued_admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button button--danger' %>
      <% else %>
        <%= link_to 'Cancel', admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button button--danger' %>
      <% end %>
    </div>
    <div class="form__buttons form__buttons--safe">
    <%= f.submit 'Save changes', class: 'button button--success' %>
    </div>
  </div>
  <%= render partial: 'tag_datalists', locals: { tags: @tags } %>
<% end %>
