<div class="modal is-active"  data-controller="modal">
  <div class="modal-background" data-action="click->modal#close"></div>
  <div class="modal-card">
    <%= form_with url: instagram_admin_entry_path(@entry.id), method: :post, html: { 'data-action': 'ajax:success->modal#close' } do |form| %>
    <header class="modal-card-head">
      <h1 class="modal-card-title">Share on Instagram</h1>
      <button class="delete" data-action="click->modal#close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <div class="field" data-controller="character-counter">
          <div class="control is-expanded">
            <%= form.text_area :text, value: @text.html_safe, placeholder: 'Your Instagram caption…', maxlength: 2200, required: true, class: 'textarea', rows: 8, 'data-character-counter-target': 'input', 'data-action': 'input->character-counter#updateCharacterCount' %>
          </div>
          <p class="help"><span data-character-counter-target="characterCount">0</span>/2200</p>
        </div>
        <div class="field">
          <div class="field-label">
            <%= form.label :send_to_queue, 'Queue', class: 'label' %>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="tabs is-toggle is-small" data-controller="radio-tab">
                  <ul>
                    <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                      <a>
                        Yes
                      </a>
                    </li>
                    <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                      <a>
                        No
                      </a>
                    </li>
                  </ul>
                  <%= form.hidden_field :send_to_queue, 'data-radio-tab-target': 'field' %>
                </div>
              </div>
              <p class="help">The queue can be managed at <a href="https://publish.buffer.com" target="_blank">Buffer</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="field is-grouped">
        <p class="control">
          <%= form.submit "Share", class: 'button is-success' %>
        </p>
        <p class="control">
          <button class="button is-light" data-action="click->modal#close">Cancel</button>
        </p>
      </div>
    </footer>
    <% end %>
  </div>
</div>
