<%= render partial: 'entry', object: @entry %>

<% if !@entry.is_published? %>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">Publishing status</p>
    </header>
    <div class="card-content">
      <div class="field is-grouped">
        <% if @entry.is_queued? %>
          <p class="control"><%= button_to 'Send it to the drafts', draft_admin_entry_path(@entry), method: :patch, data: { confirm: 'Are you sure you want to send this entry to the drafts?' }, class: 'button' %></p>
        <% elsif @entry.is_draft? %>
          <p class="control"><%= button_to 'Send it to the queue', queue_admin_entry_path(@entry), method: :patch, data: { confirm: 'Are you sure you want to send this entry to the queue?' }, class: 'button' %></p>
        <% end %>
        <p class="control"><%= button_to 'Publish it!', publish_admin_entry_path(@entry), method: :patch, data: { confirm: 'Are you sure you want to publish this entry? This can’t be undone!' }, class: 'button is-danger' %></p>
      </div>
    </div>
  </div>
<% end %>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">Danger zone!</p>
    </header>
    <div class="card-content">
      This destroys the entry and all its associated data. It can’t be undone!
      <br><br>
      <%= button_to 'Delete it forever!', admin_entry_path(@entry.id), method: :delete, data: { confirm: 'Are you absolutely sure you want to delete it? it really can’t be undone!' }, class: 'button is-danger' %>
    </div>
  </div>
