<ol class="entry-list">
  <%= render partial: 'entry', object: @entry %>

  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Invalidate entry in CloudFront</h2>
      <p class="entry__help">Entries are currently being cached in CloudFront for <%= distance_of_time_in_words(Time.now, Time.now + @max_age.minutes) %>. Press this button to send an invalidation request for this entry.</p>
      <div class="entry__content-buttons">
        <%= button_to 'Send invalidation request', invalidate_admin_entry_path(@entry.id), method: :post, class: 'button' %>
      </div>
    </div>
  </li>

  <% if @entry.show_in_map? %>
  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Update location data</h2>
      <p class="entry__help">Retrieves geographical information from Google Maps using the photos’ geotags, and uses that to autotag the entry.</p>
      <div class="entry__content-buttons">
        <%= button_to 'Update location data', geotag_admin_entry_path(@entry.id), method: :post, class: 'button' %>
      </div>
    </div>
  </li>
  <% end %>

  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Update annotation data</h2>
      <p class="entry__help">Retrieves annotation data in the photos, and uses that to populate keywords and alt text where necessary.</p>
      <div class="entry__content-buttons">
        <%= button_to 'Update annotation data', annotate_admin_entry_path(@entry.id), method: :post, class: 'button' %>
      </div>
    </div>
  </li>

  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Update palette data</h2>
      <p class="entry__help">Retrieves the color palette data for the photos. This sets the placeholder colors for the photos, and the “black and white” & “color” tags.</p>
      <div class="entry__content-buttons">
        <%= button_to 'Update palette data', palette_admin_entry_path(@entry.id), method: :post, class: 'button' %>
      </div>
    </div>
  </li>

  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Publishing status</h2>
      <div class="entry__content-buttons">
        <% unless @entry.is_draft? %>
          <%= button_to 'Send it to the drafts', draft_admin_entry_path(@entry), method: :patch, data: { confirm: 'Are you sure you want to send this entry to the drafts?' }, class: 'button' %>
        <% end %>
        <% unless @entry.is_queued? %>
          <%= button_to 'Send it to the queue', queue_admin_entry_path(@entry), method: :patch, data: { confirm: 'Are you sure you want to send this entry to the queue?' }, class: 'button' %>
        <% end %>
        <% unless @entry.is_published? %>
          <%= button_to 'Publish it!', publish_admin_entry_path(@entry), method: :patch, data: { confirm: 'Are you sure you want to publish this entry? This can’t be undone!' }, class: 'button button--danger' %>
        <% end %>
      </div>
    </div>
  </li>
  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Danger zone!</h2>
      <p class="entry__help">This destroys the entry and all its associated data. It can’t be undone!</p>
      <div class="entry__content-buttons">
        <%= button_to 'Delete it forever!', admin_entry_path(@entry.id), method: :delete, data: { confirm: 'Are you absolutely sure you want to delete it? it really can’t be undone!' }, class: 'button button--danger' %>
      </div>
    </div>
  </li>
</ol>
