<% content_for :nav do %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: 'new' } %>
<% end %>

<%= form_for([:admin, @entry], html: { multipart: true, class: 'form' }) do |f| %>

  <div class="form__photos">
    <ol class="form__photos-list">

    </ol>
    <%= link_to 'Add photo', '#', class: 'button js-photo-add' %>
  </div>

  <%= render partial: 'entry_fields', locals: { f: f } %>

  <div class="form__options">
    <h2>Sharing options</h2>
    <%= f.label :post_to_facebook, class: 'form__label form__label--checkbox' do %><%= f.check_box :post_to_facebook, { checked: true } %> Post to Facebook<% end %>
    <%= f.label :post_to_tumblr, class: 'form__label form__label--checkbox' do %><%= f.check_box :post_to_tumblr, { checked: true } %> Post to Tumblr<% end %>
    <%= f.label :post_to_twitter, class: 'form__label form__label--checkbox' do %>
      <%= f.check_box :post_to_twitter, { checked: true } %> Post to Twitter
    <% end %>
    <%= f.text_area :tweet_text, placeholder: 'Your tweet here…', maxlength: 90, class: 'form__input form__input--textarea form__input--short' %>
  </div>

  <div class="form__actions">
    <div class="form__buttons">
      <%= link_to 'Cancel', admin_entries_path, data: { confirm: 'Are you sure you want to discard this?' }, class: 'button button--danger' %>
    </div>
    <div class="form__buttons form__buttons--safe">
      <div class="form__select-container">
        <%= f.select :status, options_for_select([['Save draft', 'draft'], ['Add to queue', 'queued'], ['Publish it!', 'published']]), {}, { class: 'button button--pad-right' } %>
      </div>
    <%= f.submit 'Save entry', class: 'button button--success' %>
    </div>
  </div>
<% end %>

<%= render partial: 'tag_datalists', locals: { tags: @tags } %>
