<% content_for :nav do %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: 'new' } %>
<% end %>

<%= form_for([:admin, @entry], html: { multipart: true, class: 'admin-form' }) do |f| %>
  <% if @entry.errors.any? %>
    <div class="flash flash--danger">
      <h2>Welp, the entry couldn't be saved.</h2>
      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :photos do |photos_form| %>
    <p><%= photos_form.text_field :source_url, placeholder: 'Photo URL', autocomplete: 'off' %> or <%= photos_form.file_field :source_file %></p>
  <% end %>

  <%= f.text_field :slug, autocomplete: 'off', placeholder: 'Slug', class: 'admin-form__input admin-form__input--small' %>
  <%= f.text_field :title, autocomplete: 'off', placeholder: 'Title', class: 'admin-form__input' %>

  <%= f.text_area :body, placeholder: 'Write here…', class: 'admin-form__input admin-form__input--textarea' %>

  <div class="admin-form__actions">
    <div class="admin-form__buttons">
      <%= link_to 'Forget it', admin_entries_path, class: 'button button--danger' %>
    </div>
    <div class="admin-form__buttons admin-form__buttons--safe">
      <%= f.select :status, options_for_select([['Add to queue', 'queued'], ['Save draft', 'draft'], ['Publish it!', 'published']]), {}, { class: 'button' } %>

    <%= f.submit 'Make it so', class: 'button button--success' %>
    </div>
  </div>
<% end %>
