<h1 class="title is-size-5-mobile">New entry</h1>
<hr class="hr">

<%= form_for([:admin, @entry], html: { multipart: true, 'data-controller': 'entry-form sluggifier', 'data-entry-form-photo-endpoint-value': photo_admin_entries_path, 'data-action': 'submit->entry-form#submit' }) do |f| %>
<div class="field is-horizontal">
  <div class="field-label">
    <%= f.label :photos, 'Photos', class: 'label' %>
    <a href="#" class="button" data-action="click->entry-form#addPhoto">
      <span class="icon">
        <i class="fas fa-plus-circle"></i>
      </span>
    </a>
  </div>
  <div class="field-body">
    <div class="field is-extended">
      <div data-entry-form-target="photos">
        <%= render partial: 'photo_fields', locals: { i: 0 } %>
      </div>
    </div>
  </div>
</div>

  <%= render partial: 'entry_fields', locals: { f: f } %>

  <hr class="hr">
  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-fullwidth" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="queued" data-action="click->radio-tab#toggle">
                <a>
                  <span class="icon is-small"><i class="fas fa-clock"></i></span>
                  <span>Queued</span>
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="draft" data-action="click->radio-tab#toggle">
                <a>
                  <span class="icon is-small"><i class="fas fa-pencil-alt"></i></span>
                  <span>Draft</span>
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="published" data-action="click->radio-tab#toggle">
                <a>
                  <span class="icon is-small"><i class="fas fa-rocket"></i></span>
                  <span>Published</span>
                </a>
              </li>
            </ul>
            <%= f.hidden_field :status, value: 'queued', 'data-radio-tab-target': 'field' %>
          </div>
        </div>
        <% if @photoblog.publish_date_for_new_queued_post.present? %>
          <p class="help">If queued, the entry will be published on <%= @photoblog.publish_date_for_new_queued_post.strftime('%A, %B %-d, %Y') %>.</p>
        <% else %>
          <p class="help">If queued, the entry will not be posted, as no publishing schedule has been set.</p>
        <% end %>
      </div>
    </div>
  </div>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Sharing</h2>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_flickr, 'Share on Flickr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_flickr, value: 'true', 'data-radio-tab-target': 'field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_flickr_groups, 'Share on Flickr groups', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_flickr_groups, 'data-radio-tab-target': 'field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_instagram, 'Share on Instagram', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_instagram, value: 'true', 'data-radio-tab-target': 'field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field" data-controller="character-counter">
        <div class="control is-expanded">
          <%= f.text_area :instagram_text, placeholder: 'Instagram caption…', class: 'textarea', maxlength: 2200, 'data-character-counter-target': 'input', 'data-action': 'input->character-counter#updateCharacterCount' %>
        </div>
        <p class="help"><span data-character-counter-target="characterCount">0</span>/2200 | This will be used as the body in the Instagram caption, along with the title and image metadata (if empty, the existing body will be used.)</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_mastodon, 'Share on Mastodon', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_mastodon, 'data-radio-tab-target': 'field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field" data-controller="character-counter">
        <div class="control is-expanded">
          <%= f.text_area :mastodon_text, placeholder: 'Mastodon caption…', class: 'textarea', maxlength: 400, 'data-character-counter-target': 'input', 'data-action': 'input->character-counter#updateCharacterCount' %>
        </div>
        <p class="help"><span data-character-counter-target="characterCount">0</span>/400 | This will be used as the body in the Mastodon caption, along with the title and permalink (if empty, only the latter will be used.)</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :post_to_tumblr, 'Share on Tumblr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :post_to_tumblr, 'data-radio-tab-target': 'field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Other options</h2>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :show_location, 'Show location', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :show_location, value: 'true', 'data-radio-tab-target': 'field' %>
          </div>
        </div>
        <p class="help">Turning this off also prevents the entry from being automatically tagged with location names.</p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :hide_from_search_engines, 'Hide from search engines', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-radio-tab-target="tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-radio-tab-target="tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :hide_from_search_engines, value: 'false', 'data-radio-tab-target': 'field' %>
          </div>
        </div>
        <p class="help">Prevents Google, Bing, and other search engines from indexing this entry.</p>
      </div>
    </div>
  </div>

  <hr class="hr">
  <div class="buttons is-right">
    <%= f.submit 'Save entry', class: 'button is-success' %>
  </div>
<% end %>
