<% content_for :nav do %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: 'new' } %>
<% end %>

<%= form_for([:admin, @entry], html: { multipart: true, class: 'admin-form' }) do |f| %>
  
  <%= render partial: 'entry_fields', locals: { f: f } %>

  <div class="admin-form__photos">
    <%= link_to 'Add photo', '#', class: 'button button--default' %>
  </div>

  <div class="admin-form__actions">
    <div class="admin-form__buttons">
      <%= link_to 'Cancel', admin_entries_path, data: { confirm: 'Are you sure you want to discard this?' }, class: 'button button--danger' %>
    </div>
    <div class="admin-form__buttons admin-form__buttons--safe">
      <div class="admin-form__select-container">
        <%= f.select :status, options_for_select([['Save draft', 'draft'], ['Add to queue', 'queued'], ['Publish it!', 'published']]), {}, { class: 'button button--pad-right' } %>
      </div>
    <%= f.submit 'Save entry', class: 'button button--success' %>
    </div>
  </div>
<% end %>
