<% @count.to_i.times do |i| %>
  <%= fields_for :entry, @entry do |f| %>
    <%= f.fields_for :photos, child_index: "#{(Time.now.to_f * 1000).to_i}#{i}" do |p| %>
      <div class="admin-form__photo">
        <div class="admin-form__fields admin-form__fields--initial">
          <%= p.url_field :source_url, placeholder: 'Paste a URL', autocomplete: 'off', class: 'admin-form__input admin-form__input--url js-photo-source-url' %>
          <span class="admin-form__fields-separator"></span>
          <% unless Rails.application.secrets.dropbox_key.nil? %>
            <%= link_to 'Add from Dropbox', '#', class: 'button js-photo-dropbox' %>
            <span class="admin-form__fields-separator"></span>
          <% end %>
          <div class="button js-photo-file-button">
            Upload a file
            <%= p.file_field :source_file, accept: '.jpg,.jpeg', class: 'admin-form__input--file js-photo-source-file' %>
          </div>
          <span class="admin-form__fields-separator"></span>
          <%= link_to 'Close', '#', class: 'button button--danger js-photo-delete' %>
        </div>
        <div class="admin-form__fields admin-form__fields--hidden">
          <div class="admin-form__photo-thumb">
            <img class="js-photo-thumb" />
          </div>
          <div class="admin-form__photo-fields">
            <%= p.text_area :caption, placeholder: 'Write a caption for this photo…', class: 'admin-form__input admin-form__input--caption' %>
            <%= p.text_field :camera_list, placeholder: 'Camera', class: 'admin-form__input admin-form__input--small' %>
            <%= p.text_field :lense_list, placeholder: 'Lens', class: 'admin-form__input admin-form__input--small' %>
            <%= p.text_field :film_list, placeholder: 'Film', class: 'admin-form__input admin-form__input--small' %>
            <%= link_to 'Remove', '#', class: 'button button--danger admin-form__photo-delete js-photo-delete' %>
            <%= p.hidden_field :position, class: 'js-photo-position' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
