<% content_for :nav do %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: 'queued' } %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= link_to 'Publish', publish_admin_entry_path(entry), method: :patch, data: { confirm: 'Are you sure?' }  %></td>
        <td><%= link_to 'Move to Drafts', draft_admin_entry_path(entry), method: :patch, data: { confirm: 'Are you sure?' }  %></td>
        <td><%= link_to 'Edit', edit_admin_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', admin_entry_path(entry.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_admin_entry_path %>
