<% cache "admin/entries/queued/page/#{@page}/#{@photoblog.cache_key}" do %>
  <div class="level">
    <div class="level-left">
      <div>
      <h1 class="title is-size-5-mobile">Queued</h1>
      <h2 class="subtitle is-size-6-mobile"><%= pluralize_with_delimiter 'entry', Entry.queued.count %></h2>
      </div>
    </div>
    <div class="level-right">
      <% unless @entries.size == 0 %>
        <a href="<%= admin_entries_queued_organize_path %>" class="button is-small">
          <span class="icon is-small">
            <i class="fas fa-sort"></i>
          </span>
          <span>Organize</span>
        </a>
      <% end %>
    </div>
  </div>
  <hr class="hr">
  <% if @entries.size == 0 %>
    <article class="message is-info">
      <div class="message-body">
        You haven’t queued any entries. Why don’t you <a href="<%= new_admin_entry_path %>">write one</a>?
      </div>
    </article>
  <% else %>
    <%= render partial: 'entry', collection: @entries %>
    <%= paginate @entries, views_prefix: 'admin', outer_window: 1, window: 1 %>
  <% end %>
<% end %>
