<div class="modal is-active"  data-controller="modal">
  <div class="modal-background" data-action="click->modal#close"></div>
  <div class="modal-card">
    <%= form_with url: reblog_admin_entry_path(@entry.id), method: :post, html: { 'data-action': 'ajax:success->modal#close' } do |form| %>
    <header class="modal-card-head">
      <h1 class="modal-card-title">Reblog on Tumblr</h1>
      <button class="delete" data-action="click->modal#close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <div class="field" data-controller="character-counter">
          <div class="control is-expanded">
            <%= form.text_area :text, placeholder: 'Your caption…', maxlength: 10000, class: 'textarea', rows: 8, 'data-character-counter-target': 'input', 'data-action': 'input->character-counter#updateCharacterCount' %>
          </div>
          <p class="help"><span data-character-counter-target="characterCount">0</span>/10,000</p>
        </div>
        <div class="control">
          <label class="radio">
            <%= form.radio_button :state, :published, checked: true %>
            Publish now
          </label>
          <label class="radio">
            <%= form.radio_button :state, :queue %>
            Send to queue
          </label>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="field is-grouped">
        <p class="control">
          <%= form.submit "Reblog", class: 'button is-success' %>
        </p>
        <p class="control">
          <button class="button is-light" data-action="click->modal#close">Cancel</button>
        </p>
      </div>
    </footer>
    <% end %>
  </div>
</div>
