<%= form_tag(admin_search_path, method: 'get', class: 'form') do %>
  <%= text_field_tag :q, @query || '', placeholder: "Search…", class: 'form__input' %>
<% end %>

<% if @query.present? %>
  <% if @entries.size == 0 %>
    <p class="content__message">No results found for “<%= @query %>”.</p>
  <% else %>
    <ol class="entry__list">
      <%= render partial: 'entry', collection: @entries %>
    </ol>
    <%= paginate @entries %>
  <% end %>
<% end %>
