<ol class="entry-list">
  <%= render partial: 'entry', object: @entry %>
  <% if @entry.is_published? %>
  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Buffer</h2>
      <div class="entry__content-buttons">
        <%= button_to 'Send to Facebook', facebook_admin_entry_path(@entry.id), method: :post, class: 'button button--facebook' %>
        <%= button_to 'Send to Instagram', instagram_admin_entry_path(@entry.id), method: :post, class: 'button button--instagram' %>
        <%= button_to 'Send to Twitter', twitter_admin_entry_path(@entry.id), method: :post, class: 'button button--twitter' %>
      </div>
    </div>
  </li>
  <% end %>
  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Instagram</h2>
      <p class="entry__help">Formats images for Instagram’s optimal size and aspect ratio; randomizes Instagram hashtags.</p>
      <div class="entry__thumbs">
        <% @entry.photos.each do |photo| %>
          <div class="entry__thumb--small"><%= image_tag photo.instagram_url, class: 'entry__thumb--small' %></div>
        <% end %>
      </div>
      <form class="form form--no-padding" data-controller="clipboard">
        <textarea class="form__input form__input--textarea-short" readonly="readonly" data-target="clipboard.source"><%= @instagram_text %></textarea>
        <div class="form__actions form__actions--no-padding">
          <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">Copy to clipboard</button>
        </div>
      </form>
    </div>
  </li>
  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Markdown</h2>
      <p class="entry__help">Resizes images to 1200px wide; includes the entry’s hashtags and permalink.</p>
      <div class="entry__thumbs">
        <% @entry.photos.each do |photo| %>
          <div class="entry__thumb--small"><%= image_tag photo.url(w: 1200, fm: 'jpg') %></div>
        <% end %>
      </div>
      <form class="form form--no-padding" data-controller="clipboard">
        <textarea class="form__input form__input--textarea-short" readonly="readonly" data-target="clipboard.source"><%= @markdown %></textarea>
        <div class="form__actions form__actions--no-padding">
          <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">Copy to clipboard</button>
        </div>
      </form>
    </div>
  </li>
</ol>
