<%= render partial: 'entry', object: @entry %>
<% if @entry.is_published? %>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">Buffer</p>
  </header>
  <div class="card-content">
    <div class="buttons">
      <%= link_to icon('Send to Facebook', 'fab fa-facebook'), facebook_admin_entry_path(@entry.id), method: :post, class: 'button' %>
      <%= link_to icon('Send to Instagram', 'fab fa-instagram'), instagram_admin_entry_path(@entry.id), method: :post, class: 'button' %>
      <%= link_to icon('Send to Twitter', 'fab fa-twitter'), twitter_admin_entry_path(@entry.id), method: :post, class: 'button' %>
    </div>
  </div>
</div>
<% end %>

<div class="card" data-controller="photo-resizer">
  <header class="card-header">
    <p class="card-header-title">Images & crops</p>
  </header>
  <div class="card-content">
    <%= form_tag(resize_photos_admin_entry_path, method: 'get', 'data-target': 'photo-resizer.form', 'data-action': 'change->photo-resizer#fetch') do %>
      <div class="field">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <%= select_tag(:size, options_for_select([['Original', 'original'], ['Instagram Feed', 'instagram_feed'], ['Instagram Story', 'instagram_story']] + @sizes.map { |s| ["#{number_with_delimiter s}px wide", s] } + [['Other', 'other']]), prompt: 'Choose a size', 'data-target': 'photo-resizer.select') %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="share-image" data-target="photo-resizer.thumbnails"></div>
  </div>
</div>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">Instagram</p>
  </header>
  <div class="card-content">
    <form data-controller="clipboard">
      <div class="field">
        <div class="control">
          <textarea rows="10" class="textarea" readonly="readonly" data-target="clipboard.source"><%= @entry.instagram_caption %></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">
            <span class="icon">
              <i class="fas fa-clipboard" data-target="clipboard.icon"></i>
            </span>
            <span data-target="clipboard.label">Copy to clipboard</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">Markdown</p>
  </header>
  <div class="card-content">
    <form data-controller="clipboard">
      <div class="field">
        <div class="control">
          <textarea rows="10" class="textarea" readonly="readonly" data-target="clipboard.source"><%= share_markdown @entry %></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">
            <span class="icon">
              <i class="fas fa-clipboard" data-target="clipboard.icon"></i>
            </span>
            <span data-target="clipboard.label">Copy to clipboard</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
