<div class="modal is-active"  data-controller="modal">
  <div class="modal-background" data-action="click->modal#close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h1 class="modal-card-title">Share</h1>
      <button class="delete" data-action="click->modal#close"></button>
    </header>
    <section class="modal-card-body">
        <h2 class="subtitle is-size-6">Send to</h2>
        <div class="buttons">
          <% if @entry.is_published? %>
            <%= link_to icon('Facebook', 'fab fa-facebook'), facebook_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to your Facebook queue in Buffer. Do you want to continue?' }, class: 'button' %>
            <%= link_to icon('Flickr', 'fab fa-flickr'), flickr_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to Flickr immediately. Do you want to continue?' }, class: 'button' %>
          <% end %>
          <%= link_to icon('Instagram', 'fab fa-instagram'), instagram_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to your Instagram queue in Buffer. Do you want to continue?' }, class: 'button' %>
          <% if @entry.is_published? %>
            <%= link_to icon('Pinterest', 'fab fa-pinterest'), pinterest_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to Pinterest immediately. Do you want to continue?' }, class: 'button' %>
            <%= link_to icon('Twitter', 'fab fa-twitter'), twitter_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to your Twitter queue in Buffer. Do you want to continue?' }, class: 'button' %>
            <%= link_to icon('Tumblr', 'fab fa-tumblr'), tumblr_admin_entry_path(@entry.id), remote: true, method: :post, data: { confirm: 'The entry will be sent to your Tumblr queue. Do you want to continue?' }, class: 'button' %>
          <% end %>  
      </div>
        <hr class="hr">
      <h2 class="subtitle is-size-6">Permalinks</h2>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field has-addons" data-controller="clipboard">
            <div class="control is-expanded">
              <input class="input" type="text" data-target="clipboard.source" readonly="readonly" value="<%= @entry.permalink_url %>">
            </div>
            <div class="control">
              <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">
                <span class="icon">
                  <i class="fas fa-clipboard" data-target="clipboard.icon"></i>
                </span>
              </button>
            </div>
          </div>
          <div class="field has-addons" data-controller="clipboard">
            <div class="control is-expanded">
              <input class="input" type="text" data-target="clipboard.source" readonly="readonly" value="<%= @entry.short_permalink_url %>">
            </div>
            <div class="control">
              <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">
                <span class="icon">
                  <i class="fas fa-clipboard" data-target="clipboard.icon"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr">
      <h2 class="subtitle is-size-6">Instagram Hashtags</h2>
      <form data-controller="clipboard">
        <div class="field">
          <div class="control">
            <textarea rows="3" class="textarea" readonly="readonly" data-target="clipboard.source"><%= @entry.instagram_hashtags %></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">
              <span class="icon">
                <i class="fas fa-clipboard" data-target="clipboard.icon"></i>
              </span>
              <span data-target="clipboard.label">Copy to clipboard</span>
            </button>
          </div>
        </div>
      </form>
      <hr class="hr">
      <h2 class="subtitle is-size-6">Markdown</h2>
      <form data-controller="clipboard">
        <div class="field">
          <div class="control">
            <textarea rows="3" class="textarea" readonly="readonly" data-target="clipboard.source"><%= share_markdown @entry %></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">
              <span class="icon">
                <i class="fas fa-clipboard" data-target="clipboard.icon"></i>
              </span>
              <span data-target="clipboard.label">Copy to clipboard</span>
            </button>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button" data-action="click->modal#close">Done</button>
    </footer>
  </div>
</div>
