<div class="entry">
  <% @entry.photos.each do |photo| %>
    <%= image_tag photo.url(w: 1200, fm: 'jpg'), class: 'entry__thumb--block' %>
  <% end %>
  <div class="entry__content <% if @entry.is_text? %>entry__content--text<% end %>">
    <h2><%= sanitize(@entry.plain_title) %></h2>
    <%= sanitize(@entry.formatted_body) unless @entry.body.blank? %>
  </div>
  <div class="entry__meta">
    <div>
      <% @entry.combined_tags.each do |t| %>
        <span class="entry__tag"><%= link_to t.name, admin_tagged_entries_path(t.slug) %></span>
      <% end %>
    </div>
    <div class="entry__timestamp">
      <%= link_to "Published #{@entry.published_at.strftime('%A, %B %-d, %Y')}", @entry.permalink_url %>
    </div>
    <div class="entry__meta-bottom">
      <div class="entry__actions entry__actions--share">
        <form class="form form--no-padding">
          <textarea id="share_text" class="form__input form__input--textarea-short" readonly="readonly"><%= @text %></textarea>
          <div><button class="button button--margin-bottom js-clipboard" data-clipboard-target="#share_text">Copy to clipboard</button></div>
        </form>
        <div class="entry__share-buttons">
          <%= button_to 'Send to Facebook', facebook_admin_entry_path(@entry.id), method: :post, class: 'button button--facebook' %>
          <%= button_to 'Send to Instagram', instagram_admin_entry_path(@entry.id), method: :post, class: 'button button--instagram' %>
          <%= button_to 'Send to Twitter', twitter_admin_entry_path(@entry.id), method: :post, class: 'button button--twitter' %>
        </div>
      </div>
    </div>
  </div>
</div>
