<ol class="entry-list">
  <%= render partial: 'entry', object: @entry %>
  <% if @entry.is_published? %>
  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Buffer</h2>
      <div class="entry__content-buttons">
        <%= button_to 'Send to Facebook', facebook_admin_entry_path(@entry.id), method: :post, class: 'button button--facebook' %>
        <%= button_to 'Send to Instagram', instagram_admin_entry_path(@entry.id), method: :post, class: 'button button--instagram' %>
        <%= button_to 'Send to Twitter', twitter_admin_entry_path(@entry.id), method: :post, class: 'button button--twitter' %>
      </div>
    </div>
  </li>
  <% end %>
  <li class="entry">
    <div class="entry__content entry__content--misc" data-controller="photo-resizer">
      <h2>Images & crops</h2>
      <%= form_tag(resize_photos_admin_entry_path, method: 'get', class: 'form form--no-padding', 'data-target': 'photo-resizer.form', 'data-action': 'change->photo-resizer#fetch') do %>
        <%= select_tag(:size, options_for_select([['Original', 'original'], ['Instagram Feed', 'instagram_feed'], ['Instagram Story', 'instagram_story']] + @sizes.map { |s| ["#{number_with_delimiter s}px wide", s] } + [['Other', 'other']]), prompt: 'Choose a size', class: 'form__dropdown', 'data-target': 'photo-resizer.select') %>
      <% end %>
      <div class="entry__thumbs" data-target="photo-resizer.thumbnails"></div>
    </div>
  </li>
  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Instagram</h2>
      <form class="form form--no-padding" data-controller="clipboard">
        <textarea class="form__input form__input--textarea" readonly="readonly" data-target="clipboard.source"><%= @entry.instagram_caption %></textarea>
        <div class="form__actions form__actions--no-padding">
          <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">Copy to clipboard</button>
        </div>
      </form>
    </div>
  </li>
  <li class="entry">
    <div class="entry__content entry__content--misc">
      <h2>Markdown</h2>
      <form class="form form--no-padding" data-controller="clipboard">
        <textarea class="form__input form__input--textarea" readonly="readonly" data-target="clipboard.source"><%= share_markdown @entry %></textarea>
        <div class="form__actions form__actions--no-padding">
          <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">Copy to clipboard</button>
        </div>
      </form>
    </div>
  </li>
</ol>
