<div class="modal is-active" data-target="modal.modal">
  <div class="modal-background" data-action="click->modal#close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Share</p>
      <button class="delete" data-action="click->modal#close"></button>
    </header>
    <section class="modal-card-body">
      <div class="buttons">
        <%= link_to icon('Facebook', 'fab fa-facebook'), facebook_admin_entry_path(@entry.id), method: :post, data: { confirm: 'The entry will be sent to your Facebook queue in Buffer. Do you want to continue?' }, class: 'button' %>
        <%= link_to icon('Flickr', 'fab fa-flickr'), flickr_admin_entry_path(@entry.id), method: :post, data: { confirm: 'The entry will be posted to Flickr immeditately. Do you want to continue?' }, class: 'button' %>
        <%= link_to icon('Instagram', 'fab fa-instagram'), instagram_admin_entry_path(@entry.id), method: :post, data: { confirm: 'The entry will be sent to your Instagram queue in Buffer. Do you want to continue?' }, class: 'button' %>
        <%= link_to icon('Pinterest', 'fab fa-pinterest'), pinterest_admin_entry_path(@entry.id), method: :post, data: { confirm: 'The entry will be posted to Pinterest immediately. Do you want to continue?' }, class: 'button' %>
        <%= link_to icon('Twitter', 'fab fa-twitter'), twitter_admin_entry_path(@entry.id), method: :post, data: { confirm: 'The entry will be sent to your Twitter queue in Buffer. Do you want to continue?' }, class: 'button' %>
        <%= link_to icon('Tumblr', 'fab fa-tumblr'), tumblr_admin_entry_path(@entry.id), method: :post, data: { confirm: 'The entry will be sent to your Tumblr queue. Do you want to continue?' }, class: 'button' %>
      </div>
      <hr class="hr">
      <form data-controller="clipboard">
        <div class="field">
          <div class="control">
            <textarea rows="10" class="textarea" readonly="readonly" data-target="clipboard.source"><%= share_markdown @entry %></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button" data-target="clipboard.button" data-action="click->clipboard#preventDefault">
              <span class="icon">
                <i class="fas fa-clipboard" data-target="clipboard.icon"></i>
              </span>
              <span data-target="clipboard.label">Copy to clipboard</span>
            </button>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button" data-action="click->modal#close">Done</button>
    </footer>
  </div>
</div>
