<% cache [@entries, @tag_list.first] do %>
  <h1 class="title is-size-5-mobile"><%= @tag_list.first %></h1>
  <h2 class="subtitle is-size-6-mobile"><%= pluralize_with_delimiter 'entry', @tagged_count %></h2>
  <hr class="hr">
  <% if @entries.size == 0 %>
    <article class="message is-info">
      <div class="message-body">
        You haven’t published any entries. Why don’t you <a href="<%= new_admin_entry_path %>">write one</a>?
      </div>
    </article>
  <% else %>
    <%= render partial: 'entry', collection: @entries, cached: true %>
    <%= paginate @entries, views_prefix: 'admin', outer_window: 1, window: 1 %>
  <% end %>
<% end %>
