<%= form_for(@blog, url: admin_settings_update_path) do |f| %>
  <% if @blog.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>Welp, the changes couldn't be saved.</p>
        <button class="delete"></button>
      </div>
      <div class="message-body">
        <% @blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </article>
  <% end %>

  <h1 class="title is-size-5-mobile">Settings</h1>
  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Blog information</h2>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :name, 'Blog title', class: 'label' %></div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :name, placeholder: 'This blog’s title…', class: 'input', required: true, autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :description, 'Blog description', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :description, placeholder: 'This blog’s description…', required: true, class: 'input'%>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :about, 'About this blog', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :about, placeholder: 'The content of this blog’s about page…', required: true, class: 'textarea', rows: 20 %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :domains, 'Domains', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field has-addons">
        <div class="control">
          <a class="button is-static">
            https://
          </a>
        </div>
        <div class="control is-expanded">
          <%= f.text_field :domain, placeholder: 'Domain, e.g., example.com', class: 'input', required: true, autocomplete: 'off' %>
        </div>
      </div>
      <div class="field is-expanded has-addons">
        <div class="control">
          <a class="button is-static">
            https://
          </a>
        </div>
        <div class="control is-expanded">
          <%= f.text_field :short_domain, placeholder: 'Short domain, e.g. xmpl.co', class: 'input', required: true, autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :copyright, 'Copyright', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :copyright, placeholder: 'Your copyright information…', class: 'input', required: true, autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :additional_meta_tags, 'Additional meta tags', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :additional_meta_tags, placeholder: 'For example, Google Webmaster Tools verification tags…', class: 'textarea' %>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Social & links</h2>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :email, 'Email', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.email_field :email, placeholder: 'Your contact email address…', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :facebook, 'Facebook', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :facebook, placeholder: 'Your Facebook profile or page, e.g. https://www.facebook.com/allencompassingtrip', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :flickr, 'Flickr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :flickr, placeholder: 'Your Flickr profile, e.g. https://www.flickr.com/photos/gesteves/', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :instagram, 'Instagram', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :instagram, placeholder: 'Your Instagram profile, e.g. https://www.instagram.com/gesteves/', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :tumblr, 'Tumblr', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :tumblr, placeholder: 'Your Tumblr blog, e.g. https://gesteves.tumblr.com/', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :twitter, 'Twitter', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_field :twitter, placeholder: 'Your Twitter profile, e.g. https://twitter.com/gesteves', class: 'input', autocomplete: 'off' %>
        </div>
      </div>
    </div>
  </div>


  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Logos & icons</h2>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :header_logo_svg, 'Blog logo (SVG)', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control is-expanded">
          <%= f.text_area :header_logo_svg, placeholder: 'SVG for the main logo in the header…', class: 'textarea' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :logo, 'Blog logo (PNG)', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="file">
          <label class="file-label">
            <%= f.file_field :logo, accept: '.png', class: 'file-input' %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-image"></i>
              </span>
              <span class="file-label">
                Choose an image…
              </span>
            </span>
          </label>
        </div>
      </div>
      <% if @blog.logo.attached? %>
        <div><%= image_tag @blog.logo_url %></div>
      <% end %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :touch_icon, 'Icon', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="file">
          <label class="file-label">
            <%= f.file_field :touch_icon, accept: '.png', class: 'file-input' %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-image"></i>
              </span>
              <span class="file-label">
                Choose an image…
              </span>
            </span>
          </label>
        </div>
      </div>
      <% if @blog.touch_icon.attached? %>
        <div><%= image_tag @blog.touch_icon_url %></div>
      <% end %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :favicon, 'Favicon', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="file">
          <label class="file-label">
            <%= f.file_field :favicon, accept: '.png', class: 'file-input' %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-image"></i>
              </span>
              <span class="file-label">
                Choose an image…
              </span>
            </span>
          </label>
        </div>
      </div>
      <% if @blog.favicon.attached? %>
        <div><%= image_tag @blog.favicon_url %></div>
      <% end %>
    </div>
  </div>

  <hr class="hr">
  <h2 class="subtitle is-size-5-mobile">Other options</h2>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= f.label :posts_per_page, 'Entries per page', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <%= f.number_field :posts_per_page, min: 1, max: 120, pattern: '\d+', class: 'input', required: true %>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= f.label :show_related_entries, 'Show related entries', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="tabs is-toggle is-small" data-controller="radio-tab">
            <ul>
              <li data-target="radio-tab.tab" data-radio-tab-value="true" data-action="click->radio-tab#toggle">
                <a>
                  Yes
                </a>
              </li>
              <li data-target="radio-tab.tab" data-radio-tab-value="false" data-action="click->radio-tab#toggle">
                <a>
                  No
                </a>
              </li>
            </ul>
            <%= f.hidden_field :show_related_entries, 'data-target': 'radio-tab.field' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="buttons is-right">
          <%= link_to 'Cancel', admin_entries_path, data: { confirm: 'Are you sure you want to discard your changes?' }, class: 'button' %>
          <%= f.submit 'Save changes', class: 'button is-success' %>
        </div>
      </div>
    </div>
  </div>

<% end %>
