<% cache [entry, local_assigns[:square].presence, local_assigns[:page_url].presence] do %>
  <% photo = entry.photos.first %>
  <% style = local_assigns[:square].presence ? css_gradient_stops(photo) : "#{css_aspect_ratio(photo)}#{css_gradient_stops(photo)}" %>
  <% observer = local_assigns[:page_url].presence && entry_counter == 0 ? "data-controller=\"pagination\" data-pagination-page-url=\"#{page_url}\"" : ''%>
  <% photo_variant = local_assigns[:square].presence ? 'entry_list_square' : 'entry_list' %>

  <li class="entry-list__item" <%= observer.html_safe %>>
    <div class="entry-list__wrapper" style="<%= style %>">
      <a class="entry-list__link" href="<%= entry.permalink_url %>" aria-labelledby="<%= "entry-list-caption-#{entry.id}" %>">
        <div class="entry-list__photo">
          <%= lazy_responsive_image_tag photo, photo_variant, { class: 'entry-list__image', alt: '', 'aria-hidden': true } %>
          <div class="entry-list__photo-caption" id="<%= "entry-list-caption-#{entry.id}" %>">
            <h3 class="entry-list__photo-title"><%= sanitize truncate(entry.plain_title, length: 80, separator: ' ', omission: '…', escape: false) %></h3>
            <p class="entry-list__photo-meta">Published on <%= entry.published_at.strftime('%B %-d, %Y') %></p>
          </div>
        </div>
      </a>
    </div>
  </li>
<% end %>
