<nav class="navbar is-spaced has-shadow" data-controller="nav">
  <div class="container">
    <% if @photoblog.header_logo_svg.present? %>
      <div class="navbar-brand">
        <a href="<%= root_path %>" class="navbar-item logo" data-turbolinks="false">
          <%= @photoblog.header_logo_svg.html_safe %>
        </a>
        <a role="button" class="navbar-burger" data-action="click->nav#toggle" data-target="nav.burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    <% end %>
    <div class="navbar-menu" data-target="nav.menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown" data-controller="dropdown">
          <a class="navbar-link" data-action="click->dropdown#toggle">
            Entries
          </a>
          <div class="navbar-dropdown">
            <a href="<%= new_admin_entry_path %>" class="navbar-item">
              <span>
                <span class="icon is-left">
                  <i class="fas fa-pencil-alt"></i>
                </span>
                <span>New entry</span>
              </span>
            </a>
            <hr class="navbar-divider">
            <a href="<%= admin_entries_path %>" class="navbar-item">
              <span>
                <span class="icon is-left">
                  <i class="fas fa-rocket"></i>
                </span>
                <span>Published</span>
              </span>
            </a>
            <a href="<%= queued_admin_entries_path %>" class="navbar-item">
              <span>
                <span class="icon is-left">
                  <i class="fas fa-clock"></i>
                </span>
                <span>Queued</span>
              </span>
            </a>
            <a href="<%= drafts_admin_entries_path %>" class="navbar-item">
              <span>
                <span class="icon is-left">
                  <i class="fas fa-folder-open"></i>
                </span>
                <span>Drafts</span>
              </span>
            </a>
            <% if @photoblog.has_search? %>
            <hr class="navbar-divider">
            <div class="navbar-item">
              <%= form_tag(admin_search_path, method: 'get', class: 'nav-search' ) do %>
                <div class="control has-icons-left">
                  <%= text_field_tag :q, @query || '', placeholder: 'Search', class: 'input' %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
        <a href="<%= admin_tags_path %>" class="navbar-item">Tags</a>
      </div>
      <div class="navbar-end">
        <a href="<%= admin_settings_path %>" class="navbar-item">Settings</a>
        <a href="<%= signout_path %>" class="navbar-item" data-turbolinks="false">Sign out</a>
      </div>
    </div>
  </div>
</nav>
