<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <title><%= @page_title.nil? ? '' : sanitize("#{@page_title} · ") %><%= @photoblog.name %></title>
  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_pack_tag 'admin', defer: true %>
  <%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.0.10/js/all.js', defer: true %>
</head>
<body>

<% if content_for? :nav %>
  <%= yield :nav %>
<% else %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: 'none' } %>
<% end %>

<div class="content">
  <% flash.each do |name, message| -%>
    <div class="flash flash--<%= name %>" data-controller="flash" data-flash-timeout="5000">
      <p class="flash__message"><%= message %></p>
      <a href="#" class="flash__close" data-action="click->flash#close">&times;</a>
    </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
