<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <%= yield :meta %>
  <title><%= @page_title.nil? ? '' : sanitize("#{@page_title} · ") %><%= @photoblog.name %></title>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= javascript_pack_tag 'admin', defer: true, 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body data-controller="notifications" data-action="notify->notifications#show">
  <%= render partial: 'partials/admin/nav' %>

  <section class="section">
    <div class="container">
      <%= yield %>
    </div>
  </section>

  <div class="notifications" data-target="notifications.container">
    <% flash.each do |name, message| -%>
      <div class="notifications">
        <div class="notification is-<%= name %>">
          <button class="delete" data-action="click->notifications#close"></button>
          <%= message.html_safe %>
      </div>
    <% end %>
  </div>

</body>
</html>
