<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title.nil? ? '' : raw("#{@page_title} &middot; ") %><%= photoblog.name %></title>
  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="http://use.typekit.net/zwv6nvu.js" onload="try{Typekit.load();}catch(e){}" async></script>
</head>
<body>

<% if content_for? :nav %>
  <%= yield :nav %>
<% else %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: 'none' } %>
<% end %>

<% flash.each do |name, message| -%>
  <div class="flash flash--<%= name %>">
    <%= message %>
  </div>
<% end %>

<div class="content">
  <%= yield %>
</div>

<%= javascript_include_tag 'admin' %>
<% unless Rails.application.secrets.dropbox_key.nil? %>
  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="<%= Rails.application.secrets.dropbox_key %>"></script>
<% end %>
</body>
</html>
