<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width" />
  <title><%= @page_title.nil? ? '' : raw("#{@page_title} &middot; ") %><%= @photoblog.name %></title>
  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= csrf_meta_tags %>
  <script>
    (function(d) {
      var config = {
        kitId: 'zwv6nvu',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
</head>
<body>

<% if content_for? :nav %>
  <%= yield :nav %>
<% else %>
  <%= render partial: 'partials/admin/nav', locals: { active_nav: 'none' } %>
<% end %>

<% flash.each do |name, message| -%>
  <div class="flash flash--<%= name %>">
    <%= message %>
  </div>
<% end %>

<div class="content">
  <%= yield %>
</div>

<%= javascript_include_tag 'admin' %>
<% unless ENV['dropbox_key'].nil? %>
  <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="<%= ENV['dropbox_key'] %>"></script>
<% end %>
</body>
</html>
