<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <%= yield :stylesheets %>
  <% if content_for?(:inline_css) %>
    <%= yield :inline_css %>
    <%= content_tag :link, nil, href: asset_url('application.css'), as: :style, rel: :preload, onload: "this.rel='stylesheet'".html_safe %>
  <% else %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <% end %>
  <%= render partial: 'partials/typekit', locals: { typekit_id: ENV['typekit_id']} if ENV['typekit_id'].present? %>
  <% if content_for? :typekit %>
    <%= yield :typekit %>
  <% end %>
  <%= render partial: 'partials/inline_script', locals: { filename: 'vendor/loadcss.js' } %>
  <%= yield :javascript %>
  <%= javascript_pack_tag 'application', defer: true %>
  <%= render partial: 'partials/analytics' %>
</head>
<body>
<%= render partial: 'partials/header.html.erb', locals: { is_minimal: @minimal_header } %>
<%= yield %>
<%= render partial: 'partials/footer.html.erb' unless @hide_footer %>
</body>
</html>
