<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', async: true, 'data-turbolinks-track': 'reload' %>
  <script src="https://use.typekit.net/<%= ENV['typekit_id'] %>.js" onload="try{Typekit.load({async:true});}catch(e){}" async></script>
  <%= render partial: 'partials/analytics' if Rails.env.production? && ENV['analytics_id'].present? %>
</head>
<body>
<%= render partial: 'partials/header.html.erb' %>
<%= yield %>
<%= render partial: 'partials/footer.html.erb' %>
</body>
</html>
