<!DOCTYPE html>
<html lang="en" id="top">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :head %>
  <% if is_repeat_visit? || !content_for?(:inline_css) %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <% else %>
    <%= yield :inline_css %>
    <%= stylesheet_link_tag 'application', media: 'print', onload: "this.media='all'" %>
    <noscript><%= stylesheet_link_tag 'application', media: 'all' %></noscript>
  <% end %>
  <%= render partial: 'partials/typekit', locals: { typekit_id: ENV['typekit_id']} if ENV['typekit_id'].present? %>
  <%= yield :javascript %>
  <%= javascript_pack_tag 'application', defer: true %>
  <%= render partial: 'partials/analytics_head' %>
</head>
<body>
<a class="skip-link sr-only" href="#main-content">Skip to content</a>
<%= render partial: 'partials/header' %>
<div id="main-content">
  <%= yield %>
</div>
<%= render partial: 'partials/footer' %>
<%= render partial: 'partials/analytics_body' %>
</body>
</html>
