<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :head %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :stylesheets %>
  <%= render partial: 'partials/typekit', locals: { typekit_id: ENV['typekit_id']} if ENV['typekit_id'].present? %>
  <% if content_for? :typekit %>
    <%= yield :typekit %>
  <% end %>
  <%= yield :javascript %>
  <%= javascript_pack_tag 'application', defer: true %>
  <%= render partial: 'partials/analytics_head' %>
</head>
<body>
<%= render partial: 'partials/header' %>
<%= yield %>
<%= render partial: 'partials/footer' %>
</body>
</html>
