<!DOCTYPE html>
<html lang="en" id="top">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :head %>
  <% if is_repeat_visit? || !content_for?(:inline_css) %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <% else %>
    <%= yield :inline_css %>
    <link rel="preload" as="style" href="<%= stylesheet_url 'application' %>">
    <%= stylesheet_link_tag 'application', media: 'print', onload: "this.media='all'" %>
    <noscript><%= stylesheet_link_tag 'application', media: 'all' %></noscript>
  <% end %>
  <%= stylesheet_link_tag 'print', media: 'print' %>
  <%= yield :javascript %>
</head>
<body>
<a class="skip-link sr-only" href="#main-content">Skip to content</a>
<%= render partial: 'partials/header' %>
<div id="main-content">
  <%= yield %>
</div>
<%= render partial: 'partials/footer' %>
</body>
</html>
