<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :head %>
  <% if @has_visited || !content_for?(:inline_css) %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <% else %>
    <%= yield :inline_css %>
    <%= stylesheet_link_tag 'application', media: 'print', onload: "this.media='all'" %>
  <% end %>
  <%= yield :stylesheets %>
  <%= render partial: 'partials/typekit', locals: { typekit_id: ENV['typekit_id']} if ENV['typekit_id'].present? %>
  <% if content_for? :typekit %>
    <%= yield :typekit %>
  <% end %>
  <%= yield :javascript %>
  <%= javascript_pack_tag 'application', defer: true %>
  <%= render partial: 'partials/analytics' %>
</head>
<body>
<%= render partial: 'partials/header.html.erb' %>
<%= yield %>
<%= render partial: 'partials/footer.html.erb' %>
</body>
</html>
