<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/analytics' if Rails.env.production? %>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <script src="http://use.typekit.net/vtp0iqq.js" onload="try{Typekit.load();}catch(e){}" async></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield :svg %>
<% cache "header/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <header class="header">
    <h1><a href="/"><%= @photoblog.name %></a></h1>
    <h2><%= raw @photoblog.description %></h2>
  </header>
<% end %>

<%= yield %>

<footer class="footer">
    <p>If you like these photos, follow me on <a href="http://twitter.com/gesteves" rel="me">Twitter</a>, <a href="http://instagram.com/gesteves" rel="me">Instagram</a>, <a href="http://gesteves.tumblr.com" rel="me">Tumblr</a>, or subscribe to my <%= link_to 'RSS feed', rss_url %>.</p>
    <p>&copy; 2009-<%= Time.now.strftime('%Y') %> <a href="http://www.gesteves.com" rel="me">Guillermo Esteves</a>. Have a nice day!</p>
</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track': true, 'data-turbolinks-eval': false %>
</body>
</html>
