<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <% if @has_visited || !content_for?(:inline_css) %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', async: true %>
  <% else %>
    <%= yield :inline_css %>
    <%= javascript_include_tag 'application', async: true, onload: "loadCSS('#{asset_url 'application.css'}');".html_safe %>
    <noscript>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    </noscript>
  <% end %>
  <script src="https://use.typekit.net/vtp0iqq.js" onload="try{Typekit.load({async:true});}catch(e){}" async></script>
  <%= render partial: 'partials/analytics' if Rails.env.production? && ENV['analytics_id'].present? %>
</head>
<body>
<%= render partial: 'partials/header.html.erb' %>
<%= yield %>
<%= render partial: 'partials/footer.html.erb' %>
<%= render partial: 'partials/icons.svg.erb' %>
</body>
</html>
