<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <% if @has_visited %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', async: true %>
  <% else %>
    <%= yield :inline_css %>
    <%= javascript_include_tag 'application', async: true, onload: "loadCSS('#{asset_url 'application.css'}');".html_safe %>
    <noscript>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    </noscript>
  <% end %>
  <script src="https://use.typekit.net/vtp0iqq.js" onload="try{Typekit.load({async:true});}catch(e){}" async></script>
  <%= render partial: 'partials/analytics' if Rails.env.production? && ENV['analytics_id'].present? %>
</head>
<body>
<%= render partial: 'partials/icons.svg.erb' %>

<header class="header">
  <a href="/" class="header__link">
    <%= render partial: 'partials/allencompassingtrip.svg.erb', locals: { classes: 'header__icon' } %>
  </a>
</header>

<%= yield %>

<footer class="footer">
    <div class="follow">
      <a href="http://instagram.com/gesteves" class="follow__link" rel="me" title="Follow on Instagram"><%= inline_svg 'instagram', 'follow__icon' %></a>
      <a href="http://twitter.com/gesteves" class="follow__link" rel="me" title="Follow on Twitter"><%= inline_svg 'twitter', 'follow__icon' %></a>
      <a href="http://gesteves.tumblr.com" class="follow__link" rel="me" title="Follow on Tumblr"><%= inline_svg 'tumblr', 'follow__icon' %></a>
      <a href="<%= rss_url %>" class="follow__link" title="Subscribe to RSS"><%= inline_svg 'rss', 'follow__icon' %></a>
      <a href="mailto:contact@allencompassingtrip.com" class="follow__link" title="Contact"><%= inline_svg 'email', 'follow__icon' %></a>
    </div>
    <p>&copy; 2009-<%= Time.now.strftime('%Y') %> <a href="http://www.gesteves.com" rel="me">Guillermo Esteves</a>. Have a nice day.</p>
</footer>
</body>
</html>
