<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <% if @has_visited || !content_for?(:inline_css) %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <% else %>
    <%= yield :inline_css %>
    <%= content_tag :link, nil, href: asset_url('application.css'), as: :style, rel: :preload, onload: "this.rel='stylesheet'".html_safe %>
    <%= javascript_include_tag 'preload', async: true %>
  <% end %>
  <%= javascript_include_tag 'application/image_zoom', async: true %>
  <%= javascript_include_tag 'application/lazy_load', async: true %>
  <% if ENV['typekit_id'].present? %>
    <script>
      (function(d) {
        var config = {
          kitId: '<%= ENV['typekit_id'] %>',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  <% end %>
  <%= @photoblog.analytics_code.try(:html_safe) %>
</head>
<body>
<%= render partial: 'partials/header.html.erb' %>
<%= yield %>
<%= render partial: 'partials/footer.html.erb' %>
</body>
</html>
