<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <% if @has_visited || !content_for?(:inline_css) %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <% else %>
    <%= yield :inline_css %>
    <%= content_tag :link, nil, href: asset_url('application.css'), as: :style, rel: :preload, onload: "this.rel='stylesheet'".html_safe %>
    <script>
      if (!document.createElement('link').relList.supports('preload')) {
        var s = document.createElement('script');
        s.src = '<%= asset_path 'preload' %>';
        s.async = true;
        document.head.appendChild(s);
      }
    </script>
  <% end %>
  <%= javascript_include_tag 'application/image_zoom', async: true %>
  <%= javascript_include_tag 'application/lazy_load', async: true %>
  <%= javascript_include_tag "https://use.typekit.net/#{ENV['typekit_id']}.js", async: true, onload: 'try{Typekit.load({async:true})}catch(e){}' if ENV['typekit_id'].present? %>
  <%= @photoblog.analytics_code.try(:html_safe) %>
</head>
<body>
<%= render partial: 'partials/header.html.erb' %>
<%= yield %>
<%= render partial: 'partials/footer.html.erb' %>
</body>
</html>
