<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', async: true %>
  <script src="https://use.typekit.net/vtp0iqq.js" onload="try{Typekit.load({async:true});}catch(e){}" async></script>
  <%= render partial: 'partials/analytics' if Rails.env.production? && ENV['analytics_id'].present? %>
</head>
<body>
<%= render partial: 'partials/icons.svg.erb' %>
<%= render partial: 'partials/header.html.erb' %>
<%= yield %>
<footer class="footer">
    <p>&copy; 2009-<%= Time.now.strftime('%Y') %> <a href="http://www.gesteves.com" rel="me">Guillermo Esteves</a>. Have a nice day.</p>
</footer>
</body>
</html>
