<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <%= stylesheet_link_tag 'components/base', media: 'all' %>
  <%= yield :stylesheets %>
  <%= yield :javascript %>
  <% if content_for? :typekit %>
    <%= yield :typekit %>
  <% else %>
    <% if ENV['typekit_light_id'].present? %>
      <%= render partial: 'partials/typekit', locals: { typekit_id: ENV['typekit_light_id']} %>
    <% elsif ENV['typekit_id'].present? %>
      <%= render partial: 'partials/typekit', locals: { typekit_id: ENV['typekit_id']} %>
    <% end %>
  <% end %>
  <%= @photoblog.analytics_code.try(:html_safe) %>
</head>
<body>
<%= render partial: 'partials/header.html.erb', locals: { is_minimal: @minimal_header } %>
<%= yield %>
<%= render partial: 'partials/footer.html.erb' unless @hide_footer %>
</body>
</html>
