<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <%= javascript_include_tag 'application/analytics', async: true %>
  <%= javascript_include_tag 'application/image_zoom', async: true %>
  <%= javascript_include_tag 'application/lazy_load', async: true %>
  <script src="https://use.typekit.net/<%= ENV['typekit_id'] %>.js" onload="try{Typekit.load({async:true});}catch(e){}" async></script>
  <%= render partial: 'partials/analytics' if Rails.env.production? && ENV['analytics_id'].present? %>
</head>
<body>
<%= stylesheet_link_tag 'base', media: 'all' %>
<%= render partial: 'partials/header.html.erb' %>
<%= yield %>
<%= render partial: 'partials/footer.html.erb' %>
</body>
</html>
