<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/analytics' if Rails.env.production? %>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <script src="http://use.typekit.net/vtp0iqq.js" onload="try{Typekit.load();}catch(e){}" async></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'partials/icons.svg.erb' %>

<% cache "header/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <header class="header">
    <h1><a href="/"><%= @photoblog.name %></a></h1>
    <h2><%= raw @photoblog.description %></h2>
  </header>
<% end %>

<%= yield %>

<footer class="footer">
    <div class="follow">
      <a href="http://instagram.com/gesteves" class="follow__link" rel="me" title="Follow on Instagram"><%= inline_svg 'instagram', 'follow__icon' %></a>
      <a href="http://twitter.com/gesteves" class="follow__link" rel="me" title="Follow on Twitter"><%= inline_svg 'twitter', 'follow__icon' %></a>
      <a href="http://gesteves.tumblr.com" class="follow__link" rel="me" title="Follow on Tumblr"><%= inline_svg 'tumblr', 'follow__icon' %></a>
      <a href="<%= rss_url %>" class="follow__link" title="Subscribe to RSS"><%= inline_svg 'rss', 'follow__icon' %></a>
    </div>
    <p>&copy; 2009-<%= Time.now.strftime('%Y') %> <a href="http://www.gesteves.com" rel="me">Guillermo Esteves</a>. Published with <a href="https://github.com/gesteves/denali">Denali</a>.</p>
</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track': true, 'data-turbolinks-eval': false %>
</body>
</html>
