<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'partials/analytics' if Rails.env.production? %>
  <%= render partial: 'partials/meta_tags' %>
  <%= yield :meta %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="http://use.typekit.net/vtp0iqq.js" onload="try{Typekit.load();}catch(e){}" async></script>
  <%= csrf_meta_tags %>
</head>
<body>

<% cache "header/#{@photoblog.id}/#{@photoblog.updated_at.to_i}" do %>
  <header class="header">
    <h1><a href="/"><%= @photoblog.name %></a></h1>
    <h2><%= raw @photoblog.description %></h2>
  </header>
<% end %>

<%= yield %>

<% cache "footer/#{Time.now.strftime('%Y')}" do %>
  <footer class="footer">
      <ul class="shortcuts">
        <li class="shortcuts__shortcut">
          <kbd class="shortcuts__key">&larr;</kbd>
          <kbd class="shortcuts__key">j</kbd>
          Newer posts
        </li>
        <li class="shortcuts__shortcut">
          <kbd class="shortcuts__key">&rarr;</kbd>
          <kbd class="shortcuts__key">k</kbd>
          Older posts
        </li>
        <li class="shortcuts__shortcut">
          <kbd class="shortcuts__key">z</kbd>
          Zoom images
        </li>
      </ul>
      <p>
        &copy; <%= copyright_years %>
        <a href="http://gesteves.com" rel="me">Guillermo Esteves</a>
      </p>
  </footer>
<% end %>

<%= javascript_include_tag 'application' %>
</body>
</html>
